Repository lightdash/lightdash, pull requests merged in 2021-12, with the labels that each got.

#930 fix: log unhandled rejections and uncaught exceptions
  packages/backend/src/index.ts
Labels: backend

#933 style: redesign app bar
  packages/frontend/src/components/AppBar.tsx
  packages/frontend/src/svgs/logo.svg
Labels: frontend

#935 feat: homepage mock endpoint
  packages/backend/src/api/organizationRouter.ts
  packages/common/src/index.ts
  packages/frontend/src/api.ts
Labels: backend

#942 feat: add latest dashboards and saved charts in home page
  packages/frontend/src/components/AppBar.tsx
  packages/frontend/src/components/DashboardTiles/TileForms/ChartTileForm.tsx
  packages/frontend/src/components/Home/LatestCard.tsx
  packages/frontend/src/components/Home/LatestDashboards.tsx
  packages/frontend/src/components/Home/LatestSavedCharts.tsx
  packages/frontend/src/components/Home/SuccessfulOnboarding.tsx
  packages/frontend/src/hooks/useProjects.ts
  packages/frontend/src/hooks/useSpaces.ts
  packages/frontend/src/pages/Home.tsx
  packages/frontend/src/pages/SavedQueries.tsx
Labels: frontend

#944 feat: add onboarding backend logic
  packages/backend/src/@types/knex-tables.d.ts
  packages/backend/src/api/organizationRouter.ts
  packages/backend/src/database/entities/onboarding.ts
  packages/backend/src/database/migrations/20211206091546_add_onboarding_table.ts
  packages/backend/src/database/seeds/development/01_initial_user.ts
  packages/backend/src/models/InviteLinkModel.ts
  packages/backend/src/models/OnboardingModel/OnboardingModel.ts
  packages/backend/src/models/ProjectModel/ProjectModel.ts
  packages/backend/src/models/models.ts
  packages/backend/src/services/OrganizationService.ts
  packages/backend/src/services/ProjectService/ProjectService.ts
  packages/backend/src/services/SavedChartsService/SavedChartsService.ts
  packages/backend/src/services/services.ts
  packages/common/src/index.ts
  packages/frontend/src/components/OnboardingSteps.tsx
  packages/frontend/src/pages/Home.tsx
Labels: backend

#947 feat: record shown success
  packages/frontend/src/components/Home/SuccessfulOnboarding.tsx
  packages/frontend/src/hooks/useInviteLink.tsx
  packages/frontend/src/hooks/useOnboardingStatus.ts
Labels: frontend

#946 chore: add onboarding events
  packages/frontend/src/components/OnboardingSteps.tsx
  packages/frontend/src/providers/TrackingProvider.tsx
  packages/frontend/src/types/Events.ts
Labels: frontend

#943 chore: add logger
  .gitignore
  packages/backend/package.json
  packages/backend/src/api/projectRouter.ts
  packages/backend/src/index.ts
  packages/backend/src/logger.ts
  packages/backend/src/morganMiddleware.ts
  packages/backend/src/projectAdapters/dbtBaseProjectAdapter.ts
  packages/backend/src/projectAdapters/dbtGitProjectAdapter.ts
  packages/backend/src/projectAdapters/projectAdapter.ts
  packages/backend/src/services/warehouseClients/warehouseClientFromCredentials.ts
Labels: backend, devx

#956 feat: order saved charts in home page by updated date
  packages/backend/src/database/entities/savedQueries.ts
  packages/backend/src/database/entities/spaces.ts
  packages/common/src/index.ts
  packages/frontend/src/components/Explorer.tsx
  packages/frontend/src/components/Home/LatestSavedCharts.tsx
  packages/frontend/src/components/SavedQueries/CreateSavedQueryModal.tsx
Labels: frontend, backend

#967 style: add skeleton loading to latest cards
  packages/frontend/src/components/Home/LatestCard.tsx
  packages/frontend/src/components/Home/LatestDashboards.tsx
  packages/frontend/src/components/Home/LatestSavedCharts.tsx
Labels: frontend

#980 test: add onboarding unit tests
  packages/backend/src/models/UserModel.ts
  packages/backend/src/services/OrganizationService/OrganizationService.mock.ts
  packages/backend/src/services/OrganizationService/OrganizationService.test.ts
  packages/backend/src/services/OrganizationService/OrganizationService.ts
  packages/backend/src/services/ProjectService/ProjectService.mock.ts
  packages/backend/src/services/ProjectService/ProjectService.test.ts
  packages/backend/src/services/services.ts
Labels: backend, tests

#981 refactor: add footer to all pages
  packages/frontend/src/App.tsx
  packages/frontend/src/components/AboutFooter.tsx
  packages/frontend/src/components/DashboardTiles/EmptyStateNoTiles.tsx
  packages/frontend/src/components/ExploreSideBar.tsx
  packages/frontend/src/components/Explorer.tsx
  packages/frontend/src/components/ExplorerResults.tsx
  packages/frontend/src/components/PageSpinner.tsx
  packages/frontend/src/components/ResultsTable/ResultsTable.tsx
  packages/frontend/src/components/SqlRunner/SqlRunnerResultsTable.tsx
  packages/frontend/src/components/UserSettingsModal/UserSettingsModal.tsx
  packages/frontend/src/components/common/Page/Content.tsx
  packages/frontend/src/components/common/Page/Page.tsx
  packages/frontend/src/components/common/Page/PageWithSidebar.tsx
  packages/frontend/src/components/common/Page/Sidebar.tsx
  packages/frontend/src/pages/CreateProject.tsx
  packages/frontend/src/pages/CreateProjectSettings.tsx
  packages/frontend/src/pages/Dashboard.tsx
  packages/frontend/src/pages/Explorer.tsx
  packages/frontend/src/pages/Home.tsx
  packages/frontend/src/pages/ProjectSettings.tsx
  packages/frontend/src/pages/Register.tsx
  packages/frontend/src/pages/SavedDashboards.tsx
  packages/frontend/src/pages/SavedExplorer.tsx
  packages/frontend/src/pages/SavedQueries.tsx
  packages/frontend/src/pages/Signup.tsx
  packages/frontend/src/pages/SqlRunner.tsx
  packages/frontend/src/pages/Welcome.tsx
  packages/frontend/src/pages/login.tsx
  packages/frontend/src/providers/TrackingProvider.tsx
  packages/frontend/src/svgs/grey-icon-logo.svg
  packages/frontend/src/types/Events.ts
Labels: frontend

#985 chore: replace comment and note styling
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/discussion.md
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/feature-request.md
Labels: documentation

#993 fix: make dashboard page full width
  packages/frontend/src/components/common/Page/Page.tsx
  packages/frontend/src/pages/Dashboard.tsx
Labels: bug, frontend, ux-day

#1052 ci: fix docker compose yml version
  docker-compose.yml
  docker/docker-compose.dev.yml
  examples/full-jaffle-shop-demo/docker-compose.yml
Labels: bug, backend

#1063 fix: timeinterval bigquery quoting
  packages/backend/src/dbt/translator.mock.ts
  packages/backend/src/dbt/translator.ts
Labels: bug, backend
