Repository lightdash/lightdash, pull requests merged in 2022-03, with the labels that each got.

#1495 fix(charts): get axis type from valid field key
  packages/frontend/src/hooks/useEcharts.ts
Labels: bug, frontend

#1525 fix(charts): allow value/value axis for charts that are not bars
  packages/frontend/src/hooks/useEcharts.ts
Labels: bug, frontend

#1538 chore: update issue template
  .github/ISSUE_TEMPLATE/feature-request.md
Labels: devx

#1542 docs: adds hidden label
  docs/docs/references/dimensions.md
  docs/docs/references/metrics.md
Labels: documentation

#1544 fix(charts): pivot by date
  packages/frontend/src/hooks/useEcharts.ts
Labels: bug, frontend

#1554 docs: add search + other small improvements
  docs/docusaurus.config.js
  docs/package.json
  docs/src/css/custom.css
  docs/static/img/lightdash-full-darkbg.png
  docs/static/img/lightdash-full-lightbg.png
  docs/static/img/logo.png
  docs/static/img/logo.svg
  docs/yarn.lock
Labels: documentation

#1598 docs: adds forgot password guides
  docs/docs/guides/assets/screenshot-forgot-password.png
  docs/docs/guides/how-to-reset-your-password.md
  docs/sidebars.js
Labels: documentation

#1605 fix(charts): default label for single grouped metric
  packages/frontend/src/components/ChartConfigPanel/Series/GroupedSeriesConfiguration.tsx
  packages/frontend/src/hooks/useEcharts.ts
Labels: bug, frontend
