Repository lightdash/lightdash, pull requests merged in 2022-06, with the labels that each got.

#2294 docs: updates invites docs
  docs/docs/get-started/exploring-data/assets/add-user-email.png
  docs/docs/get-started/exploring-data/assets/invite_user_action.png
  docs/docs/get-started/exploring-data/assets/pending-invites.png
  docs/docs/get-started/exploring-data/sharing-insights.mdx
  docs/docs/intro.md
  docs/sidebars.js
Labels: 📖 documentation

#2299 feat: upddate general styling on forms
  packages/e2e/cypress/integration/login.spec.ts
  packages/frontend/src/components/CreateUserForm.tsx
  packages/frontend/src/components/CreateUserForm/CreateUserForm.styles.ts
  packages/frontend/src/components/CreateUserForm/index.tsx
  packages/frontend/src/components/UserCompletionModal/UserCompletionModal.styles.tsx
  packages/frontend/src/components/UserCompletionModal/index.tsx
  packages/frontend/src/components/common/GoogleLoginButton.tsx
  packages/frontend/src/components/common/GoogleLoginButton/GoogleLoginButton.styles.tsx
  packages/frontend/src/components/common/GoogleLoginButton/index.tsx
  packages/frontend/src/index.css
  packages/frontend/src/pages/Login.tsx
  packages/frontend/src/pages/Register.tsx
  packages/frontend/src/pages/SignUp.styles.tsx
  packages/frontend/src/pages/Signup.tsx
Labels: 🖥 frontend

#2330 chore: add github action for security check
  .github/workflows/security.yml
Labels: 👩‍💻 devx

#2383 fix: dashboard tile scroll
  packages/frontend/src/components/DashboardTiles/DashboardChartTile.styles.tsx
  packages/frontend/src/components/DashboardTiles/DashboardChartTile.tsx
  packages/frontend/src/components/DashboardTiles/TileBase/TileBase.styles.tsx
  packages/frontend/src/components/Explorer/VisualizationCard/VisualizationCard.styles.ts
  packages/frontend/src/components/Explorer/VisualizationCard/VisualizationCard.tsx
  packages/frontend/src/components/SimpleChart/index.tsx
  packages/frontend/src/components/SimpleTable/SimpleTable.styles.tsx
  packages/frontend/src/pages/SqlRunner.styles.ts
Labels: 🐛 bug, 🖥 frontend

#2384 fix: dont expose env vars to dbt process
  packages/backend/src/dbt/dbtCliClient.ts
Labels: 🐛 bug, ⚙️ backend

#2385 feat: add formatting options for dbt metrics
  packages/common/src/compiler/translator.ts
Labels: 🐛 bug, ⚙️ backend

#2414 chore: update e2e dependencies
  .github/workflows/e2e-tests.yml
  .gitignore
  packages/e2e/cypress.config.ts
  packages/e2e/cypress.json
  packages/e2e/cypress/e2e/api.cy.ts
  packages/e2e/cypress/e2e/createProjects.cy.ts
  packages/e2e/cypress/e2e/dashboard.cy.ts
  packages/e2e/cypress/e2e/explore.cy.ts
  packages/e2e/cypress/e2e/login.cy.ts
  packages/e2e/cypress/e2e/savedDashboards.cy.ts
  packages/e2e/cypress/e2e/settings/invites.cy.ts
  packages/e2e/cypress/e2e/settings/profile.cy.ts
  packages/e2e/cypress/e2e/sqlrunner.cy.ts
  packages/e2e/cypress/support/e2e.ts
  packages/e2e/cypress/support/index.ts
  packages/e2e/package.json
  yarn.lock
Labels: 👩‍💻 devx

#2423 chore: improvements + fixes to e2e tests
  .github/workflows/e2e-tests.yml
  packages/e2e/cypress/e2e/api.cy.ts
  packages/e2e/cypress/e2e/createProjects.cy.ts
  packages/e2e/cypress/e2e/dashboard.cy.ts
  packages/e2e/cypress/e2e/explore.cy.ts
  packages/e2e/cypress/e2e/savedDashboards.cy.ts
  packages/e2e/cypress/e2e/sqlrunner.cy.ts
  packages/e2e/cypress/support/commands.ts
  packages/e2e/cypress/support/e2e.ts
Labels: 👩‍💻 devx

#2430 feat: api to update explores
  packages/backend/src/routers/projectRouter.ts
  packages/backend/src/services/ProjectService/ProjectService.ts
Labels: ✨ feature-request, ⚙️ backend

#2406 docs: add draft roles and permissions docs
  docs/docs/references/roles.mdx
Labels: 📖 documentation

#2450 fix: apply dashboard filter
  packages/frontend/src/components/DashboardTiles/DashboardChartTile.tsx
Labels: 🐛 bug, 🖥 frontend

#2439 fix: warn about hidden dimensions being used
  packages/frontend/src/components/TableTree.styles.ts
  packages/frontend/src/components/TableTree.tsx
Labels: 🐛 bug, 🖥 frontend

#2453 docs: personal access tokens
  docs/docs/references/personal_tokens.md
  docs/docs/references/roles.md
Labels: 📖 documentation

#2459 feat: access project permissions in the UI
  packages/backend/src/models/DashboardModel/DashboardModel.mock.ts
  packages/backend/src/models/UserModel.ts
  packages/backend/src/services/DashboardService/DashboardService.mock.ts
  packages/backend/src/services/DashboardService/DashboardService.test.ts
  packages/backend/src/services/OrganizationService/OrganizationService.mock.ts
  packages/backend/src/services/ProjectService/ProjectService.mock.ts
  packages/backend/src/services/ProjectService/ProjectService.test.ts
  packages/common/src/authorization/index.mock.ts
  packages/common/src/authorization/index.test.ts
  packages/common/src/authorization/index.ts
  packages/common/src/authorization/organizationMemberAbility.test.ts
  packages/common/src/authorization/organizationMemberAbility.ts
  packages/common/src/authorization/projectMemberAbility.test.ts
  packages/common/src/authorization/projectMemberAbility.ts
  packages/common/src/authorization/types.ts
  packages/common/src/index.ts
  packages/common/src/openapi/schemas/LightdashUser.json
  packages/common/src/openapibundle.json
  packages/common/src/types/user.ts
  packages/frontend/package.json
  packages/frontend/src/App.tsx
  packages/frontend/src/components/AppRoute.tsx
  packages/frontend/src/components/ForbiddenPanel.tsx
  packages/frontend/src/components/PrivateRoute.tsx
  packages/frontend/src/components/ProjectRoute.tsx
  packages/frontend/src/components/common/Authorization/index.tsx
  packages/frontend/src/pages/ProjectSettings.tsx
  packages/frontend/src/providers/AppProvider.tsx
  packages/frontend/src/types/Events.ts
  yarn.lock
Labels: 🖥 frontend, ⚙️ backend

#2494 fix: user cascade deletion
  packages/backend/src/database/migrations/20220622093921_remove-user-cascade-deletion.ts
Labels: 🐛 bug, ⚙️ backend

#2505 fix: project access permissions
  packages/backend/src/models/JobModel/JobModel.ts
  packages/backend/src/services/DashboardService/DashboardService.ts
  packages/backend/src/services/ProjectService/ProjectService.ts
  packages/backend/src/services/SavedChartsService/SavedChartService.ts
  packages/e2e/cypress/e2e/createProjects.cy.ts
  packages/e2e/cypress/e2e/projectPermission.cy.ts
  packages/frontend/src/components/ProjectAccess/ProjectAccess.tsx
  packages/frontend/src/components/ProjectConnection/index.tsx
  packages/frontend/src/components/ProjectTablesConfiguration/ProjectTablesConfiguration.tsx
  packages/frontend/src/components/UserSettings/AppearancePanel/index.tsx
  packages/frontend/src/components/UserSettings/ProjectManagementPanel/index.tsx
  packages/frontend/src/pages/ProjectSettings.tsx
  packages/frontend/src/pages/Settings.tsx
Labels: 🐛 bug, 🖥 frontend, ⚙️ backend

#2557 docs: remove toles and permissions caution message
  docs/docs/references/roles.md
Labels: 📖 documentation

#2572 docs: cli readme
  packages/cli/README.md
Labels: 📖 documentation

#2568 feat: allow server payload configuration
  packages/backend/src/config/parseConfig.ts
  packages/backend/src/index.ts
  packages/backend/src/models/ProjectModel/ProjectModel.mock.ts
Labels: ✨ feature-request, ⚙️ backend

#2587 docs: updates getting started docs
  docs/docs/get-started/exploring-data/intro.mdx
  docs/docs/get-started/exploring-data/using-explores.md
  docs/docs/get-started/intro.mdx
  docs/docs/get-started/setup-lightdash/add-metrics.mdx
  docs/docs/get-started/setup-lightdash/connect-project.mdx
  docs/docs/get-started/setup-lightdash/install-lightdash.mdx
  docs/docs/get-started/setup-lightdash/intro.mdx
  docs/docs/get-started/setup-lightdash/lightdash-cli.mdx
  docs/docs/get-started/setup-lightdash/new-to-dbt.mdx
  docs/docs/guides/how-to-install-the-lightdash-cli.mdx
  docs/docs/guides/how-to-reset-your-password.md
  docs/docs/intro.md
  docs/sidebars.js
Labels: 📖 documentation

#2601 docs: add developer tutorial
  docs/docs/get-started/develop-in-lightdash/intro.mdx
  docs/docs/get-started/intro.mdx
  docs/docs/get-started/setup-lightdash/add-metrics.mdx
  docs/docs/get-started/setup-lightdash/lightdash-cli.mdx
  docs/docs/guides/how-to-create-dimensions.md
  docs/docs/guides/how-to-create-metrics.mdx
  docs/docs/intro.md
  docs/sidebars.js
Labels: 📖 documentation

#2602 fix: field sorting
  packages/frontend/src/components/TableTree.tsx
Labels: 🐛 bug, 🖥 frontend
