Repository lightdash/lightdash, pull requests merged in 2022-02, with the labels that each got.

#1276 fix: add missing parentheses in string equals filter
  packages/backend/src/queryBuilder.ts
Labels: bug, backend

#1280 fix: remove primary colour from save chart buttons
  packages/frontend/src/components/Explorer.tsx
Labels: frontend, ux

#1323 docs: adds tutorial video to dashboard docs
  docs/docs/get-started/exploring-data/assets/tutorial_building_first_dashboard.png
  docs/docs/get-started/exploring-data/dashboards.md
Labels: documentation

#1324 style(charts): design improvements to big number chart
  packages/frontend/src/components/DashboardTiles/TileBase.tsx
  packages/frontend/src/components/SimpleStatistic/SimpleStatistics.styles.tsx
Labels: frontend

#1309 feat(filters): add week, month and year pickers [skip ci]
  packages/common/src/index.ts
  packages/frontend/src/components/common/Filters/FilterInputs/DateFilterInputs.tsx
  packages/frontend/src/components/common/MonthAndYearInput.tsx
  packages/frontend/src/components/common/WeekPicker.tsx
  packages/frontend/src/components/common/YearInput.tsx
Labels: feature-request, frontend

#1325 docs: add heroku upgrade docs
  docs/docs/guides/how-to-create-dimensions.md
  docs/docs/guides/how-to-create-metrics.md
  docs/docs/guides/how-to-update-docker-image.md
  docs/docs/references/assets/screenshot-fork-github.png
  docs/docs/references/assets/screenshot-heroku-app-settings.png
  docs/docs/references/assets/screenshot-heroku-complete.png
  docs/docs/references/assets/screenshot-heroku-manual-deploy.png
  docs/docs/references/assets/screenshot-heroku-success.png
  docs/docs/references/update-lightdash.md
  docs/sidebars.js
Labels: documentation

#1339 style(dashboard): alignment and space between tags
  packages/frontend/src/components/DashboardFilter/ActiveFilters/ActiveFilters.styles.ts
  packages/frontend/src/components/DashboardFilter/DashboardFilter.styles.tsx
Labels: bug, frontend

#1366 Docs: adds building dashboards tutorial
  docs/docs/best-practice/assets/tutorial_planning_your_dashboard.png
  docs/docs/best-practice/lightdash-way.md
  docs/docs/best-practice/planning-your-dashboard.md
Labels: documentation

#1368 docs: improve self-host instructions
  docs/docs/get-started/setup-lightdash/add-metrics.mdx
  docs/docs/get-started/setup-lightdash/connect-project.mdx
  docs/docs/get-started/setup-lightdash/install-lightdash.mdx
  docs/docs/get-started/setup-lightdash/new-to-dbt.mdx
  install.sh
Labels: documentation

#1367 fix(filters): set default filter values
  packages/common/src/index.ts
  packages/frontend/src/components/DashboardFilter/ActiveFilters/ActiveFilter.tsx
  packages/frontend/src/components/DashboardFilter/FilterConfiguration/index.tsx
  packages/frontend/src/components/common/Filters/FieldAutoComplete.tsx
  packages/frontend/src/components/common/Filters/FilterGroupForm.tsx
  packages/frontend/src/components/common/Filters/FilterRuleForm.tsx
  packages/frontend/src/components/common/Filters/configs.ts
  packages/frontend/src/components/common/Filters/index.tsx
  packages/frontend/src/hooks/useFilters.ts
Labels: bug, frontend

#1401 feat: add ra3 node option to redshift dbt profiles
  docs/docs/get-started/setup-lightdash/connect-project.mdx
  packages/backend/src/dbt/profiles.ts
  packages/common/src/index.ts
  packages/frontend/src/components/ProjectConnection/WarehouseForms/RedshiftForm.tsx
Labels: feature-request, frontend, backend

#1405 feat: save dashboard filters FE
  packages/backend/src/models/DashboardModel/DashboardModel.ts
  packages/frontend/src/App.tsx
  packages/frontend/src/components/DashboardFilter/DashboardFilter.styles.tsx
  packages/frontend/src/components/DashboardFilter/index.tsx
  packages/frontend/src/components/common/Dashboard/DashboardHeader.tsx
  packages/frontend/src/pages/Dashboard.tsx
  packages/frontend/src/providers/DashboardProvider.tsx
Labels: frontend

#1412 chore: enable open api validation
  packages/backend/package.json
  packages/backend/src/index.ts
  packages/backend/src/routers/projectRouter.ts
  packages/common/src/openapi/paths/projectCatalog.json
  packages/common/src/openapi/paths/projectSqlQuery.json
  packages/common/src/openapi/schemas/ChartConfig.json
  packages/common/src/openapi/schemas/CreateDashboard.json
  packages/common/src/openapi/schemas/CreateDashboardTile.json
  packages/common/src/openapi/schemas/Dashboard.json
  packages/common/src/openapi/schemas/DashboardFilterRule.json
  packages/common/src/openapi/schemas/DashboardFilters.json
  packages/common/src/openapi/schemas/DashboardListItem.json
  packages/common/src/openapi/schemas/LightdashUser.json
  packages/common/src/openapi/schemas/LoomTileProperties.json
  packages/common/src/openapi/schemas/MarkdownTileProperties.json
  packages/common/src/openapi/schemas/SavedChart.json
  packages/common/src/openapi/schemas/UpdateDashboard.json
  packages/common/src/openapibundle.json
  packages/frontend/src/hooks/dashboard/useDashboard.tsx
  packages/frontend/src/pages/SavedDashboards.tsx
  yarn.lock
Labels: backend, devx

#1432 fix: dashboard filter error causing blank page
  packages/frontend/src/components/DashboardFilter/FilterConfiguration/index.tsx
Labels: bug, frontend

#1430 fix: bump dbt version
  dockerfile
  dockerfile-prs
Labels: devx

#1350 feat: add filter from table cells and headers
  packages/common/src/index.ts
  packages/e2e/cypress/integration/explore.spec.ts
  packages/frontend/src/components/ResultsTable/CellContextMenu.tsx
  packages/frontend/src/components/ResultsTable/ColumnHeaderContextMenu.tsx
  packages/frontend/src/components/ResultsTable/ResultsTable.tsx
  packages/frontend/src/components/TableCalculationModal.tsx
  packages/frontend/src/components/TableTree.tsx
  packages/frontend/src/components/common/Filters/index.tsx
  packages/frontend/src/hooks/useColumns.tsx
  packages/frontend/src/hooks/useFilters.ts
  packages/frontend/src/providers/ExplorerProvider.tsx
  packages/frontend/src/types/react-table-config.d.ts
Labels: feature-request, frontend

#1440 fix(charts): disable chart configuration for table visualization
  packages/frontend/src/components/Explorer.tsx
  packages/frontend/src/components/LightdashVisualization/index.tsx
  packages/frontend/src/components/SimpleTable/index.tsx
Labels: bug, frontend

#1471 style(chart): new chart configuration layout
  packages/frontend/src/components/ChartConfigPanel.tsx
  packages/frontend/src/components/ChartConfigPanel/ChartConfigPanel.styles.ts
  packages/frontend/src/components/ChartConfigPanel/ChartConfigTabs.tsx
  packages/frontend/src/components/ChartConfigPanel/index.tsx
  packages/frontend/src/components/DashboardFilter/FilterSearch/index.tsx
  packages/frontend/src/components/Explorer.tsx
  packages/frontend/src/components/LightdashVisualization/index.tsx
  packages/frontend/src/components/common/Filters/FieldAutoComplete.tsx
  packages/frontend/src/components/common/Filters/FilterRuleForm.tsx
  packages/frontend/src/components/common/Filters/index.tsx
Labels: frontend, ux
