Repository lightdash/lightdash, pull requests merged in 2022-10, with the labels that each got.

#3373 docs: updates onboarding doc
  docs/docs/get-started/setup-lightdash/assets/select-settings.jpg
  docs/docs/get-started/setup-lightdash/assets/update-connection.jpg
  docs/docs/get-started/setup-lightdash/connect-project.mdx
  docs/docs/get-started/setup-lightdash/get-project-lightdash-ready.mdx
  docs/docs/get-started/setup-lightdash/intro.mdx
Labels: 📖 documentation

#3374 docs: updates instructions fo project connection settings
  docs/docs/get-started/setup-lightdash/connect-project.mdx
Labels: 📖 documentation

#3382 feat: create project screen updates
  packages/frontend/src/components/ProjectConnection/ProjectConnectFlow/ConnectManually.tsx
  packages/frontend/src/components/ProjectConnection/ProjectConnectFlow/ConnectSuccess.tsx
  packages/frontend/src/components/ProjectConnection/ProjectConnectFlow/ConnectUsingCLI.tsx
  packages/frontend/src/components/ProjectConnection/ProjectConnectFlow/InviteExpertFooter.tsx
  packages/frontend/src/components/ProjectConnection/ProjectConnectFlow/ProjectConnectFlow.styles.tsx
  packages/frontend/src/components/ProjectConnection/ProjectConnectFlow/WareHouseConnectCard.tsx.tsx
Labels: 🖥 frontend

#3381 fix: do not skip onboarding screens from the cli
  packages/cli/src/handlers/deploy.ts
  packages/frontend/src/components/ProjectConnection/ProjectConnectFlow/ConnectSuccess.tsx
Labels: 🖥 frontend

#3196 chore: setup dev env without docker
  .devcontainer/devcontainer.json
  .env
  .github/CONTRIBUTING.md
  README.md
  docker/.env
  docs/docs/get-started/setup-lightdash/get-project-lightdash-ready.mdx
  docs/docs/get-started/setup-lightdash/install-lightdash.mdx
  package.json
  packages/backend/src/database/seeds/development/01_initial_user.ts
  packages/frontend/package.json
  scripts/build.sh
  scripts/install.sh
  scripts/migrate.sh
  scripts/reset-db.sh
  scripts/rollback.sh
  scripts/seed-jaffle.sh
  scripts/seed-lightdash.sh
  yarn.lock
Labels: 👩‍💻 devx

#3388 fix: await cli error events
  packages/cli/src/handlers/compile.ts
  packages/cli/src/handlers/dbt/run.ts
  packages/cli/src/handlers/deploy.ts
  packages/cli/src/handlers/generate.ts
  packages/cli/src/handlers/preview.ts
Labels: 🐛 bug, 📈 analytics-events, 🎮 CLI

#3396 chore: updates copy on CLI tool onboarding
  packages/frontend/src/components/ProjectConnection/ProjectConnectFlow/ConnectUsingCLI.tsx
Labels: 🖥 frontend

#3397 docs: updates filters + onboarding docs
  docs/docs/get-started/setup-lightdash/get-project-lightdash-ready.mdx
  docs/docs/guides/limiting-data-using-filters.mdx
Labels: 📖 documentation

#3419 fix: user uuid missing from events
  packages/cli/src/analytics/analytics.ts
Labels: 🐛 bug, 📈 analytics-events, 🎮 CLI

#3417 feat: CLI start-preview output url
  packages/cli/src/handlers/preview.ts
Labels: 🎮 CLI

#3424 feat: add try demo project link
  packages/frontend/src/components/ProjectConnection/ProjectConnectFlow/ConnectManually/ConnectManuallyStep2.tsx
  packages/frontend/src/components/ProjectConnection/ProjectConnectFlow/ConnectUsingCLI.tsx
  packages/frontend/src/components/ProjectConnection/ProjectConnectFlow/ProjectConnectFlow.styles.tsx
  packages/frontend/src/providers/TrackingProvider.tsx
  packages/frontend/src/types/Events.ts
Labels: 🏄 onboarding

#3427 fix: filter auto complete values
  packages/backend/src/services/ProjectService/ProjectService.ts
  packages/common/src/index.ts
  packages/frontend/src/components/common/Filters/FilterInputs/AutoComplete/autoCompleteUtils.ts
  packages/frontend/src/hooks/useFieldValues.ts
Labels: 🐛 bug

#3438 feat: space label in add chart to dashboard modal
  packages/e2e/cypress/e2e/dashboard.cy.ts
  packages/frontend/src/components/DashboardTiles/TileForms/AddChartTilesModal.tsx
Labels: 🖥 frontend

#3422 fix: projects invalidation and data resetting on 404
  packages/e2e/cypress/e2e/projectPermission.cy.ts
  packages/frontend/src/App.tsx
  packages/frontend/src/components/NavBar/index.tsx
  packages/frontend/src/components/ProjectRoute.tsx
  packages/frontend/src/components/UserSettings/ProjectManagementPanel/index.tsx
  packages/frontend/src/hooks/useProjects.ts
  packages/frontend/src/pages/Projects.tsx
Labels: 🖥 frontend

#3463 docs: add update connection docs
  docs/docs/get-started/setup-lightdash/assets/dbt-connection-settings.jpg
  docs/docs/get-started/setup-lightdash/assets/project-connection-settings.jpg
  docs/docs/get-started/setup-lightdash/connect-project.mdx
Labels: 📖 documentation

#3461 chore: updates link to json key file docs
  packages/frontend/src/components/ProjectConnection/WarehouseForms/BigQueryForm.tsx
Labels: 📖 documentation

#3475 feat: select warehouse before instructions
  docs/docs/get-started/setup-lightdash/get-project-lightdash-ready.mdx
  packages/e2e/cypress/e2e/createProjects.cy.ts
  packages/frontend/src/components/ProjectConnection/DbtSettingsForm.tsx
  packages/frontend/src/components/ProjectConnection/ProjectConnectFlow/ConnectManually/ConnectManuallyStep1.tsx
  packages/frontend/src/components/ProjectConnection/ProjectConnectFlow/ConnectManually/ConnectManuallyStep2.tsx
  packages/frontend/src/components/ProjectConnection/ProjectConnectFlow/ConnectManually/ConnectManuallyStep3.tsx
  packages/frontend/src/components/ProjectConnection/ProjectConnectFlow/ConnectManually/index.tsx
  packages/frontend/src/components/ProjectConnection/ProjectConnectFlow/ConnectTitle.tsx
  packages/frontend/src/components/ProjectConnection/ProjectConnectFlow/ConnectUsingCLI.tsx
  packages/frontend/src/components/ProjectConnection/ProjectConnectFlow/ProjectConnectFlow.styles.tsx
  packages/frontend/src/components/ProjectConnection/ProjectConnectFlow/SelectWarehouse.tsx
  packages/frontend/src/components/ProjectConnection/ProjectConnectFlow/UnsupportedWarehouse.tsx
  packages/frontend/src/components/ProjectConnection/WarehouseSettingsForm.tsx
  packages/frontend/src/components/ProjectConnection/index.tsx
  packages/frontend/src/components/ProjectRoute.tsx
  packages/frontend/src/components/common/LinkButton.tsx
  packages/frontend/src/pages/CreateProject.tsx
Labels: 🖥 frontend, 🏄 onboarding

#3488 fix: show spinner on initial load for autocompletes
  packages/frontend/src/components/common/Filters/FilterInputs/AutoComplete/AutoComplete.tsx
  packages/frontend/src/components/common/Filters/FilterInputs/AutoComplete/MultiAutoComplete.tsx
  packages/frontend/src/components/common/Filters/FilterInputs/AutoComplete/autoCompleteUtils.ts
Labels: 🖥 frontend

#3533 chore: fix slower lint-staged
  package.json
  packages/backend/package.json
  packages/cli/package.json
  packages/common/package.json
  packages/e2e/package.json
  packages/frontend/package.json
  packages/warehouses/package.json
Labels: 👩‍💻 devx

#3532 chore: enable eslint jsx-key error
  packages/frontend/.eslintrc.js
  packages/frontend/src/components/Explorer/ResultsCard/UrlMenuItems.tsx
  packages/frontend/src/components/JobDetailsDrawer/index.tsx
  packages/frontend/src/components/ProjectTablesConfiguration/ProjectTablesConfiguration.tsx
  packages/frontend/src/components/TableConfigPanel/ColumnConfiguration.tsx
  packages/frontend/src/components/UserSettings/SocialLoginsPanel/index.tsx
  packages/frontend/src/components/common/modal/DeleteActionModal.tsx
Labels: 👩‍💻 devx

#3530 feat: MultiAutoComplete add item on blur
  packages/frontend/src/components/common/Filters/FilterInputs/AutoComplete/MultiAutoComplete.tsx
  packages/frontend/src/components/common/Filters/FilterInputs/AutoComplete/autoCompleteUtils.ts
Labels: 🖥 frontend

#3569 fix: underlying data of multi pivot table
  packages/frontend/src/components/DashboardTiles/DashboardChartTile.tsx
  packages/frontend/src/components/Explorer/VisualizationCard/SeriesContextMenu.tsx
  packages/frontend/src/components/SimpleTable/CellContextMenu.tsx
  packages/frontend/src/components/UnderlyingData/UnderlyingDataModalContent.tsx
  packages/frontend/src/components/UnderlyingData/UnderlyingDataProvider.tsx
Labels: 🐛 bug, 🖥 frontend

#3613 docs: adds snippet for github action
  docs/docs/guides/cli/how-to-use-lightdash-deploy.mdx
  docs/docs/intro.md
  docs/docs/references/syncing_your_dbt_changes.mdx
  docs/docs/snippets/assets/github-actions.png
  docs/docs/snippets/assets/github-run.png
  docs/docs/snippets/assets/github-secrets.jpg
  docs/docs/snippets/assets/new-workflow-existing-actions.jpg
  docs/docs/snippets/assets/personal-access-token.png
  docs/docs/snippets/automatically-deploy-your-changes-using-github-action.mdx
Labels: 📖 documentation
