Repository lightdash/lightdash, pull requests merged in 2022-09, with the labels that each got.

#3124 chore: refactor app provider
  packages/frontend/src/components/ErrorLogsDrawer.tsx
  packages/frontend/src/components/Explorer/ExploreSideBar/index.tsx
  packages/frontend/src/components/JobDetailsDrawer/index.tsx
  packages/frontend/src/components/NavBar/index.tsx
  packages/frontend/src/components/ProjectAccess/ProjectAccessCreation/index.tsx
  packages/frontend/src/components/ProjectConnection/index.tsx
  packages/frontend/src/components/RefreshDbtButton/index.tsx
  packages/frontend/src/components/ShareLinkButton/index.tsx
  packages/frontend/src/components/ShowErrorsButton.tsx
  packages/frontend/src/components/TableCalculationModels/TableCalculationModal.tsx
  packages/frontend/src/components/UserSettings/CreateTokenPanel/index.tsx
  packages/frontend/src/components/UserSettings/InvitesPanel/index.tsx
  packages/frontend/src/components/UserSettings/PasswordPanel/index.tsx
  packages/frontend/src/components/UserSettings/ProfilePanel/index.tsx
  packages/frontend/src/components/UserSettings/UserManagementPanel/index.tsx
  packages/frontend/src/components/common/GoogleLoginButton/index.tsx
  packages/frontend/src/components/common/modal/ActionModal.tsx
  packages/frontend/src/hooks/dashboard/useDashboard.tsx
  packages/frontend/src/hooks/dashboard/useDashboards.tsx
  packages/frontend/src/hooks/health/useHealth.tsx
  packages/frontend/src/hooks/organisation/useOrganisationUpdateMutation.ts
  packages/frontend/src/hooks/thirdPartyServices/useCohere.ts
  packages/frontend/src/hooks/thirdPartyServices/useHeadway.ts
  packages/frontend/src/hooks/thirdPartyServices/useSentry.ts
  packages/frontend/src/hooks/toaster/useToaster.tsx
  packages/frontend/src/hooks/useAccessToken.ts
  packages/frontend/src/hooks/useExplorerRoute.ts
  packages/frontend/src/hooks/useInviteLink.tsx
  packages/frontend/src/hooks/useOrganizationUsers.ts
  packages/frontend/src/hooks/usePasswordReset.ts
  packages/frontend/src/hooks/useProject.ts
  packages/frontend/src/hooks/useProjectAccess.tsx
  packages/frontend/src/hooks/useProjectTablesConfiguration.ts
  packages/frontend/src/hooks/useProjects.ts
  packages/frontend/src/hooks/useQueryError.ts
  packages/frontend/src/hooks/useRefreshServer.tsx
  packages/frontend/src/hooks/useSavedQuery.ts
  packages/frontend/src/hooks/useSpaces.ts
  packages/frontend/src/hooks/useSqlQuery.ts
  packages/frontend/src/hooks/useSqlRunnerRoute.ts
  packages/frontend/src/hooks/user/useDeleteOpenIdentityMutation.ts
  packages/frontend/src/hooks/user/useUser.ts
  packages/frontend/src/pages/Login.tsx
  packages/frontend/src/pages/Register.tsx
  packages/frontend/src/pages/Signup.tsx
  packages/frontend/src/providers/ActiveJobProvider.tsx
  packages/frontend/src/providers/AppProvider.tsx
  packages/frontend/src/providers/ErrorLogsProvider.tsx
Labels: 🖥 frontend, tech-debt

#3147 docs: add docs on field urls
  docs/docs/references/dimensions.md
  docs/docs/references/metrics.md
Labels: 📖 documentation

#3154 docs: add pivot docs
  docs/docs/guides/assets/pivot-table-config.jpg
  docs/docs/guides/how-to-create-dimensions.mdx
  docs/docs/guides/visualizing-your-results.mdx
  docs/docs/references/assets/clickable-dimension-link.jpg
  docs/docs/references/dimensions.mdx
  docs/docs/references/metrics.md
Labels: 📖 documentation

#3149 chore: refactor underlying data provider
  packages/frontend/src/components/Explorer/ResultsCard/ExplorerResults.tsx
  packages/frontend/src/components/UnderlyingData/UnderlyingDataModal.tsx
  packages/frontend/src/components/UnderlyingData/UnderlyingDataModalContent.tsx
  packages/frontend/src/components/UnderlyingData/UnderlyingDataProvider.tsx
  packages/frontend/src/components/UnderlyingData/UnderlyingDataResultsTable.tsx
  packages/frontend/src/hooks/useColumns.tsx
  packages/frontend/src/hooks/useExplore.tsx
  packages/frontend/src/hooks/useQueryResults.tsx
Labels: 🖥 frontend, tech-debt

#3162 chore: refactor query hook options
  packages/frontend/src/components/ChartConfigPanel/ChartConfigTabs.tsx
  packages/frontend/src/components/Explorer/ResultsCard/ExplorerResults.tsx
  packages/frontend/src/components/UnderlyingData/UnderlyingDataModalContent.tsx
  packages/frontend/src/hooks/organisation/useOrganisation.ts
  packages/frontend/src/hooks/useColumns.tsx
  packages/frontend/src/hooks/useExplore.tsx
Labels: 🖥 frontend, tech-debt

#3171 feat: change bignumber context menu to open on left-click
  packages/frontend/src/components/SimpleStatistic/BigNumberContextMenu.tsx
  packages/frontend/src/components/SimpleStatistic/SimpleStatistics.styles.tsx
  packages/frontend/src/components/SimpleStatistic/index.tsx
Labels: 🖥 frontend

#3168 feat: table field list sort
  packages/frontend/src/components/Explorer/ExploreTree/TableTree/TableTree.styles.tsx
  packages/frontend/src/components/Explorer/ExploreTree/TableTree/TableTreeSections.tsx
  packages/frontend/src/components/Explorer/ExploreTree/TableTree/Tree/TreeGroupNode.tsx
  packages/frontend/src/components/Explorer/ExploreTree/TableTree/Tree/TreeNodes.tsx
Labels: 🖥 frontend

#3163 feat: proper sort indicators based on field type
  packages/common/src/types/field.ts
  packages/e2e/cypress/e2e/explore.cy.ts
  packages/frontend/src/components/Explorer/ResultsCard/ColumnHeaderContextMenu.tsx
  packages/frontend/src/components/SortButton/SortButton.styles.ts
  packages/frontend/src/components/SortButton/SortItem.tsx
  packages/frontend/src/utils/sortUtils.ts
Labels: 🖥 frontend

#3178 style: update spaces component
  packages/frontend/src/components/Explorer/SpaceBrowser/SpaceBrowser.styles.tsx
  packages/frontend/src/components/Explorer/SpaceBrowser/SpaceItem.tsx
  packages/frontend/src/components/Explorer/SpaceBrowser/index.tsx
Labels: 🖥 frontend

#3177 feat: add space links to chart and dashboard headers
  packages/frontend/src/components/Explorer/SavedChartsHeader/index.tsx
  packages/frontend/src/components/common/Dashboard/DashboardHeader.tsx
Labels: 🖥 frontend

#3183 docs: updates time interval docs
  docs/docs/references/dimensions.mdx
Labels: 📖 documentation

#3197 docs: update multi sort
  docs/docs/get-started/exploring-data/assets/sort-multiple-fields.jpg
  docs/docs/get-started/exploring-data/assets/sort-one-field.jpg
  docs/docs/get-started/exploring-data/assets/sort-options.jpg
  docs/docs/get-started/exploring-data/using-explores.mdx
Labels: 📖 documentation

#3205 fix: table multisort should reorder instead of swap
  packages/frontend/src/components/SortButton/index.tsx
  packages/frontend/src/providers/ExplorerProvider.tsx
Labels: 🐛 bug, 🖥 frontend

#3218 feat: multisort for booleans
  packages/frontend/src/components/Explorer/ResultsCard/ColumnHeaderContextMenu.tsx
  packages/frontend/src/components/SortButton/SortButton.styles.ts
  packages/frontend/src/components/SortButton/SortItem.tsx
  packages/frontend/src/utils/sortUtils.ts
Labels: 🖥 frontend

#3224 fix: ascending sort in header cell context menu
  packages/frontend/src/components/Explorer/ResultsCard/ColumnHeaderContextMenu.tsx
Labels: 🐛 bug

#3259 fix: disable space actions in demo env
  packages/backend/src/routers/projectRouter.ts
Labels: ⚙️ backend

#3266 fix: explore page not reloading when navigating
  packages/frontend/src/components/NavBar/GlobalSearch/index.tsx
Labels: 🖥 frontend

#3276 chore: field value search event
  packages/backend/src/analytics/LightdashAnalytics.ts
  packages/backend/src/services/ProjectService/ProjectService.ts
Labels: 📈 analytics-events

#3281 docs: update onboarding docs
  docs/docs/get-started/setup-lightdash/assets/overview-intro.png
  docs/docs/get-started/setup-lightdash/assets/personal-access-token.png
  docs/docs/get-started/setup-lightdash/assets/sign-up-page.png
  docs/docs/get-started/setup-lightdash/connect-project.mdx
  docs/docs/get-started/setup-lightdash/get-project-lightdash-ready.mdx
  docs/docs/guides/assets/add-filter-dashboard.jpg
  docs/docs/guides/assets/add-filter-dashboard.png
  docs/docs/guides/assets/add-filter-results-table.jpg
  docs/docs/guides/assets/add-filter-results-table.png
  docs/docs/guides/assets/add-filter-sidebar.jpg
  docs/docs/guides/assets/add-filter-sidebar.png
  docs/docs/guides/assets/add-filter.jpg
  docs/docs/guides/assets/add-filter.png
  docs/docs/guides/assets/add-more-filters-dashboard.jpg
  docs/docs/guides/assets/add-more-filters-dashboard.png
  docs/docs/guides/assets/adding-filters-from-toggle-1.jpg
  docs/docs/guides/assets/adding-filters-from-toggle-1.png
  docs/docs/guides/assets/cross-filtering-dashboard.jpg
  docs/docs/guides/assets/cross-filtering-dashboard.png
  docs/docs/guides/assets/dashboard-filter-applied.jpg
  docs/docs/guides/assets/dashboard-filter-applied.png
  docs/docs/guides/assets/edit-dashboard.jpg
  docs/docs/guides/assets/edit-dashboard.png
  docs/docs/guides/assets/edit-or-remove-dashboard-filters.jpg
  docs/docs/guides/assets/edit-or-remove-dashboard-filters.png
  docs/docs/guides/assets/multiple-filter-options.jpg
  docs/docs/guides/assets/new-filters-dashboard.jpg
  docs/docs/guides/assets/new-filters-dashboard.png
  docs/docs/guides/assets/save-new-filters-dashboard.jpg
  docs/docs/guides/assets/screenshot-multiple-values-filter.jpg
  docs/docs/guides/assets/screenshot-multiple-values-filter.png
  docs/docs/guides/limiting-data-using-filters.mdx
  docs/docs/intro.md
  docs/sidebars.js
Labels: 📖 documentation

#3221 feat: spaces - resource list
  packages/backend/src/database/entities/spaces.ts
  packages/backend/src/models/SpaceModel.ts
  packages/common/.eslintrc.json
  packages/common/src/index.ts
  packages/e2e/cypress/e2e/dashboard.cy.ts
  packages/e2e/cypress/e2e/savedDashboards.cy.ts
  packages/frontend/src/components/Explorer/SavedChartsHeader/index.tsx
  packages/frontend/src/components/Explorer/SpaceBrowser/AddResourceToSpaceMenu.tsx
  packages/frontend/src/components/Explorer/SpaceBrowser/AddResourceToSpaceModal.style.tsx
  packages/frontend/src/components/Explorer/SpaceBrowser/AddResourceToSpaceModal.tsx
  packages/frontend/src/components/Explorer/SpaceBrowser/CreateResourceToSpace.tsx
  packages/frontend/src/components/Explorer/SpaceBrowser/SpaceBrowser.styles.tsx
  packages/frontend/src/components/Explorer/SpaceBrowser/SpaceBrowserMenu.tsx
  packages/frontend/src/components/Explorer/SpaceBrowser/index.tsx
  packages/frontend/src/components/Home/LandingPanel/LandingPanel.styles.tsx
  packages/frontend/src/components/Home/LandingPanel/index.tsx
  packages/frontend/src/components/Home/LatestCard.tsx
  packages/frontend/src/components/Home/LatestDashboards/LatestDashboard.styles.tsx
  packages/frontend/src/components/Home/LatestDashboards/index.tsx
  packages/frontend/src/components/Home/LatestSavedCharts/LatestSavedCharts.style.tsx
  packages/frontend/src/components/Home/LatestSavedCharts/index.tsx
  packages/frontend/src/components/SavedDashboards/DashboardForm.tsx
  packages/frontend/src/components/SavedQueries/EmptySavedChartsState/EmptySavedChartsState.styles.tsx
  packages/frontend/src/components/SavedQueries/EmptySavedChartsState/index.tsx
  packages/frontend/src/components/SavedQueries/SavedQueriesContent.tsx
  packages/frontend/src/components/SavedQueries/SavedQueryForm.tsx
  packages/frontend/src/components/SpacePanel/SpacePanel.styles.ts
  packages/frontend/src/components/SpacePanel/index.tsx
  packages/frontend/src/components/common/ActionCard/ActionCard.styles.tsx
  packages/frontend/src/components/common/ActionCard/index.tsx
  packages/frontend/src/components/common/ActionCardList/ActionCardList.style.tsx
  packages/frontend/src/components/common/ActionCardList/index.tsx
  packages/frontend/src/components/common/Dashboard/DashboardHeader.tsx
  packages/frontend/src/components/common/Page/Page.styles.ts
  packages/frontend/src/components/common/ResourceList/ResourceActionMenu.tsx
  packages/frontend/src/components/common/ResourceList/ResourceEmptyState.styles.ts
  packages/frontend/src/components/common/ResourceList/ResourceEmptyState.tsx
  packages/frontend/src/components/common/ResourceList/ResourceLastEdited/ResourceLastEdited.styles.ts
  packages/frontend/src/components/common/ResourceList/ResourceLastEdited/index.tsx
  packages/frontend/src/components/common/ResourceList/ResourceList.styles.ts
  packages/frontend/src/components/common/ResourceList/ResourceListWrapper.tsx
  packages/frontend/src/components/common/ResourceList/ResourceTable/ResourceTable.styles.ts
  packages/frontend/src/components/common/ResourceList/ResourceTable/index.tsx
  packages/frontend/src/components/common/ResourceList/index.tsx
  packages/frontend/src/components/common/UpdatedInfo/UpdatedInfo.styles.ts
  packages/frontend/src/components/common/UpdatedInfo/index.tsx
  packages/frontend/src/components/common/modal/UpdateActionModal.tsx
  packages/frontend/src/pages/Home.tsx
  packages/frontend/src/pages/SavedDashboards.tsx
  packages/frontend/src/pages/SavedQueries.tsx
  packages/frontend/src/utils/sortUtils.ts
  yarn.lock
Labels: 🖥 frontend

#3288 docs: adds underlying values limitation docs
  docs/docs/guides/exploring-your-content.mdx
  docs/docs/references/dimensions.mdx
  docs/docs/references/metrics.md
Labels: 📖 documentation

#3300 fix: resource table improvements
  packages/frontend/src/components/common/ResourceList/ResourceLastEdited/index.tsx
  packages/frontend/src/components/common/ResourceList/ResourceTable/ResourceTable.styles.ts
  packages/frontend/src/components/common/ResourceList/ResourceTable/index.tsx
Labels: 🖥 frontend

#3292 fix: action modal save button invalid state
  packages/e2e/cypress/e2e/savedDashboards.cy.ts
  packages/frontend/src/components/Explorer/SpaceBrowser/CreateSpaceModal.styles.tsx
  packages/frontend/src/components/Explorer/SpaceBrowser/CreateSpaceModal.tsx
  packages/frontend/src/components/Explorer/SpaceBrowser/DeleteSpaceModal.tsx
  packages/frontend/src/components/Explorer/SpaceBrowser/EditSpaceModal.tsx
  packages/frontend/src/components/Explorer/SpaceBrowser/index.tsx
  packages/frontend/src/components/SavedDashboards/DashboardForm.tsx
  packages/frontend/src/components/SavedQueries/SavedQueryForm.tsx
  packages/frontend/src/components/SpacePanel/index.tsx
  packages/frontend/src/components/common/Dashboard/DashboardHeader.tsx
  packages/frontend/src/components/common/ResourceList/index.tsx
  packages/frontend/src/components/common/SpaceActionModal/CreateSpaceModalContent.tsx
  packages/frontend/src/components/common/SpaceActionModal/DeleteSpaceModalContent.tsx
  packages/frontend/src/components/common/SpaceActionModal/UpdateSpaceModalContent.tsx
  packages/frontend/src/components/common/SpaceActionModal/index.tsx
  packages/frontend/src/components/common/modal/ActionModal.tsx
  packages/frontend/src/components/common/modal/UpdateActionModal.tsx
  packages/frontend/src/hooks/useSpaces.ts
Labels: 🖥 frontend

#3330 docs: updates how to create dimensions docs
  docs/docs/guides/how-to-create-dimensions.mdx
  docs/docs/guides/how-to-create-metrics.mdx
Labels: 📖 documentation

#3298 docs: update cli docs
  docs/docs/guides/cli/assets/github-run.png
  docs/docs/guides/cli/assets/github-secrets.jpg
  docs/docs/guides/cli/assets/github-secrets.png
  docs/docs/guides/cli/assets/new-workflow-existing-actions.jpg
  docs/docs/guides/cli/cli-authentication.mdx
  docs/docs/guides/cli/how-to-auto-generate-schema-files.mdx
  docs/docs/guides/cli/how-to-automatically-deploy.mdx
  docs/docs/guides/cli/how-to-use-lightdash-deploy.md
  docs/docs/guides/cli/how-to-use-lightdash-deploy.mdx
  docs/docs/guides/cli/how-to-use-lightdash-preview.mdx
  docs/sidebars.js
Labels: 📖 documentation

#3350 docs: adds example of percent of total group table calc
  docs/docs/guides/table-calculations/table-calculation-sql-templates/assets/percent-of-total-group.png
  docs/docs/guides/table-calculations/table-calculation-sql-templates/percent-of-group-pivot-total.mdx
  docs/docs/guides/table-calculations/table-calculation-sql-templates/percent-of-total-column.mdx
  docs/sidebars.js
Labels: 📖 documentation

#3351 docs: removes show underlying values from dim reference doc
  docs/docs/guides/exploring-your-content.mdx
  docs/docs/guides/how-to-create-metrics.mdx
  docs/docs/references/dimensions.mdx
  docs/docs/references/metrics.mdx
Labels: 📖 documentation

#3346 fix: adapt axis interval to dimension time interval
  packages/common/src/utils/timeFrames.ts
  packages/frontend/src/hooks/echarts/useEcharts.ts
Labels: 🖥 frontend

#3344 fix: cell context menu table overflow
  packages/frontend/src/components/Explorer/ResultsCard/CellContextMenu.tsx
  packages/frontend/src/components/common/Table/BodyCell.tsx
  packages/frontend/src/components/common/Table/ScrollableTable/index.tsx
  packages/frontend/src/components/common/Table/Table.styles.ts
  packages/frontend/src/components/common/Table/TableProvider.tsx
Labels: 🐛 bug, 🖥 frontend
