Repository lightdash/lightdash, pull requests merged in 2023-12, with the labels that each got.

#8168 refactor: expose items map in cartesian visualization
  packages/backend/src/clients/Google/GoogleDriveClient.ts
  packages/backend/src/services/CsvService/CsvService.mock.ts
  packages/backend/src/services/CsvService/CsvService.ts
  packages/backend/src/services/ProjectService/formatRows.ts
  packages/common/src/index.ts
  packages/common/src/types/field.ts
  packages/common/src/utils/conditionalFormatting.ts
  packages/frontend/src/components/DashboardTiles/DashboardChartTile.tsx
  packages/frontend/src/components/Explorer/ResultsCard/ExplorerResults.tsx
  packages/frontend/src/components/LightdashVisualization/VisualizationProvider.tsx
  packages/frontend/src/components/MetricQueryData/MetricQueryDataProvider.tsx
  packages/frontend/src/components/VisualizationConfigs/ChartConfigPanel/AxesOptions.tsx
  packages/frontend/src/components/VisualizationConfigs/ChartConfigPanel/ChartConfigTabs.tsx
  packages/frontend/src/components/common/PivotTable/ValueCellMenu.tsx
  packages/frontend/src/components/common/PivotTable/index.tsx
  packages/frontend/src/hooks/echarts/useEchartsCartesianConfig.ts
  packages/frontend/src/hooks/tableVisualization/getDataAndColumns.tsx
  packages/frontend/src/hooks/useBigNumberConfig.ts
  packages/frontend/src/hooks/useCalculateTotal.ts
  packages/frontend/src/hooks/useColumnTotals.ts
  packages/frontend/src/hooks/useColumns.tsx
  packages/frontend/src/types/table-core.d.ts
Labels: 🖥 frontend, tech-debt

#8222 feat: move run query button back to the top of the page
  packages/frontend/src/components/Explorer/ExplorePanel/index.tsx
  packages/frontend/src/components/Explorer/ExplorerHeader/index.tsx
  packages/frontend/src/components/LimitButton/LimitForm.tsx
  packages/frontend/src/components/LimitButton/index.tsx
  packages/frontend/src/components/RefreshButton.tsx
Labels: ✨ feature-request, 🖥 frontend

#8245 fix: default big number field to metric
  packages/frontend/src/hooks/useBigNumberConfig.ts
Labels: 🐛 bug, 🖥 frontend

#8254 chore: add unit tests for ProjectService.runExploreQuery
  packages/backend/src/services/ProjectService/ProjectService.mock.ts
  packages/backend/src/services/ProjectService/ProjectService.test.ts
Labels: 👩‍💻 devx

#8265 chore: remove feature flag date-zoom
  packages/frontend/src/hooks/useQueryResults.tsx
  packages/frontend/src/pages/Dashboard.tsx
Labels: 🖥 frontend

#8270 fix: get base dimension type when date zooming
  packages/common/src/compiler/exploreCompiler.ts
Labels: 🖥 frontend

#8272 refactor: replace NonIdealState with custom component
  packages/frontend/src/components/DashboardTiles/DashboardChartTile.tsx
  packages/frontend/src/components/DashboardTiles/EmptyStateNoTiles/index.tsx
  packages/frontend/src/components/DbtCloudSettings/index.tsx
  packages/frontend/src/components/Explorer/ExploreSideBar/index.tsx
  packages/frontend/src/components/Explorer/SpaceBrowser/AddResourceToSpaceModal.tsx
  packages/frontend/src/components/ForbiddenPanel.tsx
  packages/frontend/src/components/MetricQueryData/UnderlyingDataResultsTable.tsx
  packages/frontend/src/components/SimpleChart/index.tsx
  packages/frontend/src/components/SimplePieChart/index.tsx
  packages/frontend/src/components/SimpleTable/index.tsx
  packages/frontend/src/components/SqlRunner/SqlRunnerResultsTable.tsx
  packages/frontend/src/components/common/ErrorState/index.tsx
  packages/frontend/src/components/common/SuboptimalState/SuboptimalState.tsx
  packages/frontend/src/features/metricFlow/components/ResultsTable.tsx
  packages/frontend/src/features/sync/components/SyncModalDelete.tsx
  packages/frontend/src/features/sync/components/SyncModalForm.tsx
  packages/frontend/src/pages/ChartHistory.tsx
  packages/frontend/src/pages/Dashboard.tsx
  packages/frontend/src/pages/JoinOrganization.tsx
  packages/frontend/src/pages/MobileSpace.tsx
  packages/frontend/src/pages/ProjectSettings.tsx
  packages/frontend/src/pages/SavedExplorer.tsx
  packages/frontend/src/pages/ShareRedirect.tsx
  packages/frontend/src/pages/Space.tsx
  packages/frontend/src/pages/UserActivity.tsx
Labels: 🖥 frontend

#8282 chore: remove unnecessary console.logs
  packages/frontend/src/components/common/ResourceView/ResourceActionHandlers.tsx
  packages/frontend/src/components/common/ResourceView/ResourceActionMenu.tsx
  packages/frontend/src/components/common/ResourceView/index.tsx
  packages/frontend/src/components/common/modal/DashboardCreateModal.tsx
Labels: tech-debt

#8284 chore: use mantine divider on register,login,invite
  packages/frontend/src/pages/Invite.styles.tsx
  packages/frontend/src/pages/Invite.tsx
  packages/frontend/src/pages/Login.tsx
  packages/frontend/src/pages/Register.tsx
Labels: 🖥 frontend

#8283 chore: remove description styled component
  packages/frontend/src/components/UserSettings/DeleteOrganizationPanel/DeleteOrganizationPanel.styles.ts
  packages/frontend/src/pages/Settings.tsx
Labels: 🖥 frontend

#8300 chore: mantine-fy verify email success icon
  packages/frontend/src/components/RegisterForms/ProjectConnectFlow.styles.tsx
  packages/frontend/src/pages/VerifyEmail.tsx
Labels: 🖥 frontend

#8277 refactor: table config form to mantine
  packages/e2e/cypress/e2e/app/createProjects.cy.ts
  packages/frontend/src/components/ProjectTablesConfiguration/ProjectTablesConfiguration.styles.tsx
  packages/frontend/src/components/ProjectTablesConfiguration/ProjectTablesConfiguration.tsx
Labels: 🖥 frontend, tech-debt, 🔷 Blueprint

#8303 chore: mantine-fy chart update modal
  packages/frontend/src/components/Explorer/SavedChartsHeader/index.tsx
  packages/frontend/src/components/common/ResourceView/ResourceActionHandlers.tsx
  packages/frontend/src/components/common/modal/ChartUpdateModal.tsx
Labels: 🖥 frontend

#8302 chore: mantine-fy chart delete modal
  packages/frontend/src/components/Explorer/SavedChartsHeader/index.tsx
  packages/frontend/src/components/common/ResourceView/ResourceActionHandlers.tsx
  packages/frontend/src/components/common/modal/ChartDeleteModal.tsx
Labels: 🖥 frontend

#8304 chore: mantine-fy dashboard update modal
  packages/frontend/src/components/common/Dashboard/DashboardHeader.tsx
  packages/frontend/src/components/common/ResourceView/ResourceActionHandlers.tsx
  packages/frontend/src/components/common/modal/DashboardUpdateModal.tsx
Labels: 🖥 frontend

#8309 feat: mantine tooltips in table headers
  packages/frontend/src/components/common/Table/ScrollableTable/TableHeader.tsx
  packages/frontend/src/hooks/useColumns.tsx
Labels: 🖥 frontend

#8314 docs: adds required attributes to user attributes doc
  docs/docs/references/dimensions.mdx
  docs/docs/references/user-attributes.mdx
Labels: 📖 documentation

#8320 fix(dbt-semantic-layer): visualization fields
  packages/frontend/src/features/metricFlow/utils/convertFieldMapToTableColumns.ts
  packages/frontend/src/features/metricFlow/utils/convertMetricFlowQueryResultsToResultsData.mock.ts
  packages/frontend/src/features/metricFlow/utils/convertMetricFlowQueryResultsToResultsData.ts
  packages/frontend/src/pages/MetricFlow.tsx
Labels: 🐛 bug, 🖥 frontend

#8322 feat: explore collapsibles
  packages/frontend/src/components/Explorer/index.tsx
  packages/frontend/src/components/common/CollapsableCard.style.ts
  packages/frontend/src/components/common/CollapsableCard.tsx
Labels: 🖥 frontend

#8323 feat: create project settings in mantine
  packages/frontend/src/pages/CreateProject.styles.tsx
  packages/frontend/src/pages/CreateProjectSettings.tsx
Labels: 🖥 frontend

#8324 feat: callouts in mantine
  packages/frontend/src/components/ProjectConnection/DbtForms/DbtCloudForm.tsx
  packages/frontend/src/components/ProjectConnection/DbtForms/DbtLocalForm.tsx
  packages/frontend/src/components/ProjectConnection/DbtForms/DbtNoneForm.tsx
  packages/frontend/src/components/ProjectConnection/ProjectStatusCallout.tsx
  packages/frontend/src/components/ProjectConnection/index.tsx
Labels: 🖥 frontend

#8310 chore: mantine-fy space share modal
  packages/frontend/src/components/common/ShareSpaceModal/ShareSpaceAccessType.tsx
  packages/frontend/src/components/common/ShareSpaceModal/ShareSpaceModal.style.ts
  packages/frontend/src/components/common/ShareSpaceModal/ShareSpaceUserList.tsx
  packages/frontend/src/components/common/ShareSpaceModal/index.tsx
Labels: 🖥 frontend

#8337 chore: mantine-fy chart download
  packages/frontend/src/components/ChartDownload.tsx
Labels: 🖥 frontend

#8329 chore: mantine-fy loader styles
  packages/frontend/src/components/PageSpinner/PageSpinner.styles.tsx
  packages/frontend/src/components/PageSpinner/index.tsx
  packages/frontend/src/components/UserSettings/AppearancePanel/index.tsx
  packages/frontend/src/components/common/SuboptimalState/SuboptimalState.tsx
  packages/frontend/src/features/export/hooks/useExportToGoogleSheet.tsx
  packages/frontend/src/pages/Dashboard.tsx
Labels: 🖥 frontend

#8339 chore: mantine-fy tile-related modals
  packages/frontend/src/components/DashboardTiles/AddTileButton.tsx
  packages/frontend/src/components/DashboardTiles/TileBase/index.tsx
  packages/frontend/src/components/DashboardTiles/TileForms/MarkdownTileForm.tsx
  packages/frontend/src/components/DashboardTiles/TileForms/TileAddModal.tsx
  packages/frontend/src/components/DashboardTiles/TileForms/TileUpdateModal.tsx
Labels: 🖥 frontend

#8327 chore: mantine-fy dashboard alert
  packages/frontend/src/pages/Dashboard.tsx
Labels: 🖥 frontend

#8340 feat: mantine notifications
  packages/frontend/package.json
  packages/frontend/src/components/AppToaster.css
  packages/frontend/src/components/AppToaster.tsx
  packages/frontend/src/components/Explorer/SaveChartButton/index.tsx
  packages/frontend/src/components/ExportCSV/index.tsx
  packages/frontend/src/components/NavBar/ProjectSwitcher.tsx
  packages/frontend/src/features/export/hooks/useExportToGoogleSheet.tsx
  packages/frontend/src/hooks/dashboard/useDashboard.tsx
  packages/frontend/src/hooks/health/useHealth.tsx
  packages/frontend/src/hooks/toaster/useToaster.tsx
  packages/frontend/src/hooks/useSavedQuery.ts
  packages/frontend/src/providers/ActiveJobProvider.tsx
  packages/frontend/src/providers/ErrorLogsProvider.tsx
  packages/frontend/src/providers/MantineProvider.tsx
  yarn.lock
Labels: 🖥 frontend

#8328 chore: mantine-fy drill down modal
  packages/frontend/src/components/DashboardTiles/DashboardChartTile.tsx
  packages/frontend/src/components/Explorer/index.tsx
  packages/frontend/src/components/MetricQueryData/DrillDownModal.tsx
Labels: 🖥 frontend

#8375 fix: call subpopover handlers on close of autocomplete
  packages/frontend/src/components/common/Filters/FilterInputs/FilterStringAutoComplete.tsx
Labels: 🐛 bug, 🖥 frontend, 🚰 filters, 💜 customer support

#8389 feat: customise width and preview dashboard exports
  packages/backend/package.json
  packages/backend/src/clients/Slack/Slackbot.ts
  packages/backend/src/routers/dashboardRouter.ts
  packages/backend/src/scheduler/SchedulerTask.ts
  packages/backend/src/services/UnfurlService/UnfurlService.ts
  packages/frontend/src/components/common/modal/DashboardExportModal.tsx
  packages/frontend/src/hooks/dashboard/useDashboard.tsx
  packages/frontend/src/pages/Dashboard.tsx
  yarn.lock
Labels: 🖥 frontend

#8443 style: change cancel button color to dark on delete modals
  packages/frontend/src/components/ProjectAccess/ProjectAccessRow.tsx
  packages/frontend/src/components/UserSettings/AccessTokensPanel/TokensTable.tsx
  packages/frontend/src/components/UserSettings/DeleteOrganizationPanel/DeleteOrganizationModal.tsx
  packages/frontend/src/components/UserSettings/UserAttributesPanel/index.tsx
  packages/frontend/src/components/UserSettings/UsersAndGroupsPanel/UsersView.tsx
  packages/frontend/src/components/common/modal/ChartDeleteModal.tsx
  packages/frontend/src/components/common/modal/DashboardDeleteModal.tsx
  packages/frontend/src/components/common/modal/DeleteChartTileThatBelongsToDashboardModal.tsx
  packages/frontend/src/features/scheduler/components/SchedulerDeleteModal.tsx
  packages/frontend/src/features/sync/components/SyncModalDelete.tsx
  packages/frontend/src/features/tableCalculation/components/DeleteTableCalculationModal.tsx
Labels: 🖥 frontend
