Repository lightdash/lightdash, pull requests merged in 2023-02, with the labels that each got.

#4343 fix: unknown chart type appearing as dashboard
  packages/frontend/src/components/common/ResourceList/ResourceIcon.tsx
  packages/frontend/src/components/common/ResourceList/ResourceType.tsx
  packages/frontend/src/components/common/ResourceList/index.tsx
Labels: 🖥 frontend

#4360 fix: conditional formatting tooltip for table calculations
  packages/common/src/types/field.ts
  packages/common/src/utils/filters.ts
  packages/frontend/src/components/DashboardFilter/ActiveFilters/ActiveFilter.tsx
  packages/frontend/src/components/DashboardFilter/FilterConfiguration/FilterSettings.tsx
  packages/frontend/src/components/common/Filters/FilterRuleForm.tsx
  packages/frontend/src/components/common/Filters/configs.ts
  packages/frontend/src/components/common/Table/ScrollableTable/TableBody.tsx
Labels: 🖥 frontend

#4379 style: tweak resource list
  packages/frontend/src/components/common/ResourceList/ResourceTable.styles.ts
Labels: 🖥 frontend

#4378 fix: new menu redesign + open in new tab
  packages/frontend/src/components/NavBar/ExploreMenu/ExploreMenu.styles.tsx
  packages/frontend/src/components/NavBar/ExploreMenu/index.tsx
  packages/frontend/src/components/NavBar/HelpMenu/HelpMenu.styles.tsx
  packages/frontend/src/components/NavBar/HelpMenu/index.tsx
  packages/frontend/src/components/common/LinkMenuItem.tsx
Labels: 🖥 frontend, ux

#4422 fix: multiple dashboard requests on page load
  packages/frontend/src/components/common/Dashboard/DashboardHeader.tsx
  packages/frontend/src/pages/Dashboard.tsx
  packages/frontend/src/providers/DashboardProvider.tsx
Labels: 🐛 bug, 🖥 frontend

#4432 fix: chart tile loading state and duplicated requests
  packages/frontend/src/components/DashboardTiles/DashboardChartTile.tsx
  packages/frontend/src/components/DashboardTiles/TileBase/index.tsx
  packages/frontend/src/pages/Dashboard.tsx
Labels: 🐛 bug, 🖥 frontend

#4502 feat: pinned spaces
  packages/backend/src/database/entities/pinnedList.ts
  packages/backend/src/database/entities/spaces.ts
  packages/backend/src/database/migrations/20230215134657_add_pinned_space_table.ts
  packages/backend/src/models/PinnedListModel.ts
  packages/backend/src/models/SpaceModel.ts
  packages/backend/src/routers/projectRouter.ts
  packages/backend/src/services/DashboardService/DashboardService.mock.ts
  packages/backend/src/services/ProjectService/ProjectService.mock.ts
  packages/backend/src/services/SpaceService/SpaceService.ts
  packages/backend/src/services/services.ts
  packages/backend/src/utils.ts
  packages/common/src/types/dashboard.ts
  packages/common/src/types/pinning.ts
  packages/common/src/types/savedCharts.ts
  packages/common/src/types/space.ts
  packages/frontend/src/components/Explorer/SpaceBrowser/SpaceBrowserMenu.tsx
  packages/frontend/src/components/Explorer/SpaceBrowser/SpaceItem.tsx
  packages/frontend/src/components/Explorer/SpaceBrowser/index.tsx
  packages/frontend/src/components/Home/RecentlyUpdatedPanel/index.tsx
  packages/frontend/src/components/PinnedItemsPanel/index.tsx
  packages/frontend/src/components/SpacePanel/index.tsx
  packages/frontend/src/components/common/ResourceList/ResourceActionHandlers.tsx
  packages/frontend/src/components/common/ResourceList/ResourceActionMenu.tsx
  packages/frontend/src/components/common/ResourceList/ResourceIcon.tsx
  packages/frontend/src/components/common/ResourceList/ResourceLastEdited.tsx
  packages/frontend/src/components/common/ResourceList/ResourceTable.tsx
  packages/frontend/src/components/common/ResourceList/ResourceType.tsx
  packages/frontend/src/components/common/ResourceList/ResourceTypeUtils.ts
  packages/frontend/src/hooks/pinning/useSpaceMutation.ts
Labels: 🖥 frontend, ⚙️ backend

#4518 feat: resource grid
  packages/frontend/src/components/Explorer/SpaceBrowser/SpaceBrowser.styles.tsx
  packages/frontend/src/components/Explorer/SpaceBrowser/SpaceItem.tsx
  packages/frontend/src/components/Explorer/SpaceBrowser/index.tsx
  packages/frontend/src/components/Home/RecentlyUpdatedPanel/index.tsx
  packages/frontend/src/components/PinnedItemsPanel/index.tsx
  packages/frontend/src/components/SpacePanel/index.tsx
  packages/frontend/src/components/common/ResourceList/ResourceListWrapper.tsx
  packages/frontend/src/components/common/ResourceList/ResourceType.tsx
  packages/frontend/src/components/common/ResourceList/ResourceTypeUtils.ts
  packages/frontend/src/components/common/ResourceList/index.tsx
  packages/frontend/src/components/common/ResourceView/ResourceActionHandlers.tsx
  packages/frontend/src/components/common/ResourceView/ResourceActionMenu.tsx
  packages/frontend/src/components/common/ResourceView/ResourceIcon/ResourceIcon.styles.ts
  packages/frontend/src/components/common/ResourceView/ResourceIcon/index.tsx
  packages/frontend/src/components/common/ResourceView/ResourceLastEdited.styles.ts
  packages/frontend/src/components/common/ResourceView/ResourceLastEdited.tsx
  packages/frontend/src/components/common/ResourceView/ResourceView.styles.ts
  packages/frontend/src/components/common/ResourceView/ResourceViewGrid/ResourceViewGridChartItem.tsx
  packages/frontend/src/components/common/ResourceView/ResourceViewGrid/ResourceViewGridDashboardItem.tsx
  packages/frontend/src/components/common/ResourceView/ResourceViewGrid/ResourceViewGridItem.styles.tsx
  packages/frontend/src/components/common/ResourceView/ResourceViewGrid/ResourceViewGridSpaceItem.tsx
  packages/frontend/src/components/common/ResourceView/ResourceViewGrid/index.tsx
  packages/frontend/src/components/common/ResourceView/ResourceViewList/ResourceViewList.styles.ts
  packages/frontend/src/components/common/ResourceView/ResourceViewList/index.tsx
  packages/frontend/src/components/common/ResourceView/index.tsx
  packages/frontend/src/components/common/ResourceView/resourceTypeUtils.ts
  packages/frontend/src/components/common/ResourceView/resourceUtils.ts
  packages/frontend/src/pages/SavedDashboards.tsx
  packages/frontend/src/pages/SavedQueries.tsx
  packages/frontend/src/pages/Spaces.tsx
  packages/frontend/src/pages/UserActivity.tsx
Labels: 🖥 frontend

#4532 feat: resource sorting tabs
  packages/frontend/src/components/Home/RecentlyUpdatedPanel/index.tsx
  packages/frontend/src/components/common/ResourceView/index.tsx
Labels: 🖥 frontend

#4533 feat: resource groups
  packages/frontend/src/components/PinnedItemsPanel/index.tsx
  packages/frontend/src/components/common/ResourceView/ResourceViewGrid/ResourceViewGridItem.styles.tsx
  packages/frontend/src/components/common/ResourceView/ResourceViewGrid/index.tsx
  packages/frontend/src/components/common/ResourceView/index.tsx
  packages/frontend/src/components/common/ResourceView/resourceUtils.ts
  packages/frontend/src/components/common/Table/ScrollableTable/TableHeader.tsx
  packages/frontend/src/components/common/Table/Table.styles.ts
Labels: 🖥 frontend

#4529 feat: export csv options for dashboard chart tile
  packages/frontend/src/components/ChartDownload.tsx
  packages/frontend/src/components/DashboardTiles/DashboardChartTile.tsx
  packages/frontend/src/components/Explorer/ResultsCard/ResultsCard.tsx
  packages/frontend/src/components/ExportCSV/ExportCSV.styles.ts
  packages/frontend/src/components/ExportCSV/ExportCSVModal.tsx
  packages/frontend/src/components/ExportCSV/index.tsx
Labels: 🖥 frontend

#4544 style: update table component colours
  packages/frontend/package.json
  packages/frontend/src/components/common/Table/ScrollableTable/index.tsx
  packages/frontend/src/components/common/Table/Table.styles.ts
  packages/frontend/src/hooks/tableVisualization/getPivotDataAndColumns.ts
  yarn.lock
Labels: 🖥 frontend

#4560 docs: scheduled deliveries and pinning docs
  docs/docs/guides/assets/configure-scheduled-delivery.png
  docs/docs/guides/assets/create-new-modal.png
  docs/docs/guides/assets/edit-delete-scheduled-delivery.png
  docs/docs/guides/assets/scheduled-deliveries-three-dot-menu.png
  docs/docs/guides/how-to-create-scheduled-deliveries.mdx
  docs/docs/guides/sharing-in-slack.mdx
  docs/sidebars.js
Labels: 📖 documentation

#4566 docs: adds format to scheduled deliveries docs
  docs/docs/guides/assets/configure-scheduled-delivery.png
  docs/docs/guides/how-to-create-scheduled-deliveries.mdx
Labels: 📖 documentation

#4570 docs: deletes old docs and adds trial period
  docs/docs/get-started/setup-a-dbt-cloud-project.md
  docs/docs/get-started/setup-a-local-dbt-project.md
  docs/docs/get-started/setup-lightdash/install-lightdash.mdx
  docs/docs/get-started/setup-the-demo-project.md
  docs/docs/get-started/setup-with-cli.md
Labels: 📖 documentation

#4564 fix: most popular items
  packages/frontend/src/components/Home/RecentlyUpdatedPanel/index.tsx
  packages/frontend/src/components/common/ResourceView/index.tsx
Labels: 🖥 frontend

#4574 feat: add a click event for `Drill by`
  packages/frontend/src/components/DashboardTiles/DashboardChartTile.tsx
  packages/frontend/src/components/Explorer/ResultsCard/CellContextMenu.tsx
  packages/frontend/src/components/Explorer/VisualizationCard/SeriesContextMenu.tsx
  packages/frontend/src/components/Explorer/index.tsx
  packages/frontend/src/components/MetricQueryData/DrillDownMenuItem.tsx
  packages/frontend/src/components/MetricQueryData/DrillDownModal.tsx
  packages/frontend/src/components/SimpleStatistic/BigNumberContextMenu.tsx
  packages/frontend/src/components/SimpleTable/CellContextMenu.tsx
  packages/frontend/src/components/SimpleTable/DashboardCellContextMenu.tsx
  packages/frontend/src/pages/Dashboard.tsx
  packages/frontend/src/providers/TrackingProvider.tsx
  packages/frontend/src/types/Events.ts
Labels: 📈 analytics-events

#4582 feat: add a click event for `View underlying data`
  packages/frontend/src/components/DashboardTiles/DashboardChartTile.tsx
  packages/frontend/src/components/Explorer/ResultsCard/CellContextMenu.tsx
  packages/frontend/src/components/Explorer/VisualizationCard/SeriesContextMenu.tsx
  packages/frontend/src/components/Explorer/index.tsx
  packages/frontend/src/components/MetricQueryData/DrillDownModal.tsx
  packages/frontend/src/components/MetricQueryData/UnderlyingDataModal.tsx
  packages/frontend/src/components/SimpleStatistic/BigNumberContextMenu.tsx
  packages/frontend/src/components/SimpleTable/CellContextMenu.tsx
  packages/frontend/src/components/SimpleTable/DashboardCellContextMenu.tsx
  packages/frontend/src/pages/Dashboard.tsx
  packages/frontend/src/providers/TrackingProvider.tsx
  packages/frontend/src/types/Events.ts
Labels: 📈 analytics-events

#4605 fix: start of week validation
  packages/cli/src/index.ts
Labels: 🐛 bug, 🎮 CLI

#4607 chore: improve types for organization
  packages/backend/src/models/OrganizationModel.ts
  packages/backend/src/services/OrganizationService/OrganizationService.ts
  packages/common/src/authorization/organizationMemberAbility.test.ts
  packages/common/src/authorization/types.ts
  packages/common/src/index.ts
  packages/common/src/types/organization.ts
  packages/common/src/types/projects.ts
Labels: 👩‍💻 devx

#4580 fix: validate cached warehouse connections against most recent credentials
  packages/backend/src/models/ProjectModel/ProjectModel.ts
  packages/backend/src/queryBuilder.mock.ts
  packages/backend/src/services/ProjectService/ProjectService.test.ts
  packages/backend/src/services/ProjectService/ProjectService.ts
  packages/common/src/compiler/exploreCompiler.mock.ts
  packages/common/src/types/warehouse.ts
  packages/warehouses/src/warehouseClients/DatabricksWarehouseClient.ts
  packages/warehouses/src/warehouseClients/PostgresWarehouseClient.ts
  packages/warehouses/src/warehouseClients/RedshiftWarehouseClient.ts
  packages/warehouses/src/warehouseClients/SnowflakeWarehouseClient.ts
  packages/warehouses/src/warehouseClients/TrinoWarehouseClient.ts
Labels: 🐛 bug, ⚙️ backend

#4586 feat: resource view redesign
  packages/frontend/src/components/Explorer/SpaceBrowser/SpaceBrowserMenu.tsx
  packages/frontend/src/components/Explorer/SpaceBrowser/index.tsx
  packages/frontend/src/components/Home/RecentlyUpdatedPanel/index.tsx
  packages/frontend/src/components/PinnedItemsPanel/index.tsx
  packages/frontend/src/components/SpacePanel/index.tsx
  packages/frontend/src/components/common/Page/Page.styles.ts
  packages/frontend/src/components/common/ResourceView/ResourceActionMenu.tsx
  packages/frontend/src/components/common/ResourceView/ResourceEmptyState.tsx
  packages/frontend/src/components/common/ResourceView/ResourceIcon.tsx
  packages/frontend/src/components/common/ResourceView/ResourceIcon/ResourceIcon.styles.ts
  packages/frontend/src/components/common/ResourceView/ResourceIcon/index.tsx
  packages/frontend/src/components/common/ResourceView/ResourceLastEdited.styles.ts
  packages/frontend/src/components/common/ResourceView/ResourceLastEdited.tsx
  packages/frontend/src/components/common/ResourceView/ResourceView.styles.ts
  packages/frontend/src/components/common/ResourceView/ResourceViewGrid/ResourceViewGridChartItem.tsx
  packages/frontend/src/components/common/ResourceView/ResourceViewGrid/ResourceViewGridDashboardItem.tsx
  packages/frontend/src/components/common/ResourceView/ResourceViewGrid/ResourceViewGridItem.styles.tsx
  packages/frontend/src/components/common/ResourceView/ResourceViewGrid/ResourceViewGridSpaceItem.tsx
  packages/frontend/src/components/common/ResourceView/ResourceViewGrid/index.tsx
  packages/frontend/src/components/common/ResourceView/ResourceViewList/ResourceViewList.styles.ts
  packages/frontend/src/components/common/ResourceView/ResourceViewList/index.tsx
  packages/frontend/src/components/common/ResourceView/index.tsx
  packages/frontend/src/pages/Home.tsx
  packages/frontend/src/pages/SavedDashboards.tsx
  packages/frontend/src/pages/SavedQueries.tsx
  packages/frontend/src/pages/Space.tsx
  packages/frontend/src/pages/Spaces.tsx
  packages/frontend/src/pages/UserActivity.styles.ts
  packages/frontend/src/pages/UserActivity.tsx
  packages/frontend/src/providers/MantineProvider.tsx
Labels: 🖥 frontend
