Repository lightdash/lightdash, pull requests merged in 2023-10, with the labels that each got.

#7325 feat: use prism to render sql code
  packages/frontend/src/components/RenderedSql.tsx
Labels: 🖥 frontend

#7372 chore: new chart type samples
  packages/backend/src/database/seeds/development/02_saved_queries.ts
Labels: ⚡️ LightSmash Day

#7411 chore: name join function
  packages/backend/src/models/SpaceModel.ts
Labels: tech-debt

#7406 style: multiple UI changes in semantic layer page
  packages/frontend/src/features/metricFlow/components/MetricFlowSqlCard.tsx
  packages/frontend/src/features/metricFlow/components/RunQueryButton.tsx
  packages/frontend/src/pages/MetricFlow.tsx
Labels: 🖥 frontend

#7540 chore: name where function
  packages/backend/src/models/SavedChartModel.ts
Labels: ⚙️ backend, tech-debt

#7539 fix: close dashboard action menu on click
  packages/frontend/src/components/common/Dashboard/DashboardHeader.tsx
Labels: 🐛 bug, 🖥 frontend

#7546 fix: order on dashboards subquery first
  packages/backend/src/generated/routes.ts
  packages/backend/src/generated/swagger.json
  packages/backend/src/models/DashboardModel/DashboardModel.ts
  packages/backend/src/models/SpaceModel.ts
  packages/backend/src/services/DashboardService/DashboardService.ts
Labels: ⚙️ backend

#7548 chore: close on add tile menu item click
  packages/frontend/src/components/DashboardTiles/AddTileButton.tsx
Labels: 🖥 frontend

#7550 style: remove dividers on add tile menu
  packages/frontend/src/components/DashboardTiles/AddTileButton.tsx
Labels: 🖥 frontend

#7555 fix: do not include private resources if admin when on home page
  packages/backend/src/services/ProjectService/ProjectService.ts
Labels: ⚙️ backend

#7567 feat: add stale time and cacheTime to useExplore
  packages/frontend/src/hooks/useExplore.tsx
Labels: 🖥 frontend, ⚡️ LightSmash Day

#7593 feat: replace popover with menu on results table
  packages/e2e/cypress/e2e/app/explore.cy.ts
  packages/frontend/src/components/Explorer/ResultsCard/ColumnHeaderContextMenu.tsx
  packages/frontend/src/components/Explorer/ResultsCard/ColumnHeaderSortMenuOptions.tsx
Labels: 🖥 frontend

#7569 chore: sidebar for chart config
  packages/frontend/src/components/Explorer/VisualizationCard/VisualizationCard.tsx
  packages/frontend/src/components/Explorer/VisualizationCard/VisualizationSidebar.tsx
  packages/frontend/src/components/VisualizationConfigs/BigNumberConfig/BigNumberConfigTabs.tsx
  packages/frontend/src/components/VisualizationConfigs/BigNumberConfig/index.tsx
  packages/frontend/src/components/VisualizationConfigs/ChartConfigPanel/ChartConfigTabs.tsx
  packages/frontend/src/components/VisualizationConfigs/ChartConfigPanel/index.tsx
  packages/frontend/src/components/VisualizationConfigs/PieChartConfig/PieChartConfigTabs.tsx
  packages/frontend/src/components/VisualizationConfigs/PieChartConfig/index.tsx
  packages/frontend/src/components/VisualizationConfigs/TableConfigPanel/TableConfigTabs.tsx
  packages/frontend/src/components/VisualizationConfigs/TableConfigPanel/index.tsx
Labels: ⚡️ LightSmash Day

#7657 docs: updates scheduled deliveries images
  docs/docs/guides/assets/configure-scheduled-delivery.png
  docs/docs/guides/assets/scheduled-deliveries-three-dot-menu.png
  docs/docs/guides/how-to-create-scheduled-deliveries.mdx
Labels: 📖 documentation

#7681 chore: add jaeger to development setup
  .env.development
  docker/docker-compose.dev.yml
  packages/backend/README.md
Labels: 👩‍💻 devx

#7666 chore: create util to construct dashboard saved filter override subparam
  packages/frontend/src/utils/dashboardSavedFiltersOverride.test.ts
  packages/frontend/src/utils/dashboardSavedFiltersOverride.ts
Labels: 🖥 frontend

#7684 chore: add space_id index to saved_queries table
  packages/backend/src/database/migrations/20231026185236_add-index-space-id-to-saved-queries.ts
Labels: ⚙️ backend
