Repository lightdash/lightdash, pull requests merged in 2023-03, with the labels that each got.

#4634 feat: swap tabs
  packages/frontend/src/components/Home/RecentlyUpdatedPanel/index.tsx
Labels: 🖥 frontend

#4654 fix: scheduler migration
  packages/backend/src/index.ts
  packages/backend/src/scheduler.ts
  packages/backend/src/scheduler/SchedulerClient.ts
  packages/backend/src/scheduler/SchedulerWorker.ts
  packages/e2e/cypress/e2e/api/scheduler.cy.ts
Labels: 🐛 bug, ⚙️ backend

#4668 fix: scheduler custom limit
  packages/backend/src/scheduler/SchedulerTask.ts
  packages/frontend/src/components/SchedulerModals/SchedulerModalBase/SchedulerForm.tsx
Labels: 🐛 bug

#4653 feat: minimal chart page
  packages/frontend/package.json
  packages/frontend/src/App.tsx
  packages/frontend/src/components/LightdashVisualization/VisualizationProvider.tsx
  packages/frontend/src/components/LightdashVisualization/index.tsx
  packages/frontend/src/components/MetricQueryData/MetricQueryDataProvider.tsx
  packages/frontend/src/components/SimpleChart/index.tsx
  packages/frontend/src/components/SimpleStatistic/index.tsx
  packages/frontend/src/components/SimpleTable/index.tsx
  packages/frontend/src/components/common/Table/BodyCell.tsx
  packages/frontend/src/components/common/Table/ScrollableTable/TableBody.tsx
  packages/frontend/src/components/common/Table/ScrollableTable/TableHeader.tsx
  packages/frontend/src/components/common/Table/ScrollableTable/index.tsx
  packages/frontend/src/components/common/Table/Table.styles.ts
  packages/frontend/src/components/common/Table/TableProvider.tsx
  packages/frontend/src/components/common/Table/index.tsx
  packages/frontend/src/pages/MinimalSavedExplorer.tsx
  packages/frontend/src/providers/AppProvider.tsx
  packages/frontend/src/providers/ExplorerProvider.tsx
  packages/frontend/src/providers/ThirdPartyServicesProvider.tsx
  packages/frontend/src/providers/TrackingProvider.tsx
  yarn.lock
Labels: 🖥 frontend

#4676 fix: error when updating color palette
  packages/frontend/src/components/UserSettings/AppearancePanel/index.tsx
  packages/frontend/src/hooks/organisation/useOrganisationUpdateMutation.ts
Labels: 🐛 bug, 🖥 frontend

#4674 feat: minimal dashboard page
  packages/frontend/src/App.tsx
  packages/frontend/src/components/DashboardTiles/DashboardChartTile.tsx
  packages/frontend/src/components/DashboardTiles/TileBase/TileBase.styles.tsx
  packages/frontend/src/components/DashboardTiles/TileBase/index.tsx
  packages/frontend/src/hooks/dashboard/useSavedQueryWithDashboardFilters.ts
  packages/frontend/src/pages/MinimalDashboard.tsx
  packages/frontend/src/pages/MinimalSavedExplorer.tsx
Labels: 🖥 frontend

#4690 docs: updates scheduled deliveries with new images
  docs/docs/guides/assets/configure-scheduled-delivery.png
  docs/docs/guides/how-to-create-scheduled-deliveries.mdx
Labels: 📖 documentation

#4689 fix: safari mantine divider issue
  packages/frontend/src/components/common/ResourceView/ResourceViewGrid/ResourceViewGridChartItem.tsx
  packages/frontend/src/components/common/ResourceView/ResourceViewGrid/ResourceViewGridDashboardItem.tsx
Labels: 🐛 bug, 🖥 frontend

#4681 feat: move empty state metrics text to pop over
  packages/frontend/src/components/Explorer/ExploreTree/TableTree/TableTreeSections.tsx
Labels: 🖥 frontend

#4691 fix: conditional formatting interactions
  packages/frontend/src/components/common/Table/Table.styles.ts
Labels: 🐛 bug, 🖥 frontend

#4685 fix: explore csv export
  packages/frontend/src/components/Explorer/VisualizationCard/VisualizationCard.tsx
  packages/frontend/src/components/Explorer/index.tsx
Labels: 🐛 bug, 🖥 frontend

#4712 fix: bignumber text sizes and interactions
  packages/frontend/src/components/AutoFitText/index.tsx
  packages/frontend/src/components/DashboardTiles/DashboardChartTile.tsx
  packages/frontend/src/components/DashboardTiles/DashboardLoomTile.tsx
  packages/frontend/src/components/DashboardTiles/DashboardMarkdownTile.tsx
  packages/frontend/src/components/DashboardTiles/TileBase/TileBase.styles.tsx
  packages/frontend/src/components/DashboardTiles/TileBase/index.tsx
  packages/frontend/src/components/SimpleStatistic/SimpleStatistics.styles.tsx
  packages/frontend/src/components/SimpleStatistic/index.tsx
  packages/frontend/src/pages/Dashboard.tsx
  packages/frontend/src/pages/MinimalDashboard.tsx
Labels: 🖥 frontend

#4745 chore: don't skip external PR tests
  .github/workflows/cli-test.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/timezone-tests.yml
Labels: 👩‍💻 devx

#4682 feat: minor home page improvements
  packages/frontend/src/components/common/ResourceView/ResourceEmptyState.tsx
  packages/frontend/src/components/common/ResourceView/ResourceViewGrid/ResourceViewGridSpaceItem.tsx
Labels: 🖥 frontend

#4661 fix: disallow adding a tile in view mode
  packages/frontend/src/components/DashboardTiles/EmptyStateNoTiles/index.tsx
  packages/frontend/src/pages/Dashboard.tsx
Labels: 🐛 bug, 🖥 frontend

#4746 chore: don't skip external pr tests
  .github/workflows/cli-test.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/timezone-tests.yml
Labels: 🐛 bug

#4683 fix: maintain loading state on table export
  packages/frontend/src/components/ExportCSV/index.tsx
  packages/frontend/src/hooks/toaster/useToaster.tsx
Labels: 🐛 bug, 🖥 frontend

#4773 docs: updates order fields by documentation and adds pinning
  docs/docs/guides/assets/pin-an-item.jpg
  docs/docs/guides/assets/pinned-homepage.jpg
  docs/docs/guides/assets/unpin-an-item.jpg
  docs/docs/guides/pinning.mdx
  docs/docs/intro.md
  docs/docs/references/tables.md
  docs/sidebars.js
Labels: 📖 documentation

#4775 style: homepage improvements
  packages/frontend/src/components/Home/LandingPanel/LandingPanel.styles.tsx
  packages/frontend/src/components/SpacePanel/index.tsx
  packages/frontend/src/components/common/Page/Page.styles.ts
  packages/frontend/src/components/common/ResourceView/ResourceIcon.tsx
  packages/frontend/src/components/common/ResourceView/ResourceViewGrid/ResourceViewGridChartItem.tsx
  packages/frontend/src/components/common/ResourceView/ResourceViewGrid/ResourceViewGridDashboardItem.tsx
  packages/frontend/src/components/common/ResourceView/ResourceViewGrid/ResourceViewGridSpaceItem.tsx
  packages/frontend/src/components/common/ResourceView/ResourceViewList/index.tsx
  packages/frontend/src/components/common/ResourceView/index.tsx
Labels: 🖥 frontend

#4829 docs: adds allowed email domains docs
  docs/docs/references/assets/access-allowed-email-domains.jpg
  docs/docs/references/assets/add-allowed-email-domains.jpg
  docs/docs/references/assets/join-workspace-prompt.png
  docs/docs/references/assets/update-allowed-email-domains.jpg
  docs/docs/references/roles.mdx
Labels: 📖 documentation

#4830 feat: views but since when
  packages/backend/src/database/entities/spaces.ts
  packages/backend/src/models/DashboardModel/DashboardModel.mock.ts
  packages/backend/src/models/DashboardModel/DashboardModel.test.ts
  packages/backend/src/models/DashboardModel/DashboardModel.ts
  packages/backend/src/models/SavedChartModel.ts
  packages/backend/src/models/SpaceModel.ts
  packages/backend/src/services/DashboardService/DashboardService.mock.ts
  packages/backend/src/services/ProjectService/ProjectService.mock.ts
  packages/common/src/openapibundle.json
  packages/common/src/types/dashboard.ts
  packages/common/src/types/savedCharts.ts
  packages/frontend/src/components/Explorer/SavedChartsHeader/index.tsx
  packages/frontend/src/components/common/Dashboard/DashboardHeader.tsx
  packages/frontend/src/components/common/PageHeader/ViewInfo.tsx
  packages/frontend/src/components/common/ResourceView/ResourceViewGrid/ResourceViewGridChartItem.tsx
  packages/frontend/src/components/common/ResourceView/ResourceViewGrid/ResourceViewGridDashboardItem.tsx
  packages/frontend/src/components/common/ResourceView/ResourceViewList/index.tsx
  packages/frontend/src/components/common/ResourceView/resourceUtils.ts
  packages/frontend/src/pages/Dashboard.tsx
Labels: 🖥 frontend, ⚙️ backend

#4868 style: mantine icon
  packages/frontend/src/components/common/MantineIcon/index.tsx
Labels: 🖥 frontend

#4877 fix: setting initial element size width
  packages/frontend/src/components/SimpleStatistic/index.tsx
Labels: 🖥 frontend

#4867 style: mantine spacing
  packages/frontend/src/providers/MantineProvider.tsx
Labels: 🖥 frontend

#4806 chore: warehouse base client
  packages/e2e/cypress/e2e/createProjects.cy.ts
  packages/warehouses/src/warehouseClients/BigqueryWarehouseClient.ts
  packages/warehouses/src/warehouseClients/DatabricksWarehouseClient.ts
  packages/warehouses/src/warehouseClients/PostgresWarehouseClient.ts
  packages/warehouses/src/warehouseClients/RedshiftWarehouseClient.ts
  packages/warehouses/src/warehouseClients/SnowflakeWarehouseClient.ts
  packages/warehouses/src/warehouseClients/TrinoWarehouseClient.ts
  packages/warehouses/src/warehouseClients/WarehouseBaseClient.ts
Labels: 👩‍💻 devx

#4903 style: bignumber spaces
  packages/frontend/src/components/DashboardTiles/DashboardChartTile.tsx
  packages/frontend/src/components/DashboardTiles/TileBase/TileBase.styles.tsx
  packages/frontend/src/components/LightdashVisualization/index.tsx
  packages/frontend/src/components/SimpleStatistic/SimpleStatistics.styles.tsx
  packages/frontend/src/components/SimpleStatistic/index.tsx
Labels: 🖥 frontend

#4920 style: mantine spacing extras
  packages/frontend/src/components/Home/OnboardingPanel/index.tsx
  packages/frontend/src/pages/Invite.tsx
  packages/frontend/src/pages/Login.tsx
  packages/frontend/src/pages/Register.tsx
  packages/frontend/src/providers/MantineProvider.tsx
Labels: 🖥 frontend

#4952 feat: show pivot table on metrics as rows
  packages/e2e/cypress/e2e/createProjects.cy.ts
  packages/frontend/src/components/SimpleTable/index.tsx
  packages/frontend/src/components/TableConfigPanel/GeneralSettings.tsx
  packages/frontend/src/hooks/tableVisualization/useTableConfig.ts
  packages/frontend/src/hooks/useColumns.tsx
  packages/frontend/src/pages/PivotingPOC/PivotTable.tsx
Labels: 🖥 frontend
