Repository lightdash/lightdash, pull requests merged in 2023-11, with the labels that each got.

#7757 feat: make small UI changes to custom dimensions modal
  packages/e2e/cypress/e2e/app/customDimensions.cy.ts
  packages/frontend/src/components/Explorer/CustomDimensionModal/index.tsx
Labels: 🖥 frontend

#7799 feat: migrate last date picker to mantine
  packages/frontend/package.json
  packages/frontend/src/components/VisualizationConfigs/ChartConfigPanel/Legend/ReferenceLine.tsx
  packages/frontend/src/providers/BlueprintProvider.tsx
  yarn.lock
Labels: ⚡️ LightSmash Day

#7801 feat: add dashboard auto refresh behind feature flag
  packages/frontend/src/components/common/Dashboard/DashboardHeader.tsx
  packages/frontend/src/components/common/Dashboard/DashboardRefreshButton.tsx
Labels: ⚡️ LightSmash Day

#7814 chore: filter feature tidyup
  packages/frontend/src/components/DashboardFilter/Filter.tsx
  packages/frontend/src/components/DashboardFilter/FilterConfiguration/FilterSettings.tsx
  packages/frontend/src/components/DashboardFilter/FilterConfiguration/TileFilterConfiguration.tsx
  packages/frontend/src/components/DashboardFilter/FilterConfiguration/index.tsx
  packages/frontend/src/components/DashboardTiles/DashboardChartTile.tsx
  packages/frontend/src/components/Explorer/CustomMetricModal/index.tsx
  packages/frontend/src/components/Explorer/FiltersCard/FiltersCard.tsx
  packages/frontend/src/components/VisualizationConfigs/ChartConfigPanel/Legend/ReferenceLine.tsx
  packages/frontend/src/components/VisualizationConfigs/TableConfigPanel/ConditionalFormattingRule.tsx
  packages/frontend/src/components/common/Filters/FilterInputs/BooleanFilterInputs.tsx
  packages/frontend/src/components/common/Filters/FilterInputs/DateFilterInputs.tsx
  packages/frontend/src/components/common/Filters/FilterInputs/DefaultFilterInputs.tsx
  packages/frontend/src/components/common/Filters/FilterInputs/FilterDatePicker.tsx
  packages/frontend/src/components/common/Filters/FilterInputs/FilterDateTimePicker.tsx
  packages/frontend/src/components/common/Filters/FilterInputs/FilterMonthAndYearPicker.tsx
  packages/frontend/src/components/common/Filters/FilterInputs/FilterStringAutoComplete.tsx
  packages/frontend/src/components/common/Filters/FilterInputs/FilterUnitOfTimeAutoComplete.tsx
  packages/frontend/src/components/common/Filters/FilterInputs/FilterWeekPicker.tsx
  packages/frontend/src/components/common/Filters/FilterInputs/FilterYearPicker.tsx
  packages/frontend/src/components/common/Filters/FilterInputs/index.tsx
  packages/frontend/src/components/common/Filters/FilterRuleForm.tsx
  packages/frontend/src/components/common/Filters/FiltersProvider.tsx
  packages/frontend/src/components/common/PivotTable/index.tsx
  packages/frontend/src/components/common/Table/ScrollableTable/TableBody.tsx
  packages/frontend/src/features/scheduler/components/SchedulerFilters.tsx
Labels: tech-debt, ⚡️ LightSmash Day

#7811 feat: update chart related buttons
  packages/frontend/src/components/ExploreFromHereButton/index.tsx
  packages/frontend/src/components/Explorer/ExplorerHeader/ExplorerHeader.styles.tsx
  packages/frontend/src/components/Explorer/ExplorerHeader/index.tsx
  packages/frontend/src/components/Explorer/SaveChartButton/SaveChartButton.styles.tsx
  packages/frontend/src/components/Explorer/SaveChartButton/index.tsx
  packages/frontend/src/components/Explorer/SavedChartsHeader/index.tsx
  packages/frontend/src/components/Home/LandingPanel/LandingPanel.styles.tsx
  packages/frontend/src/components/RefreshButton.tsx
  packages/frontend/src/components/common/ShareShortLinkButton/ShareShortLinkButton.styles.tsx
  packages/frontend/src/components/common/ShareShortLinkButton/index.tsx
Labels: 🖥 frontend, ⚡️ LightSmash Day

#7827 fix: return redirect on OIDC
  packages/backend/src/controllers/authentication.ts
Labels: 🐛 bug, ⚙️ backend

#7851 fix: add space_id index to dashboards table
  packages/backend/src/database/migrations/20231107174707_add-index-space-id-to-dashboards.ts
Labels: ⚙️ backend

#7862 docs: adds docs for sql runner
  docs/docs/references/assets/access-sql-runner.jpg
  docs/docs/references/assets/share-sql-runner-chart.jpg
  docs/docs/references/assets/sql-runner-components.jpg
  docs/docs/references/the-sql-runner.mdx
  docs/sidebars.js
Labels: 📖 documentation

#7868 fix: make dashboard tiles initially undefined to avoid extra call
  packages/frontend/src/components/DashboardFilter/Filter.tsx
  packages/frontend/src/components/DashboardTiles/DashboardChartTile.tsx
  packages/frontend/src/components/DashboardTiles/TileForms/AddChartTilesModal.tsx
  packages/frontend/src/hooks/dashboard/useDashboard.tsx
  packages/frontend/src/hooks/dashboard/useDashboardStorage.tsx
  packages/frontend/src/pages/Dashboard.tsx
  packages/frontend/src/providers/DashboardProvider.tsx
Labels: 🖥 frontend

#7898 fix: optimise chart results endpoint
  packages/backend/src/services/ProjectService/ProjectService.ts
Labels: ⚙️ backend

#7904 feat: prefetch tiles sequentially
  packages/frontend/src/pages/Dashboard.tsx
Labels: 🖥 frontend

#7942 fix: improve available filters and metric query suggestions
  packages/backend/src/generated/swagger.json
  packages/backend/src/services/ProjectService/ProjectService.ts
  packages/common/src/types/dashboard.ts
  packages/frontend/src/components/DashboardTiles/DashboardChartTile.tsx
  packages/frontend/src/hooks/dashboard/useDashboard.tsx
  packages/frontend/src/providers/DashboardProvider.tsx
Labels: 🖥 frontend, ⚙️ backend

#7986 fix: get space access in batches along with explores on availableFilters
  packages/backend/src/models/SpaceModel.ts
  packages/backend/src/services/ProjectService/ProjectService.ts
Labels: ⚙️ backend

#7997 feat: enable dashboard scheduled delivery filters for csv export
  packages/backend/src/scheduler/SchedulerTask.ts
  packages/backend/src/services/CsvService/CsvService.ts
  packages/common/src/types/filter.ts
  packages/frontend/src/hooks/useSavedDashboardFiltersOverrides.tsx
  packages/frontend/src/providers/DashboardProvider.tsx
Labels: ⚙️ backend

#8027 fix: validate email in recover password form
  packages/frontend/src/pages/PasswordRecoveryForm.tsx
Labels: 🐛 bug, 🖥 frontend

#8060 docs: adds totals to chart type docs and updates sidebar
  docs/docs/guides/visualizing-your-results.mdx
  docs/sidebars.js
Labels: 📖 documentation

#8062 fix: sync override type with the dashboard filter one
  packages/frontend/src/hooks/useSavedDashboardFiltersOverrides.tsx
Labels: tech-debt

#8033 chore: show dashboard filter label if exists in scheduler filters
  packages/frontend/src/features/scheduler/components/SchedulerFilters.tsx
Labels: 🖥 frontend

#8063 feat: add date zoom component
  packages/frontend/src/features/dateZoom/components/DateZoom.tsx
  packages/frontend/src/features/dateZoom/index.ts
  packages/frontend/src/pages/Dashboard.tsx
Labels: 🖥 frontend

#8072 fix: upgrade tsoa to 6.0.0-rc.5
  packages/backend/package.json
  packages/backend/src/generated/routes.ts
  packages/backend/src/generated/swagger.json
  yarn.lock
Labels: ⚙️ backend

#8082 fix: tsoa types generation with scheduler filter Omit
  packages/backend/src/generated/routes.ts
  packages/backend/src/generated/swagger.json
  packages/common/src/types/scheduler.ts
Labels: 🐛 bug, ⚙️ backend

#8069 feat: disable and clear date zoom on edit mode
  packages/frontend/src/features/dateZoom/components/DateZoom.tsx
  packages/frontend/src/pages/Dashboard.tsx
Labels: 🖥 frontend

#8071 chore: store date zoom granularity in dashboard provider
  packages/frontend/src/features/dateZoom/components/DateZoom.tsx
  packages/frontend/src/features/dateZoom/constants/index.ts
  packages/frontend/src/features/dateZoom/index.ts
  packages/frontend/src/providers/DashboardProvider.tsx
Labels: 🖥 frontend

#8086 fix: add missing tableCalculations type property
  packages/backend/src/generated/routes.ts
  packages/backend/src/generated/swagger.json
  packages/common/src/types/metricQuery.ts
Labels: ⚙️ backend

#8080 chore: enable posthog on backend
  packages/backend/package.json
  packages/backend/src/analytics/client.ts
  packages/backend/src/index.ts
  packages/backend/src/postHog.ts
  yarn.lock
Labels: ⚙️ backend

#8101 fix: add undefined value to posthog if no key
  packages/backend/src/analytics/client.ts
  packages/backend/src/postHog.ts
Labels: 🐛 bug, ⚙️ backend

#8084 feat: display filter summary if not overridden
  packages/frontend/src/features/scheduler/components/SchedulerFilters.tsx
Labels: 🖥 frontend

#8123 docs: add missing import paths to gh secrets
  docs/docs/guides/cli/how-to-use-lightdash-preview.mdx
Labels: 📖 documentation

#8112 feat: add filter data to scheduler events
  packages/backend/src/analytics/LightdashAnalytics.ts
  packages/backend/src/services/DashboardService/DashboardService.ts
  packages/backend/src/services/SavedChartsService/SavedChartService.ts
  packages/backend/src/services/SchedulerService/SchedulerService.ts
Labels: 📈 analytics-events

#8135 chore: remove feature flag check for dashboard scheduler filters
  packages/frontend/src/features/scheduler/components/SchedulerForm.tsx
Labels: 🖥 frontend

#8156 fix: metadata runquery
  packages/backend/src/generated/routes.ts
  packages/backend/src/generated/swagger.json
  packages/common/src/types/metricQuery.ts
Labels: 🐛 bug

#8161 fix: remove extra tooltip on dashboard title
  packages/frontend/src/components/DashboardTiles/TileBase/index.tsx
Labels: 🐛 bug, 🖥 frontend
