Repository lightdash/lightdash, pull requests merged in 2024-02, with the labels that each got.

#8798 feat: remove flag check for custom metrics formatting
  packages/frontend/src/components/Explorer/CustomMetricModal/index.tsx
Labels: 🖥 frontend

#8828 fix: replace react-beautiful-dnd with @hello-pangea/dnd
  packages/frontend/package.json
  packages/frontend/src/components/SortButton/SortItem.tsx
  packages/frontend/src/components/SortButton/Sorting.tsx
  packages/frontend/src/components/VisualizationConfigs/ChartConfigPanel/Series/BasicSeriesConfiguration.tsx
  packages/frontend/src/components/VisualizationConfigs/ChartConfigPanel/Series/GroupedSeriesConfiguration.tsx
  packages/frontend/src/components/VisualizationConfigs/ChartConfigPanel/Series/SingleSeriesConfiguration.tsx
  packages/frontend/src/components/VisualizationConfigs/ChartConfigPanel/Series/index.tsx
  packages/frontend/src/components/VisualizationConfigs/PieChartConfig/PieChartSeriesConfig.tsx
  packages/frontend/src/components/VisualizationConfigs/TableConfigPanel/DroppableItemsList.tsx
  packages/frontend/src/components/VisualizationConfigs/TableConfigPanel/GeneralSettings.tsx
  packages/frontend/src/components/common/ResourceView/ResourceViewGrid/index.tsx
  packages/frontend/src/components/common/Table/ScrollableTable/HeaderDnD.tsx
  packages/frontend/src/components/common/Table/ScrollableTable/TableHeader.tsx
  packages/frontend/vite.config.ts
  yarn.lock
Labels: 👩‍💻 devx

#8814 chore: move FormatForm to explorer components
  packages/backend/src/generated/swagger.json
  packages/frontend/src/components/Explorer/CustomMetricModal/index.tsx
  packages/frontend/src/components/Explorer/FormatForm/index.tsx
  packages/frontend/src/features/tableCalculation/components/TableCalculationModal.tsx
Labels: 🖥 frontend

#8829 fix: dropColumn format_options on down in migration
  packages/backend/src/database/migrations/20240130125623_add-custom-metrics-format-options.ts
Labels: 🐛 bug, ⚙️ backend

#8807 feat: unify legacy Format with CustomFormat functions
  examples/full-jaffle-shop-demo/dbt/models/schema.yml
  packages/backend/src/generated/routes.ts
  packages/backend/src/generated/swagger.json
  packages/common/src/types/field.ts
  packages/common/src/utils/filters.ts
  packages/common/src/utils/formatting.test.ts
  packages/common/src/utils/formatting.ts
  packages/e2e/cypress/e2e/app/formats.cy.ts
  packages/frontend/src/components/Explorer/FormatForm/index.tsx
  packages/frontend/src/hooks/echarts/useEchartsCartesianConfig.ts
  packages/frontend/src/hooks/useBigNumberConfig.ts
Labels: 🖥 frontend, ⚙️ backend

#8854 chore: rename Charts to Chart accordion title
  packages/e2e/cypress/e2e/app/dates.cy.ts
  packages/e2e/cypress/e2e/app/downloadCsv.cy.ts
  packages/e2e/cypress/e2e/app/explore.cy.ts
  packages/frontend/src/components/Explorer/VisualizationCard/VisualizationCard.tsx
  packages/frontend/src/pages/SqlRunner.tsx
Labels: 🖥 frontend

#8775 fix: experiment with 2 approaches when taking screenshot of dashboard
  packages/backend/package.json
  packages/backend/src/services/UnfurlService/UnfurlService.ts
  yarn.lock
Labels: ⚙️ backend

#8871 fix: update scheduled delivery preview copy to be more user-friendly
  packages/frontend/src/features/scheduler/constants/index.ts
Labels: 🖥 frontend

#8884 fix: return correct cast when type string
  packages/common/src/utils/formatting.test.ts
  packages/common/src/utils/formatting.ts
Labels: 🐛 bug, ⚙️ backend

#8907 chore: add more span attributes to screenshots
  packages/backend/src/services/UnfurlService/UnfurlService.ts
Labels: ⚙️ backend

#8874 feat: TV/Fullscreen mode for dashboards
  packages/frontend/src/App.tsx
  packages/frontend/src/components/NavBar/index.tsx
  packages/frontend/src/components/common/Dashboard/DashboardHeader.tsx
  packages/frontend/src/pages/Dashboard.tsx
  packages/frontend/src/providers/AppProvider.tsx
  packages/frontend/src/testing/__mocks__/providers/AppProvider.mock.tsx
Labels: 🖥 frontend

#8922 feat: enable soft-wrapping by default, store user choice locally
  packages/frontend/src/components/SqlRunner/SqlRunnerInput.tsx
  packages/frontend/src/features/tableCalculation/components/SqlForm.tsx
Labels: 🖥 frontend, ux

#8925 fix: wrap sql_filter with ()
  packages/backend/src/queryBuilder.mock.ts
  packages/backend/src/queryBuilder.test.ts
  packages/backend/src/queryBuilder.ts
Labels: 🐛 bug, ⚙️ backend

#8937 chore: update dbt compile error message
  packages/cli/src/handlers/dbt/compile.ts
Labels: 🎮 CLI

#8986 chore: add duplicate-external-PR GH action
  .github/workflows/duplicate-external-pr.yml
Labels: 👩‍💻 devx

#9008 fix: use GITHUB_CI_TOKEN to check team in org
  .github/workflows/duplicate-external-pr.yml
Labels: 👩‍💻 devx

#9015 fix: generate valid urls based on site url
  packages/backend/src/services/CsvService/CsvService.ts
  packages/backend/src/services/GitIntegrationService/GitIntegrationService.ts
  packages/backend/src/services/UnfurlService/UnfurlService.ts
Labels: 🐛 bug, ⚙️ backend

#8995 docs: update faq to intercom articles
  docs/docs/contact/_category_.json
  docs/docs/contact/assets/star_github_action.png
  docs/docs/contact/contact_info.md
  docs/docs/guides/visualizing-your-results.mdx
  docs/docs/help-and-contact/_category_.json
  docs/docs/help-and-contact/faqs/_category_.json
  docs/docs/help-and-contact/faqs/assets/lower-total.png
  docs/docs/help-and-contact/faqs/faqs.mdx
  docs/docusaurus.config.js
  docs/sidebars.js
Labels: 📖 documentation

#9032 chore: fix typo with step output
  .github/workflows/duplicate-external-pr.yml
Labels: 👩‍💻 devx

#9033 chore: fix PR creation with the correct token
  .github/workflows/duplicate-external-pr.yml
Labels: 👩‍💻 devx

#9039 chore: update duplicate external pr script in gh action
  .github/workflows/duplicate-external-pr.yml
Labels: 👩‍💻 devx

#9055 feat: show longer dbt descriptions for fields, including markdown support
  examples/full-jaffle-shop-demo/dbt/models/docs.md
  packages/frontend/src/components/Explorer/ExploreTree/TableTree/ItemDetailContext.tsx
  packages/frontend/src/components/Explorer/ExploreTree/TableTree/Tree/TreeSingleNode.tsx
  packages/frontend/src/components/Explorer/ExploreTree/TableTree/Tree/TreeSingleNodeActions.tsx
  packages/frontend/src/components/Explorer/ExploreTree/TableTree/index.tsx
  packages/frontend/src/utils/markdownUtils.ts
Labels: 🖥 frontend

#9084 feat: add omnibar created at filter
  packages/frontend/src/features/omnibar/api/search.ts
  packages/frontend/src/features/omnibar/components/Omnibar.tsx
  packages/frontend/src/features/omnibar/components/OmnibarFilters.tsx
  packages/frontend/src/features/omnibar/components/OmnibarItemGroups.tsx
  packages/frontend/src/features/omnibar/hooks/useSearch.ts
  packages/frontend/src/features/omnibar/utils/getDateFilterLabel.ts
Labels: 🖥 frontend

#9086 chore: generate api
  packages/backend/src/generated/routes.ts
  packages/backend/src/generated/swagger.json
Labels: ⚙️ backend

#9012 docs: removes dbt metrics docs
  docs/docs/references/metrics.mdx
Labels: 📖 documentation

#9092 fix: explicitly close description popover when menu clicked, tweak offset
  packages/frontend/src/components/Explorer/ExploreTree/TableTree/Tree/TreeSingleNode.tsx
Labels: 🖥 frontend

#9124 fix: always use same name for search_rank, do not depend on arg
  packages/backend/src/models/SearchModel/index.ts
  packages/backend/src/models/SearchModel/utils/fullTextSearch.ts
Labels: ⚙️ backend

#9137 chore: generate-api
  packages/backend/src/generated/routes.ts
  packages/backend/src/generated/swagger.json
Labels: ⚙️ backend

#9139 fix: semantic layer expired query
  packages/frontend/src/features/metricFlow/hooks/useMetricFlowQueryResults.ts
Labels: 🐛 bug, 🖥 frontend

#9131 feat: dashboard comments mentions notifications (BE)
  packages/backend/src/@types/knex-tables.d.ts
  packages/backend/src/controllers/notificationsController.ts
  packages/backend/src/database/entities/notifications.ts
  packages/backend/src/database/migrations/20240227104547_notifications.ts
  packages/backend/src/generated/routes.ts
  packages/backend/src/generated/swagger.json
  packages/backend/src/models/CommentModel/CommentModel.ts
  packages/backend/src/models/NotificationsModel/NotificationsModel.ts
  packages/backend/src/models/models.ts
  packages/backend/src/services/CommentService/CommentService.ts
  packages/backend/src/services/NotificationsService/NotificationsService.ts
  packages/backend/src/services/services.ts
  packages/common/src/index.ts
  packages/common/src/types/api/notifications.ts
  yarn.lock
Labels: ⚙️ backend

#9143 fix: semantic layer required dimension message
  packages/frontend/src/features/metricFlow/hooks/useMetricFlowQueryResults.ts
Labels: 🐛 bug, 🖥 frontend, 💜 customer support
