Repository lightdash/lightdash, pull requests merged in 2024-08, with the labels that each got.

#10957 fix: allow to update a dashboard whith SQL chart tiles where the uuid…
  packages/backend/src/database/migrations/20240801113622_update_dashboard_tile_sql_chart_to_be_nullable.ts
Labels: 🐛 bug, ⚙️ backend

#10961 fix: change y axis aggregation based on index instead of reference
  packages/frontend/src/features/sqlRunner/components/BarChartFieldConfiguration.tsx
  packages/frontend/src/features/sqlRunner/store/barChartSlice.ts
Labels: 🐛 bug, 🖥 frontend

#10966 fix: dont use conditional visibility for table overflows
  packages/frontend/src/features/sqlRunner/components/Sidebar.tsx
Labels: 🐛 bug, 🖥 frontend

#10963 style: improve y axis position input
  packages/frontend/src/features/sqlRunner/components/BarChartStyling.tsx
Labels: 🖥 frontend

#10965 feat: endpoint to fetch SQL chart results from slug
  packages/backend/src/controllers/sqlRunnerController.ts
  packages/backend/src/generated/routes.ts
  packages/backend/src/generated/swagger.json
  packages/backend/src/services/SavedSqlService/SavedSqlService.ts
  packages/frontend/src/features/sqlRunner/hooks/useSqlChartResults.ts
  packages/frontend/src/pages/ViewSqlChart.tsx
Labels: 👩‍💻 devx

#11003 chore: replace useDebouncedValue with useDeferredValue
  packages/frontend/src/features/sqlRunner/components/ContentPanel.tsx
Labels: 🖥 frontend

#11017 fix: SQL chart view page loading state and chart height
  packages/frontend/src/features/sqlRunner/components/ContentPanel.tsx
  packages/frontend/src/pages/ViewSqlChart.tsx
Labels: 🐛 bug, 🖥 frontend

#11071 chore: enumerate data type of dimension in `lightdash-dbt-2.0.json`
  packages/common/src/schemas/json/lightdash-dbt-2.0.json
Labels: 👩‍💻 devx

#11074 docs: update cli development docs with example and caveat
  packages/cli/README.md
Labels: 📖 documentation

#11083 feat: sort field select similar to explore tree
  packages/frontend/src/components/Explorer/FiltersCard/FiltersCard.tsx
  packages/frontend/src/components/common/FieldSelect/index.tsx
  packages/frontend/src/components/common/Filters/FilterRuleForm.tsx
  packages/frontend/src/components/common/Filters/FiltersProvider.tsx
  packages/frontend/src/components/common/Filters/index.tsx
Labels: 🖥 frontend

#11090 chore: support groups in `lightdash-dbt-2.0.json`
  packages/common/src/schemas/json/lightdash-dbt-2.0.json
Labels: 👩‍💻 devx

#11165 style: pass overflow hidden if current vis is table
  packages/frontend/src/features/sqlRunner/components/ContentPanel.tsx
Labels: 🐛 bug, 🖥 frontend

#11170 perf: improve sql chart display changes
  packages/backend/src/generated/routes.ts
  packages/backend/src/generated/swagger.json
  packages/backend/src/models/SavedSqlModel.ts
  packages/common/src/types/sqlRunner.ts
  packages/common/src/visualizations/CartesianChartDataTransformer.ts
  packages/common/src/visualizations/PieChartDataTransformer.ts
  packages/frontend/src/features/semanticViewer/transformers/useSqlChart.ts
  packages/frontend/src/features/sqlRunner/components/visualizations/SqlRunnerChart.tsx
  packages/frontend/src/features/sqlRunner/transformers/useSqlChart.ts
Labels: 🖥 frontend

#11175 fix: update x y labels if undefined
  packages/frontend/src/components/DataViz/config/CartesianChartStyling.tsx
Labels: 🐛 bug, 🖥 frontend

#11184 perf: track active configs and render on selection
  packages/frontend/src/features/sqlRunner/components/ContentPanel.tsx
  packages/frontend/src/features/sqlRunner/store/sqlRunnerSlice.ts
Labels: 🖥 frontend

#11188 fix: display a clearer message in sqlRunner when errors are thrown
  packages/frontend/src/features/sqlRunner/hooks/useSqlQueryRun.tsx
Labels: 🖥 frontend

#11193 perf: debounce on sql change
  packages/frontend/src/features/sqlRunner/components/ContentPanel.tsx
  packages/frontend/src/features/sqlRunner/components/SqlEditor.tsx
Labels: 🖥 frontend

#11204 fix: amend debounce callback
  packages/frontend/src/features/sqlRunner/components/SqlEditor.tsx
Labels: 🐛 bug, 🖥 frontend

#11209 feat: allow toggling schemas
  packages/frontend/src/features/sqlRunner/components/Tables.tsx
  packages/frontend/src/features/sqlRunner/hooks/useTables.tsx
Labels: 🖥 frontend

#11222 feat: pivot sql query against warehouse
  packages/backend/src/controllers/sqlRunnerController.ts
  packages/backend/src/generated/routes.ts
  packages/backend/src/generated/swagger.json
  packages/backend/src/queryBuilder.ts
  packages/backend/src/scheduler/SchedulerClient.ts
  packages/backend/src/scheduler/SchedulerTask.ts
  packages/backend/src/scheduler/SchedulerWorker.ts
  packages/backend/src/services/ProjectService/ProjectService.ts
  packages/backend/src/services/SavedSqlService/SavedSqlService.ts
  packages/common/src/types/scheduler.ts
  packages/common/src/types/sqlRunner.ts
  packages/common/src/visualizations/CartesianChartDataTransformer.ts
  packages/common/src/visualizations/PieChartDataTransformer.ts
  packages/common/src/visualizations/ResultsRunnerBase.ts
  packages/common/src/visualizations/types/index.ts
  packages/frontend/package.json
  packages/frontend/src/components/DashboardTiles/DashboardSqlChartTile.tsx
  packages/frontend/src/components/DataViz/transformers/ResultsTransformer.ts
  packages/frontend/src/components/DataViz/transformers/useChart.ts
  packages/frontend/src/components/DataViz/visualizations/ChartView.tsx
  packages/frontend/src/features/sqlRunner/components/ContentPanel.tsx
  packages/frontend/src/features/sqlRunner/duckDBQuery.ts
  packages/frontend/src/features/sqlRunner/transformers/SqlRunnerResultsTransformer.ts
  packages/frontend/src/pages/ViewSqlChart.tsx
  yarn.lock
Labels: 🖥 frontend, ⚙️ backend

#11281 fix: allow cmd+enter when focusing sql editor
  packages/frontend/src/features/sqlRunner/components/ContentPanel.tsx
  packages/frontend/src/features/sqlRunner/components/SqlEditor.tsx
Labels: 🐛 bug, 🖥 frontend

#11291 feat: remove limit and display chart results in chart viz
  packages/backend/src/generated/routes.ts
  packages/backend/src/generated/swagger.json
  packages/backend/src/services/ProjectService/ProjectService.ts
  packages/common/src/visualizations/CartesianChartDataModel.ts
  packages/common/src/visualizations/TableDataModel.ts
  packages/common/src/visualizations/types/index.ts
  packages/frontend/src/components/DataViz/transformers/ResultsRunner.ts
  packages/frontend/src/components/DataViz/transformers/useChart.ts
  packages/frontend/src/components/DataViz/visualizations/ChartView.tsx
  packages/frontend/src/components/DataViz/visualizations/Table.tsx
  packages/frontend/src/features/sqlRunner/components/ContentPanel.tsx
  packages/frontend/src/features/sqlRunner/hooks/useChartResultsTableConfig.tsx
  packages/frontend/src/features/sqlRunner/store/sqlRunnerSlice.ts
Labels: 🖥 frontend, ⚙️ backend

#11310 fix: viewers+ can view sql runner charts
  packages/backend/src/controllers/sqlRunnerController.ts
  packages/backend/src/generated/routes.ts
  packages/backend/src/generated/swagger.json
  packages/backend/src/services/SavedSqlService/SavedSqlService.ts
  packages/common/src/types/sqlRunner.ts
  packages/common/src/visualizations/CartesianChartDataModel.ts
  packages/common/src/visualizations/types/IResultsRunner.ts
  packages/frontend/src/components/DashboardTiles/DashboardSqlChartTile.tsx
  packages/frontend/src/components/DataViz/transformers/useChart.ts
  packages/frontend/src/components/DataViz/visualizations/ChartView.tsx
  packages/frontend/src/features/sqlRunner/components/Header/HeaderView.tsx
  packages/frontend/src/features/sqlRunner/runners/SqlRunnerResultsRunner.ts
  packages/frontend/src/pages/ViewSqlChart.tsx
Labels: 🐛 bug, 🖥 frontend, ⚙️ backend

#11304 perf: only trigger query when config.type/config.fieldConfig changes
  packages/common/src/visualizations/CartesianChartDataModel.ts
  packages/common/src/visualizations/PieChartDataModel.ts
  packages/common/src/visualizations/TableDataModel.ts
  packages/common/src/visualizations/types/IChartDataModel.ts
  packages/frontend/src/components/DataViz/transformers/getChartConfigAndOptions.ts
  packages/frontend/src/components/DataViz/transformers/useChart.ts
Labels: 🐛 bug, 🖥 frontend
