Repository lightdash/lightdash, pull requests merged in 2024-01, with the labels that each got.

#8428 feat: add preview choice to dashboard scheduled deliveries
  packages/backend/src/database/entities/scheduler.ts
  packages/backend/src/database/migrations/20231229105147_add-custom-viewport-width-to-scheduler-table.ts
  packages/backend/src/models/SchedulerModel/index.ts
  packages/backend/src/scheduler/SchedulerTask.ts
  packages/common/src/types/scheduler.ts
  packages/frontend/src/components/common/modal/DashboardExportModal.tsx
  packages/frontend/src/features/preview/components/PreviewAndCustomizeScreenshot.tsx
  packages/frontend/src/features/preview/index.ts
  packages/frontend/src/features/scheduler/components/SchedulerForm.tsx
  packages/frontend/src/features/scheduler/components/SchedulerPreview.tsx
  packages/frontend/src/features/scheduler/constants/index.ts
Labels: 🖥 frontend

#8456 chore: add .nvmrc to docs/
  docs/.nvmrc
  docs/package.json
  docs/yarn.lock
Labels: tech-debt

#8445 feat: add option to query members and their groups
  packages/backend/src/controllers/organizationController.ts
  packages/backend/src/generated/routes.ts
  packages/backend/src/generated/swagger.json
  packages/backend/src/models/OrganizationMemberProfileModel.ts
  packages/backend/src/services/OrganizationService/OrganizationService.ts
  packages/common/src/types/organizationMemberProfile.ts
Labels: ⚙️ backend

#8462 docs: adds hidden joins table management instructions
  docs/docs/guides/how-to-embed-content.mdx
  docs/docs/references/joins.md
  docs/sidebars.js
Labels: 📖 documentation

#8470 docs: adds docs for multiple values for user attributes
  docs/docs/references/user-attributes.mdx
Labels: 📖 documentation

#8477 fix: get screenshot from element instead
  packages/backend/src/services/UnfurlService/UnfurlService.ts
Labels: 🐛 bug, ⚙️ backend

#8478 feat: extra large option to export and scheduler
  packages/frontend/src/features/scheduler/constants/index.ts
Labels: 🖥 frontend

#8455 feat: add placeholder UI to add user attributes to groups
  packages/e2e/cypress/e2e/app/userAttributes.cy.ts
  packages/frontend/src/components/UserSettings/UserAttributesPanel/UserAttributeModal.tsx
  packages/frontend/src/components/UserSettings/UserAttributesPanel/index.tsx
  packages/frontend/src/hooks/useOrganizationGroups.ts
  packages/frontend/src/pages/Settings.tsx
Labels: 🖥 frontend

#8475 docs: adds embedding reference doc
  docs/docs/guides/how-to-embed-content.mdx
  docs/docs/references/assets/user-attributes-default.png
  docs/docs/references/assets/user-attributes-override.png
  docs/docs/references/embedding.mdx
  docs/sidebars.js
Labels: 📖 documentation

#8486 fix: show SSO authentication error once
  packages/frontend/src/components/UserSettings/SocialLoginsPanel/index.tsx
  packages/frontend/src/components/common/ThirdPartySignInButton/index.tsx
  packages/frontend/src/pages/Invite.tsx
  packages/frontend/src/pages/Login.tsx
  packages/frontend/src/pages/Register.tsx
Labels: 🐛 bug, 🖥 frontend

#8502 docs: how to use developer credentials in your preview project
  docs/docs/guides/cli/how-to-use-lightdash-preview.mdx
Labels: 📖 documentation

#8516 docs: update embedding docs
  docs/docs/guides/assets/create-user-attribute.png
  docs/docs/guides/assets/dashboard-embed-attribute.png
  docs/docs/guides/create-user-attribute.png
  docs/docs/guides/how-to-embed-content.mdx
  docs/docs/references/embedding.mdx
Labels: 📖 documentation

#8557 chore: add otel events to explore filtering
  packages/backend/src/services/ProjectService/ProjectService.ts
Labels: 👩‍💻 devx

#8537 docs: adds groups doc
  docs/docs/references/assets/groups-management-page.jpg
  docs/docs/references/groups.mdx
  docs/docs/references/roles.mdx
  docs/docs/references/user-attributes.mdx
  docs/sidebars.js
Labels: 📖 documentation

#8569 fix: get correct regex for chart-and-results endpoint
  packages/backend/src/services/UnfurlService/UnfurlService.ts
Labels: ⚙️ backend

#8563 docs: adds docs about groups and user precedence in user attributes
  docs/docs/references/groups.mdx
  docs/docs/references/user-attributes.mdx
Labels: 📖 documentation

#8564 docs: add totals faqs
  docs/docs/guides/visualizing-your-results.mdx
  docs/docs/help-and-contact/faqs/assets/lower-total.png
  docs/docs/help-and-contact/faqs/faqs.md
  docs/docs/help-and-contact/faqs/faqs.mdx
Labels: 📖 documentation

#8578 docs: adds export results to roles
  docs/docs/references/roles.mdx
Labels: 📖 documentation

#8568 fix: only append authorizationServerId if exists
  packages/backend/src/controllers/authentication.ts
Labels: 🐛 bug, ⚙️ backend

#8580 chore: remove unused frontend packages
  packages/frontend/package.json
  yarn.lock
Labels: tech-debt

#8595 feat: parameterize the output path of `generate-exposures`
  packages/cli/src/handlers/generateExposures.ts
  packages/cli/src/index.ts
Labels: 🎮 CLI

#8367 feat(cli): options --skip-warehouse-catalog and --use-dbt-list
  packages/cli/src/analytics/analytics.ts
  packages/cli/src/dbt/validation.ts
  packages/cli/src/handlers/compile.ts
  packages/cli/src/handlers/dbt/compile.ts
  packages/cli/src/index.ts
  packages/common/src/compiler/translator.test.ts
  packages/common/src/compiler/translator.ts
Labels: ✨ feature-request

#8603 chore: remove extra s in `cancels`
  packages/frontend/src/components/DashboardTiles/TileForms/TileUpdateModal.tsx
Labels: 🖥 frontend

#8613 chore(cli): add execution ID to command events
  packages/cli/src/analytics/analytics.ts
  packages/cli/src/handlers/compile.ts
  packages/cli/src/handlers/dbt/refresh.ts
  packages/cli/src/handlers/deploy.ts
  packages/cli/src/handlers/generate.ts
  packages/cli/src/handlers/generateExposures.ts
  packages/cli/src/handlers/preview.ts
Labels: 📈 analytics-events, 🎮 CLI

#8706 feat: add accordion to format custom metrics
  packages/frontend/src/components/Explorer/CustomMetricModal/index.tsx
Labels: 🖥 frontend

#8636 feat: users can manage their own warehouse credentials
  packages/frontend/src/components/NavBar/ProjectSwitcher.tsx
  packages/frontend/src/components/UserSettings/MyWarehouseConnectionsPanel/CreateCredentialsModal.tsx
  packages/frontend/src/components/UserSettings/MyWarehouseConnectionsPanel/CredentialsTable.tsx
  packages/frontend/src/components/UserSettings/MyWarehouseConnectionsPanel/DeleteCredentialsModal.tsx
  packages/frontend/src/components/UserSettings/MyWarehouseConnectionsPanel/EditCredentialsModal.tsx
  packages/frontend/src/components/UserSettings/MyWarehouseConnectionsPanel/WarehouseFormInputs.tsx
  packages/frontend/src/components/UserSettings/MyWarehouseConnectionsPanel/index.tsx
  packages/frontend/src/hooks/userWarehouseCredentials/useUserWarehouseCredentials.ts
  packages/frontend/src/pages/Settings.tsx
Labels: 🖥 frontend

#8719 feat: add formatting inputs to custom metric accordion
  packages/common/src/types/field.ts
  packages/common/src/utils/item.ts
  packages/frontend/src/components/Explorer/CustomMetricModal/index.tsx
  packages/frontend/src/features/tableCalculation/components/FormatForm.tsx
  packages/frontend/src/features/tableCalculation/components/TableCalculationModal.tsx
Labels: 🖥 frontend

#8647 feat: use lightdash generate for dbt deps packages
  packages/cli/src/dbt/models.ts
  packages/cli/src/handlers/generate.ts
Labels: ✨ feature-request, 🎮 CLI

#8741 docs: moves embedding info about cloud + beta to info pill
  docs/docs/references/embedding.mdx
Labels: 📖 documentation

#8742 chore: vitest react testing library
  packages/frontend/jest.config.ts
  packages/frontend/package.json
  packages/frontend/setupJest.ts
  packages/frontend/setupVitest.ts
  packages/frontend/src/api.test.ts
  packages/frontend/src/features/metricFlow/utils/convertMetricFlowQueryResultsToResultsData.test.ts
  packages/frontend/src/hooks/cartesianChartConfig/useCartesianChartConfig.test.ts
  packages/frontend/src/hooks/echarts/useEchartsCartesianConfig.test.ts
  packages/frontend/src/hooks/pivotTable/pivotQueryResults.test.ts
  packages/frontend/src/hooks/plottedData/getPlottedData.test.ts
  packages/frontend/src/providers/__mocks__/TrackingProvider.tsx
  packages/frontend/src/utils/dashboardSavedFiltersOverride.test.ts
  packages/frontend/tsconfig.json
  packages/frontend/vite.config.ts
  yarn.lock
Labels: 👩‍💻 devx, ⚡️ LightSmash Day

#8756 feat: save custom metric percent format
  packages/backend/src/database/entities/savedCharts.ts
  packages/backend/src/database/migrations/20240125101139_add-custom-metrics-format-columns.ts
  packages/backend/src/generated/routes.ts
  packages/backend/src/generated/swagger.json
  packages/backend/src/models/SavedChartModel.ts
  packages/backend/src/services/ProjectService/ProjectService.ts
  packages/common/src/compiler/filtersCompiler.ts
  packages/common/src/types/field.ts
  packages/common/src/types/metricQuery.ts
  packages/common/src/utils/additionalMetrics.ts
  packages/common/src/utils/conditionalFormatting.ts
  packages/common/src/utils/filters.ts
  packages/common/src/utils/formatting.test.ts
  packages/common/src/utils/formatting.ts
  packages/frontend/src/components/Explorer/CustomMetricModal/index.tsx
  packages/frontend/src/components/Explorer/CustomMetricModal/utils/index.ts
  packages/frontend/src/components/Explorer/FiltersCard/useFieldsWithSuggestions.ts
  packages/frontend/src/features/tableCalculation/components/FormatForm.tsx
  packages/frontend/src/features/tableCalculation/components/TableCalculationModal.tsx
  packages/frontend/src/features/tableCalculation/types/index.ts
Labels: 🖥 frontend, ⚙️ backend
