Repository lightdash/lightdash, pull requests merged in 2024-03, with the labels that each got.

#9190 chore: run yarn for the repo
  yarn.lock
Labels: dependencies

#9167 feat: Add support for markdown descriptions for models, in the Explore sidebar models list
  examples/full-jaffle-shop-demo/dbt/models/schema.yml
  packages/frontend/src/components/Explorer/ExplorePanel/index.tsx
  packages/frontend/src/components/Explorer/ExploreSideBar/ExploreNavLink.tsx
  packages/frontend/src/components/Explorer/ExploreSideBar/index.tsx
  packages/frontend/src/components/Explorer/ExploreTree/TableTree/ItemDetailPreview.tsx
  packages/frontend/src/components/Explorer/ExploreTree/TableTree/Tree/TreeSingleNode.tsx
  packages/frontend/src/components/Explorer/ExploreTree/TableTree/index.tsx
Labels: 🖥 frontend

#9220 fix: allow search of tagged people again
  packages/frontend/src/features/comments/components/CommentWithMentions/SuggestionList.tsx
Labels: 🐛 bug, 🖥 frontend

#9224 chore: improve performance of comment details
  packages/frontend/src/features/comments/components/CommentDetail.tsx
  packages/frontend/src/features/comments/components/CommentForm.tsx
  packages/frontend/src/features/comments/components/CommentWithMentions/index.tsx
  packages/frontend/src/features/comments/components/DashboardCommentAndReplies.tsx
  packages/frontend/src/features/comments/components/DashboardTileComments.tsx
Labels: 🖥 frontend

#9233 chore: update controllers to use new `BaseController`
  packages/backend/src/controllers/commentsController.ts
  packages/backend/src/controllers/csvController.ts
  packages/backend/src/controllers/dbtCloudIntegrationController.ts
  packages/backend/src/controllers/exploreController.ts
  packages/backend/src/controllers/gitIntegrationController.ts
  packages/backend/src/controllers/githubController.ts
  packages/backend/src/controllers/googleDriveController.ts
  packages/backend/src/controllers/groupsController.ts
  packages/backend/src/controllers/metricFlowController.ts
  packages/backend/src/controllers/notificationsController.ts
  packages/backend/src/controllers/organizationController.ts
  packages/backend/src/controllers/pinningController.ts
  packages/backend/src/controllers/projectController.ts
  packages/backend/src/controllers/runQueryController.ts
  packages/backend/src/controllers/savedChartController.ts
  packages/backend/src/controllers/schedulerController.ts
  packages/backend/src/controllers/shareController.ts
  packages/backend/src/controllers/slackController.ts
  packages/backend/src/controllers/spaceController.ts
  packages/backend/src/controllers/sshController.ts
  packages/backend/src/controllers/userAttributesController.ts
  packages/backend/src/controllers/userController.ts
  packages/backend/src/controllers/validationController.ts
Labels: ⚙️ backend

#9234 chore: update controllers to use injected `ServiceRepository` for service access
  packages/backend/src/controllers/baseController.ts
  packages/backend/src/controllers/commentsController.ts
  packages/backend/src/controllers/csvController.ts
  packages/backend/src/controllers/dbtCloudIntegrationController.ts
  packages/backend/src/controllers/exploreController.ts
  packages/backend/src/controllers/gitIntegrationController.ts
  packages/backend/src/controllers/githubController.ts
  packages/backend/src/controllers/googleDriveController.ts
  packages/backend/src/controllers/groupsController.ts
  packages/backend/src/controllers/notificationsController.ts
  packages/backend/src/controllers/organizationController.ts
  packages/backend/src/controllers/pinningController.ts
  packages/backend/src/controllers/projectController.ts
  packages/backend/src/controllers/runQueryController.ts
  packages/backend/src/controllers/savedChartController.ts
  packages/backend/src/controllers/schedulerController.ts
  packages/backend/src/controllers/shareController.ts
  packages/backend/src/controllers/spaceController.ts
  packages/backend/src/controllers/sshController.ts
  packages/backend/src/controllers/userAttributesController.ts
  packages/backend/src/controllers/userController.ts
  packages/backend/src/controllers/validationController.ts
  packages/backend/src/generated/swagger.json
  packages/backend/src/services/ServiceRepository.ts
  packages/backend/src/services/services.ts
  packages/backend/src/services/tsoaServiceContainer.ts
Labels: ⚙️ backend

#9262 docs: update embedding docs
  docs/docs/guides/how-to-embed-content.mdx
  docs/docs/references/embedding.mdx
Labels: 📖 documentation

#9265 docs: fix community link in contact info
  README.md
  docs/docs/contact/contact_info.md
Labels: 📖 documentation

#9283 fix: fixes title wrapper hover for charts in dashboards
  packages/frontend/src/components/DashboardTiles/TileBase/index.tsx
Labels: 🖥 frontend

#9276 chore: remove dashboard tile comments feature flag check
  packages/common/src/types/featureFlags.ts
  packages/frontend/src/components/DashboardTiles/DashboardChartTile.tsx
  packages/frontend/src/components/DashboardTiles/DashboardLoomTile.tsx
  packages/frontend/src/components/DashboardTiles/DashboardMarkdownTile.tsx
  packages/frontend/src/components/NavBar/NotificationsMenu/index.tsx
  packages/frontend/src/features/comments/hooks/useDashboardCommentsCheck.ts
  packages/frontend/src/providers/DashboardProvider.tsx
Labels: 🖥 frontend

#9153 docs: update dimensions and joins
  docs/docs/references/assets/hide-join-table-columns.jpg
  docs/docs/references/assets/hide-joined-table-from-tables-list.jpg
  docs/docs/references/dimensions.mdx
  docs/docs/references/joins.mdx
Labels: 📖 documentation

#9269 fix: update x and y field in chartConfig when tc updates
  packages/frontend/src/components/LightdashVisualization/VisualizationConfigCartesian.tsx
  packages/frontend/src/hooks/cartesianChartConfig/useCartesianChartConfig.mock.ts
  packages/frontend/src/hooks/cartesianChartConfig/useCartesianChartConfig.test.ts
  packages/frontend/src/hooks/cartesianChartConfig/useCartesianChartConfig.ts
  packages/frontend/src/providers/ExplorerProvider.tsx
Labels: 🐛 bug, 🖥 frontend

#9323 feat(frontend): replace moment with dayjs
  packages/common/src/utils/formatting.test.ts
  packages/common/src/utils/formatting.ts
  packages/frontend/package.json
  packages/frontend/src/components/JobDetailsDrawer/index.tsx
  packages/frontend/src/components/ProjectConnection/ProjectConnectFlow/ConnectUsingCLI.tsx
  packages/frontend/src/components/VisualizationConfigs/ChartConfigPanel/Legend/ReferenceLine.tsx
  packages/frontend/src/components/common/Filters/FilterInputs/FilterMonthAndYearPicker.tsx
  packages/frontend/src/components/common/Filters/FilterInputs/FilterYearPicker.tsx
  packages/frontend/src/components/common/PageHeader/ViewInfo.tsx
  packages/frontend/src/components/common/ResourceView/ResourceLastEdited.tsx
  packages/frontend/src/components/common/ResourceView/resourceUtils.ts
  packages/frontend/src/features/comments/components/CommentTimestamp.tsx
  packages/frontend/src/features/notifications/components/DashboardCommentsNotifications.tsx
  packages/frontend/src/hooks/echarts/useEchartsCartesianConfig.ts
  packages/frontend/src/hooks/useTimeAgo.ts
  packages/frontend/src/utils/dateFilter.ts
  packages/frontend/vite.config.ts
  yarn.lock
Labels: 🖥 frontend

#9343 fix: remove /spaces-and-content endpoint
  packages/backend/src/controllers/projectController.ts
  packages/backend/src/generated/routes.ts
  packages/backend/src/generated/swagger.json
  packages/backend/src/models/SpaceModel.ts
  packages/backend/src/routers/projectRouter.ts
  packages/backend/src/services/ProjectService/ProjectService.ts
  packages/backend/src/services/SpaceService/SpaceService.ts
  packages/common/src/types/savedCharts.ts
  packages/e2e/cypress/e2e/api/README.md
  packages/e2e/cypress/e2e/api/api.cy.ts
  packages/e2e/cypress/e2e/api/dashboard.cy.ts
  packages/e2e/cypress/e2e/api/organizationPermissions.cy.ts
  packages/e2e/cypress/e2e/api/pinning.cy.ts
  packages/e2e/cypress/e2e/api/projectPermissions.cy.ts
  packages/e2e/cypress/e2e/api/scheduler.cy.ts
  packages/e2e/cypress/e2e/api/spacePermissions.cy.ts
  packages/e2e/cypress/e2e/app/minimal.cy.ts
  packages/frontend/src/hooks/useChartSummaries.ts
  packages/frontend/src/hooks/useCharts.ts
  packages/frontend/src/hooks/useSpaces.ts
  packages/frontend/src/pages/MobileCharts.tsx
  packages/frontend/src/pages/SavedQueries.tsx
Labels: ⚙️ backend, tech-debt

#9334 docs: fix join Slack community link
  README.md
  docs/docs/contact/contact_info.md
  docs/docs/guides/dbt-semantic-layer.mdx
  docs/docs/intro.md
  packages/frontend/src/components/NavBar/HelpMenu.tsx
  scripts/install.sh
Labels: 📖 documentation

#9346 fix: replace name of x and y fields on tc change
  packages/e2e/cypress/e2e/app/settings/profile.cy.ts
  packages/frontend/src/components/LightdashVisualization/VisualizationConfigCartesian.tsx
  packages/frontend/src/hooks/cartesianChartConfig/useCartesianChartConfig.mock.ts
  packages/frontend/src/hooks/cartesianChartConfig/useCartesianChartConfig.test.ts
  packages/frontend/src/hooks/cartesianChartConfig/useCartesianChartConfig.ts
  packages/frontend/src/providers/ExplorerProvider.tsx
Labels: 🐛 bug, 🖥 frontend

#9440 chore: remove unused postcss-normalize
  packages/frontend/package.json
  yarn.lock
Labels: 🖥 frontend

#9469 fix: join dashboards table to allow search on dashboard charts
  packages/backend/src/models/SearchModel/index.ts
Labels: ⚙️ backend, 💜 customer support

#9557 docs: updates space permissions docs
  docs/docs/guides/assets/edit-space-access.jpg
  docs/docs/guides/assets/full-access-space.png
  docs/docs/guides/assets/public-access-space.png
  docs/docs/guides/assets/restricted-access-space.jpg
  docs/docs/guides/assets/restricted-access-space.png
  docs/docs/guides/spaces.mdx
  docs/docs/references/roles.mdx
Labels: 📖 documentation

#9580 fix: add migration to add delete cascade
  packages/backend/src/database/migrations/20240329095412_modify_user_uuid_fk_in_dashboard_tile_comments.ts
Labels: 🐛 bug, ⚙️ backend

#9559 chore: add required field & improve metric query with dashboard filters
  packages/backend/src/generated/routes.ts
  packages/backend/src/generated/swagger.json
  packages/common/src/types/filter.ts
  packages/common/src/utils/filters.ts
  packages/frontend/src/hooks/tableVisualization/useTableConfig.ts
Labels: 🖥 frontend, ⚙️ backend
