Repository lightdash/lightdash, pull requests merged in 2024-10, with the labels that each got.

#11762 docs: Update chart-types.mdx
  docs/docs/references/chart-types.mdx
Labels: 📖 documentation

#11761 fix: semantic viewer edit mode result initialization
  packages/common/src/types/semanticLayer.ts
  packages/frontend/src/features/semanticViewer/api/hooks.ts
  packages/frontend/src/features/semanticViewer/store/semanticViewerSlice.ts
  packages/frontend/src/pages/SemanticViewerEdit.tsx
Labels: 🐛 bug

#11764 test: fix sql runner redirect in `explore.cy.ts`
  packages/e2e/cypress/e2e/app/explore.cy.ts
Labels: tech-debt

#11768 docs: adds dbt semantic layer integration doc
  docs/docs/references/assets/dbt-semantic-layer-service-token.jpg
  docs/docs/references/assets/semantic-layer-integrations.jpg
  docs/docs/references/dbt-semantic-layer.mdx
  docs/sidebars.js
Labels: 📖 documentation

#11767 chore: update copy when creating virtual view
  packages/frontend/src/components/UserSettings/GithubSettingsPanel/index.tsx
  packages/frontend/src/features/sqlRunner/components/CreateVirtualViewModal.tsx
  packages/frontend/src/features/sqlRunner/hooks/useCustomExplore.tsx
Labels: 🖥 frontend

#11810 feat: cli modern build
  packages/cli/tsconfig.json
Labels: 🎮 CLI

#11816 refactor: replace custom explore references with virtual view
  packages/backend/src/controllers/sqlRunnerController.ts
  packages/backend/src/generated/routes.ts
  packages/backend/src/generated/swagger.json
  packages/backend/src/models/ProjectModel/ProjectModel.ts
  packages/backend/src/services/ProjectService/ProjectService.ts
  packages/common/src/index.ts
  packages/common/src/types/featureFlags.ts
  packages/common/src/types/sqlRunner.ts
  packages/common/src/utils/virtualView.ts
  packages/frontend/src/features/sqlRunner/components/CreateVirtualViewModal.tsx
  packages/frontend/src/features/sqlRunner/components/Header/HeaderCreate.tsx
  packages/frontend/src/features/sqlRunner/hooks/useVirtualView.tsx
Labels: tech-debt

#11811 feat: allow editing a virtual view in explore view
  packages/backend/src/controllers/sqlRunnerController.ts
  packages/backend/src/generated/routes.ts
  packages/backend/src/generated/swagger.json
  packages/backend/src/models/ProjectModel/ProjectModel.ts
  packages/backend/src/services/ProjectService/ProjectService.ts
  packages/common/src/types/sqlRunner.ts
  packages/common/src/utils/virtualView.ts
  packages/frontend/src/components/Explorer/ExplorePanel/index.tsx
  packages/frontend/src/features/sqlRunner/components/ContentPanel.tsx
  packages/frontend/src/features/sqlRunner/components/Header/HeaderVirtualView.tsx
  packages/frontend/src/features/sqlRunner/components/Header/index.tsx
  packages/frontend/src/features/sqlRunner/components/SqlQueryBeforeSaveAlert.tsx
  packages/frontend/src/features/sqlRunner/hooks/useVirtualView.tsx
  packages/frontend/src/features/sqlRunner/store/sqlRunnerSlice.ts
  packages/frontend/src/pages/SqlRunnerNew.tsx
Labels: ✨ feature-request, 🖥 frontend

#11858 fix: hide edit/delete virtual view if no permission to
  packages/backend/src/services/ProjectService/ProjectService.ts
  packages/common/src/authorization/organizationMemberAbility.ts
  packages/common/src/authorization/projectMemberAbility.ts
  packages/common/src/authorization/types.ts
  packages/frontend/src/components/Explorer/ExplorePanel/index.tsx
Labels: 🐛 bug, 🖥 frontend, ⚙️ backend

#11888 fix: do not use server_version_num
  packages/warehouses/src/warehouseClients/PostgresWarehouseClient.test.ts
  packages/warehouses/src/warehouseClients/PostgresWarehouseClient.ts
Labels: 🐛 bug, 💜 customer support

#11874 fix: always run query before validating diffs
  packages/frontend/src/features/virtualView/components/HeaderVirtualView.tsx
Labels: 🐛 bug, 🖥 frontend

#11934 docs: deletes old sql runner docs and adds new ones
  docs/docs/references/assets/build-chart-sql-runner.jpg
  docs/docs/references/assets/create-virtual-view.jpg
  docs/docs/references/assets/dbt-write-back.jpg
  docs/docs/references/assets/edit-delete-virtual-view.jpg
  docs/docs/references/assets/query-history.jpg
  docs/docs/references/assets/share-sql-runner-chart.jpg
  docs/docs/references/assets/sql-runner-components.jpg
  docs/docs/references/assets/tables-configuration-write-back.jpg
  docs/docs/references/assets/using-virtual-views.jpg
  docs/docs/references/assets/write-back-pull-request.jpg
  docs/docs/references/dbt-write-back.mdx
  docs/docs/references/roles.mdx
  docs/docs/references/sql-runner.mdx
  docs/docs/references/virtual-views.mdx
  docs/sidebars.js
Labels: 📖 documentation

#11927 fix: page spinner px rem inconsistencies
  packages/frontend/src/components/PageSpinner/PageSpinner.styles.tsx
  packages/frontend/src/components/PageSpinner/index.tsx
Labels: 🖥 frontend

#11938 chore: add semantic viewer query_executed event
  packages/backend/src/analytics/LightdashAnalytics.ts
  packages/backend/src/clients/cube/CubeClient.ts
  packages/backend/src/clients/dbtCloud/DbtCloudGraphqlClient.ts
  packages/backend/src/generated/swagger.json
  packages/backend/src/services/SemanticLayerService/SemanticLayerService.ts
  packages/common/src/types/analytics.ts
  packages/common/src/types/semanticLayer.ts
Labels: 📈 analytics-events

#11940 feat: remove feature flag save-custom-explore-from-sql-runner
  packages/common/src/types/featureFlags.ts
  packages/frontend/src/features/sqlRunner/components/Header/HeaderCreate.tsx
Labels: 🖥 frontend

#11959 fix: apply correct boolean check when editing virtual view
  packages/frontend/src/features/virtualView/components/EditVirtualViewModal.tsx
  packages/frontend/src/pages/SqlRunnerNew.tsx
Labels: 🐛 bug, 🖥 frontend

#11969 chore: add CUD virtual views & query_executed analytics events
  packages/backend/src/analytics/LightdashAnalytics.ts
  packages/backend/src/models/ProjectModel/ProjectModel.ts
  packages/backend/src/services/ProjectService/ProjectService.ts
Labels: 📈 analytics-events

#11983 docs: adds custom fields docs back into docs sidebar
  docs/sidebars.js
Labels: 📖 documentation

#12025 docs: adds docs on github write back
  docs/docs/references/assets/dbt-cloud-run-automatically.jpg
  docs/docs/references/dbt-write-back.mdx
Labels: 📖 documentation

#12022 fix: compare sqls on change to edit virtual view
  packages/frontend/src/features/sqlRunner/store/sqlRunnerSlice.ts
  packages/frontend/src/features/virtualView/components/HeaderVirtualView.tsx
Labels: 🐛 bug, 🖥 frontend

#12002 feat: use listener middleware to run pivot query
  packages/frontend/src/components/DataViz/store/barChartSlice.ts
  packages/frontend/src/components/DataViz/store/cartesianChartBaseSlice.ts
  packages/frontend/src/components/DataViz/store/lineChartSlice.ts
  packages/frontend/src/components/DataViz/store/pieChartSlice.ts
  packages/frontend/src/components/DataViz/store/selectors.ts
  packages/frontend/src/features/sqlRunner/components/ContentPanel.tsx
  packages/frontend/src/features/sqlRunner/hooks/useSqlQueryRun.tsx
  packages/frontend/src/features/sqlRunner/store/index.ts
  packages/frontend/src/features/sqlRunner/store/listenerMiddleware.ts
  packages/frontend/src/features/sqlRunner/store/sqlRunnerListeners.ts
  packages/frontend/src/features/sqlRunner/store/sqlRunnerSlice.ts
  packages/frontend/src/features/sqlRunner/store/thunks.ts
Labels: 🖥 frontend, tech-debt

#12078 docs: adds customizing time zone for scheduled deliveries
  docs/docs/guides/assets/configure-scheduled-delivery.png
  docs/docs/guides/assets/project-default-time-zone.jpg
  docs/docs/guides/how-to-create-scheduled-deliveries.mdx
Labels: 📖 documentation

#12064 fix(sql-runner): hide buttons when user has no permission to manage c…
  packages/frontend/src/features/sqlRunner/components/Header/HeaderView.tsx
Labels: 🐛 bug, 🖥 frontend

#12123 feat: create `/metrics` route with placeholder
  packages/frontend/src/Routes.tsx
  packages/frontend/src/features/metricsCatalog/components/MetricsCatalogPanel.tsx
  packages/frontend/src/features/metricsCatalog/index.ts
  packages/frontend/src/pages/MetricsCatalog.tsx
  packages/frontend/src/types/Events.ts
Labels: 🖥 frontend

#12132 feat: show catalog metrics in table
  examples/full-jaffle-shop-demo/dbt/models/tracks.yml
  packages/frontend/package.json
  packages/frontend/src/features/metricsCatalog/components/MetricsCatalogPanel.tsx
  packages/frontend/src/features/metricsCatalog/components/MetricsTable.tsx
  packages/frontend/src/features/metricsCatalog/hooks/useMetricsCatalog.tsx
  yarn.lock
Labels: 🖥 frontend

#12138 feat: open usage chart in modal and let user open chart
  packages/frontend/src/features/metricsCatalog/components/MetricChartsUsageModal.tsx
  packages/frontend/src/features/metricsCatalog/components/MetricsCatalogPanel.tsx
  packages/frontend/src/features/metricsCatalog/components/MetricsTable.tsx
  packages/frontend/src/features/metricsCatalog/store/metricsCatalogSlice.ts
  packages/frontend/src/features/sqlRunner/store/index.ts
  packages/frontend/src/pages/MetricsCatalog.tsx
Labels: 🖥 frontend

#12139 feat: add infinite scroll to metrics table
  packages/backend/src/controllers/catalogController.ts
  packages/backend/src/generated/routes.ts
  packages/backend/src/generated/swagger.json
  packages/common/src/index.ts
  packages/common/src/types/catalog.ts
  packages/frontend/src/features/metricsCatalog/components/MetricsTable.tsx
  packages/frontend/src/features/metricsCatalog/hooks/useMetricsCatalog.tsx
Labels: 🖥 frontend, ⚙️ backend

#12160 feat: allow searching metrics table
  packages/frontend/src/features/metricsCatalog/components/MetricsTable.tsx
  packages/frontend/src/features/metricsCatalog/hooks/useMetricsCatalog.tsx
Labels: 🖥 frontend

#12161 feat: open metric preview on click of metric in table
  packages/frontend/src/features/metricsCatalog/components/MetricsTable.tsx
  packages/frontend/src/hooks/useExplorerRoute.ts
Labels: 🖥 frontend

#12176 feat: allow sorting by name in metrics catalog
  packages/frontend/src/features/metricsCatalog/components/MetricsTable.tsx
  packages/frontend/src/features/metricsCatalog/hooks/useMetricsCatalog.tsx
Labels: 🖥 frontend

#12192 chore: get chart usage from api response
  packages/backend/src/generated/routes.ts
  packages/backend/src/generated/swagger.json
  packages/backend/src/services/CatalogService/CatalogService.ts
  packages/common/src/types/catalog.ts
  packages/frontend/src/features/metricsCatalog/components/MetricChartsUsageModal.tsx
  packages/frontend/src/features/metricsCatalog/components/MetricsTable.tsx
  packages/frontend/src/features/metricsCatalog/store/metricsCatalogSlice.ts
Labels: 🖥 frontend

#12196 feat: allow sorting by popularity and by default
  packages/frontend/src/features/metricsCatalog/components/MetricsTable.tsx
  packages/frontend/src/features/metricsCatalog/hooks/useMetricsCatalog.tsx
Labels: 🖥 frontend

#12195 feat: get field analytics on button click
  packages/frontend/src/features/metricsCatalog/components/MetricChartsUsageModal.tsx
  packages/frontend/src/features/metricsCatalog/hooks/useMetricChartAnalytics.tsx
Labels: 🖥 frontend

#12197 style: apply small ui/ux improvements (part 1)
  packages/frontend/src/features/metricsCatalog/components/MetricsTable.tsx
Labels: 🖥 frontend

#12198 style: apply small ui/ux improvements (part 2)
  packages/frontend/src/features/metricsCatalog/components/MetricsTable.tsx
Labels: 🖥 frontend
