Repository lightdash/lightdash, pull requests merged in 2024-04, with the labels that each got.

#9584 style: fix vertical offset vis sidebar
  packages/frontend/src/components/Explorer/VisualizationCard/VisualizationCard.tsx
  packages/frontend/src/components/Explorer/VisualizationCard/VisualizationSidebar.tsx
Labels: 🐛 bug, 🖥 frontend

#9462 chore: global eslint no floating promises
  .eslintrc.js
  packages/backend/.eslintrc.js
  packages/backend/src/clients/Slack/SlackClient.ts
  packages/backend/src/clients/Slack/Slackbot.ts
  packages/backend/src/database/migrations/20220131130200_migrate_filters.ts
  packages/backend/src/models/DashboardModel/DashboardModel.ts
  packages/backend/src/models/GroupsModel.ts
  packages/backend/src/models/SavedChartModel.ts
  packages/backend/src/models/SchedulerModel/index.ts
  packages/backend/src/models/SearchModel/utils/filters.ts
  packages/backend/src/models/SpaceModel.ts
  packages/backend/src/models/UserAttributesModel.ts
  packages/backend/src/models/ValidationModel/ValidationModel.ts
  packages/backend/src/scheduler/SchedulerTask.ts
  packages/backend/src/services/CsvService/convertSqlToCsv.ts
  packages/cli/.eslintrc.js
  packages/cli/src/handlers/preview.ts
  packages/common/.eslintrc.js
  packages/e2e/.eslintrc.js
  packages/e2e/cypress/e2e/app/dateZoom.cy.ts
  packages/frontend/.eslintrc.js
  packages/frontend/src/components/DashboardTiles/DashboardChartTile.tsx
  packages/frontend/src/components/ExploreFromHereButton/index.tsx
  packages/frontend/src/components/ExportCSV/ExportCSVModal.tsx
  packages/frontend/src/components/ProjectConnection/ProjectConnectFlow/ConnectSuccess.tsx
  packages/frontend/src/components/SchedulersView/SchedulersViewActionMenu.tsx
  packages/frontend/src/components/SchedulersView/index.tsx
  packages/frontend/src/components/UserSettings/UsersAndGroupsPanel/CreateGroupModal.tsx
  packages/frontend/src/components/VisualizationConfigs/ChartConfigPanel/CustomVisConfigTabs.tsx
  packages/frontend/src/components/common/Dashboard/DashboardRefreshButton.tsx
  packages/frontend/src/components/common/modal/ChartCreateModal/SaveToDashboard.tsx
  packages/frontend/src/components/common/modal/ChartCreateModal/SaveToSpaceOrDashboard.tsx
  packages/frontend/src/features/comments/components/CommentForm.tsx
  packages/frontend/src/features/projectGroupAccess/hooks/useProjectGroupAccess.ts
  packages/frontend/src/features/scheduler/hooks/useScheduler.ts
  packages/frontend/src/hooks/useActiveProject.ts
  packages/frontend/src/hooks/useRefreshServer.tsx
  packages/frontend/src/hooks/validation/useValidation.ts
  packages/frontend/src/pages/Dashboard.tsx
  packages/frontend/src/pages/MetricFlow.tsx
  packages/frontend/src/providers/ActiveJobProvider.tsx
  packages/frontend/src/providers/ExplorerProvider.tsx
  packages/warehouses/.eslintrc.js
Labels: 👩‍💻 devx

#9575 docs: add subtotals docs
  docs/docs/guides/assets/subtotals.png
  docs/docs/guides/visualizing-your-results.mdx
Labels: 📖 documentation

#9607 fix: reference line accordion item index
  packages/frontend/src/components/VisualizationConfigs/ChartConfigPanel/Legend/ReferenceLine.tsx
  packages/frontend/src/components/VisualizationConfigs/ChartConfigPanel/Legend/ReferenceLines.tsx
Labels: 🐛 bug, 🖥 frontend

#9614 fix: return empty data if metric doesn't exist in results for pie chart
  packages/frontend/src/hooks/usePieChartConfig.ts
Labels: 🐛 bug, 🖥 frontend

#9610 docs: add docs on required dashboard filters
  docs/docs/get-started/exploring-data/assets/disabled-filters.png
  docs/docs/get-started/exploring-data/assets/locked-dashboard.png
  docs/docs/get-started/exploring-data/assets/required-filters.png
  docs/docs/get-started/exploring-data/dashboards.mdx
Labels: 📖 documentation

#9609 feat: address remaining bits on chart config ui changes
  packages/frontend/src/components/VisualizationConfigs/ChartConfigPanel/Series/BasicSeriesConfiguration.tsx
  packages/frontend/src/components/VisualizationConfigs/ChartConfigPanel/Series/GroupedSeriesConfiguration.tsx
  packages/frontend/src/components/VisualizationConfigs/ChartConfigPanel/Series/SingleSeriesConfiguration.tsx
  packages/frontend/src/components/VisualizationConfigs/ChartConfigPanel/common/EditableText.tsx
Labels: 🖥 frontend

#9603 refactor: rework Config component
  packages/frontend/src/components/VisualizationConfigs/ChartConfigPanel/Axes/AxisMinMax.tsx
  packages/frontend/src/components/VisualizationConfigs/ChartConfigPanel/Axes/index.tsx
  packages/frontend/src/components/VisualizationConfigs/ChartConfigPanel/Layout/index.tsx
  packages/frontend/src/components/VisualizationConfigs/ChartConfigPanel/Legend/ReferenceLines.tsx
  packages/frontend/src/components/VisualizationConfigs/ChartConfigPanel/Legend/index.tsx
  packages/frontend/src/components/VisualizationConfigs/ChartConfigPanel/Series/BasicSeriesConfiguration.tsx
  packages/frontend/src/components/VisualizationConfigs/ChartConfigPanel/Series/GroupedSeriesConfiguration.tsx
  packages/frontend/src/components/VisualizationConfigs/ChartConfigPanel/common/Config.tsx
Labels: 🖥 frontend

#9635 fix: handle disabled filter change correctly
  packages/frontend/src/components/DashboardFilter/FilterConfiguration/index.tsx
Labels: 🐛 bug, 🖥 frontend

#9619 feat: pie chart config - tabs (1/4)
  packages/frontend/src/components/Explorer/VisualizationCard/VisualizationSidebar.tsx
  packages/frontend/src/components/VisualizationConfigs/ChartConfigPanel/ConfigTabs/index.tsx
  packages/frontend/src/components/VisualizationConfigs/PieChartConfig/PieChartConfigTabs.tsx
  packages/frontend/src/components/VisualizationConfigs/PieChartConfig/index.tsx
  packages/frontend/src/components/VisualizationConfigs/mantineTheme.ts
Labels: 🖥 frontend

#9620 feat: pie chart config - layout (2/4)
  packages/frontend/src/components/VisualizationConfigs/BigNumberConfig/BigNumberConfigTabs.tsx
  packages/frontend/src/components/VisualizationConfigs/ChartConfigPanel/Layout/index.tsx
  packages/frontend/src/components/VisualizationConfigs/ChartConfigPanel/Legend/ReferenceLines.tsx
  packages/frontend/src/components/VisualizationConfigs/ChartConfigPanel/common/AddButton.tsx
  packages/frontend/src/components/VisualizationConfigs/PieChartConfig/PieChartConfigTabs.tsx
  packages/frontend/src/components/VisualizationConfigs/PieChartConfig/PieChartLayoutConfig.tsx
  packages/frontend/src/components/VisualizationConfigs/common/AddButton.tsx
Labels: 🖥 frontend

#9621 feat: pie chart config - series (3/4)
  packages/frontend/src/components/VisualizationConfigs/ChartConfigPanel/Series/BasicSeriesConfiguration.tsx
  packages/frontend/src/components/VisualizationConfigs/ChartConfigPanel/Series/GroupedSeriesConfiguration.tsx
  packages/frontend/src/components/VisualizationConfigs/ChartConfigPanel/Series/SingleSeriesConfiguration.tsx
  packages/frontend/src/components/VisualizationConfigs/PieChartConfig/GroupItem.tsx
  packages/frontend/src/components/VisualizationConfigs/PieChartConfig/PieChartConfigTabs.tsx
  packages/frontend/src/components/VisualizationConfigs/PieChartConfig/PieChartDisplayConfig.tsx
  packages/frontend/src/components/VisualizationConfigs/PieChartConfig/PieChartSeriesConfig.tsx
  packages/frontend/src/components/VisualizationConfigs/PieChartConfig/ValueOptions.tsx
  packages/frontend/src/components/VisualizationConfigs/common/EditableText.tsx
  packages/frontend/src/components/VisualizationConfigs/common/GrabIcon.tsx
Labels: 🖥 frontend

#9645 docs: add documentation for OIDC configuration
  docs/docs/self-host/customize-deployment/use-sso-login-for-self-hosted-lightdash.mdx
Labels: 📖 documentation

#9653 chore: client repository
  packages/backend/src/App.ts
  packages/backend/src/SchedulerApp.ts
  packages/backend/src/clients/ClientRepository.ts
  packages/backend/src/clients/clients.ts
  packages/backend/src/controllers/metricFlowController.ts
  packages/backend/src/controllers/slackController.ts
  packages/backend/src/services/ServiceRepository.ts
Labels: ⚙️ backend, tech-debt

#9626 feat: table chart config - tabs (1/3)
  packages/frontend/src/components/Explorer/VisualizationCard/VisualizationSidebar.tsx
  packages/frontend/src/components/VisualizationConfigs/TableConfigPanel/TableConfigTabs.tsx
  packages/frontend/src/components/VisualizationConfigs/TableConfigPanel/index.tsx
Labels: 🖥 frontend

#9673 feat: enable field grouping in cartesian chart config
  packages/frontend/src/components/VisualizationConfigs/ChartConfigPanel/Layout/index.tsx
  packages/frontend/src/components/VisualizationConfigs/ChartConfigPanel/Legend/ReferenceLine.tsx
Labels: 🖥 frontend

#9675 feat: enable field grouping in pie chart config
  packages/frontend/src/components/VisualizationConfigs/PieChartConfig/PieChartLayoutConfig.tsx
Labels: 🖥 frontend

#9676 feat: enable grouping on field select in big number config
  packages/frontend/src/components/VisualizationConfigs/BigNumberConfig/BigNumberLayout.tsx
Labels: 🖥 frontend

#9677 feat: enable grouping on field select in table config
  packages/frontend/src/components/VisualizationConfigs/TableConfigPanel/ConditionalFormattingItem.tsx
Labels: 🖥 frontend

#9688 chore: split authentication strategies
  packages/backend/src/controllers/authentication.ts
  packages/backend/src/controllers/authentication/index.ts
  packages/backend/src/controllers/authentication/middlewares.ts
  packages/backend/src/controllers/authentication/strategies/apiKeyStrategy.ts
  packages/backend/src/controllers/authentication/strategies/azureStrategy.ts
  packages/backend/src/controllers/authentication/strategies/googleStrategy.ts
  packages/backend/src/controllers/authentication/strategies/oidcStrategy.ts
  packages/backend/src/controllers/authentication/strategies/oktaStrategy.ts
  packages/backend/src/controllers/authentication/strategies/oneLoginStrategy.ts
  packages/backend/src/controllers/authentication/strategies/passwordStrategy.ts
  packages/backend/src/controllers/authentication/utils.ts
Labels: ⚙️ backend, tech-debt

#9702 chore: return user uuid in open id identities
  packages/backend/src/generated/routes.ts
  packages/backend/src/generated/swagger.json
  packages/backend/src/models/OpenIdIdentitiesModel.ts
  packages/common/src/types/openIdIdentity.ts
Labels: ⚙️ backend, tech-debt

#9735 fix: add withinPortal to FiltersProvider in card
  packages/frontend/src/components/Explorer/FiltersCard/FiltersCard.tsx
Labels: 🐛 bug, 🖥 frontend

#9806 docs: Update joins.mdx
  docs/docs/references/joins.mdx
Labels: 📖 documentation

#9773 chore(docs): Update connect-project.mdx
  docs/docs/get-started/setup-lightdash/connect-project.mdx
Labels: 📖 documentation

#9925 feat: error boundary
  packages/frontend/src/App.tsx
  packages/frontend/src/components/Explorer/VisualizationCard/VisualizationCard.tsx
  packages/frontend/src/components/common/Page/Page.tsx
  packages/frontend/src/features/errorBoundary/components/ErrorBoundary.tsx
  packages/frontend/src/features/errorBoundary/index.ts
Labels: 🖥 frontend
