Repository lightdash/lightdash, pull requests merged in 2024-07, with the labels that each got.

#10564 fix: increase pulling intervals for notifications and dbt semantic la…
  packages/frontend/src/features/comments/hooks/useComments.ts
  packages/frontend/src/features/metricFlow/hooks/useMetricFlowQueryResults.ts
  packages/frontend/src/features/notifications/hooks/useNotifications.tsx
Labels: 🖥 frontend

#10588 chore: upgrade immer to latest
  packages/frontend/package.json
  packages/frontend/src/components/DashboardFilter/FilterConfiguration/index.tsx
  packages/frontend/src/components/DashboardFilter/FilterConfiguration/utils/index.ts
  packages/frontend/src/components/DashboardTiles/TileForms/TileUpdateModal.tsx
  packages/frontend/src/components/VisualizationConfigs/ChartConfigPanel/Series/index.tsx
  packages/frontend/src/components/VisualizationConfigs/TableConfigPanel/ConditionalFormattingItem.tsx
  packages/frontend/src/components/VisualizationConfigs/TableConfigPanel/ConditionalFormattingList.tsx
  packages/frontend/src/components/common/ResourceView/ResourceViewGrid/index.tsx
  packages/frontend/src/providers/ExplorerProvider.tsx
  yarn.lock
Labels: 🖥 frontend, tech-debt

#10589 chore: add redux-toolkit (rtk) to sql runner
  packages/frontend/package.json
  packages/frontend/src/features/sqlRunner/components/Sidebar.tsx
  packages/frontend/src/features/sqlRunner/components/TableFields.tsx
  packages/frontend/src/features/sqlRunner/components/Tables.tsx
  packages/frontend/src/features/sqlRunner/store/hooks.ts
  packages/frontend/src/features/sqlRunner/store/index.ts
  packages/frontend/src/features/sqlRunner/store/sqlRunnerSlice.ts
  packages/frontend/src/pages/SqlRunnerNew.tsx
  yarn.lock
Labels: 🖥 frontend

#10599 fix: handle resize height and apply correct overflows
  packages/frontend/src/features/sqlRunner/components/Sidebar.tsx
  packages/frontend/src/features/sqlRunner/components/TableFields.tsx
  packages/frontend/src/features/sqlRunner/components/Tables.tsx
Labels: 🐛 bug, 🖥 frontend

#10609 fix: fix duplicate copied tabbed dashboard error
  packages/backend/src/models/ProjectModel/ProjectModel.ts
  packages/backend/src/services/DashboardService/DashboardService.ts
Labels: 🐛 bug, ⚙️ backend

#10719 chore: add databricks sql runner option (mock)
  packages/frontend/src/components/Explorer/SqlCard/OpenInSqlRunnerButton.tsx
Labels: 🖥 frontend

#10734 style: change bg color if active table
  packages/frontend/src/features/sqlRunner/components/Tables.tsx
Labels: 🖥 frontend

#10791 fix: dashboard tile resize handler visibility
  packages/frontend/src/styles/react-grid.css
Labels: 🐛 bug, 🖥 frontend

#10799 docs: fixes typo
  docs/docs/references/tables.mdx
Labels: 📖 documentation

#10820 chore: return column types on sql runner results job
  packages/backend/src/scheduler/SchedulerTask.ts
  packages/backend/src/services/ProjectService/ProjectService.ts
  packages/common/src/index.ts
  packages/common/src/types/sqlRunner.ts
  packages/frontend/src/features/scheduler/hooks/useScheduler.ts
  packages/frontend/src/features/sqlRunner/components/ContentPanel.tsx
  packages/frontend/src/features/sqlRunner/components/visualizations/BarChart.tsx
  packages/frontend/src/features/sqlRunner/components/visualizations/Table.tsx
  packages/frontend/src/features/sqlRunner/hooks/useSqlQueryRun.tsx
  packages/frontend/src/features/sqlRunner/transformers/TableDataTransformer.ts
  packages/frontend/src/features/sqlRunner/transformers/useBarChartDataTransformer.ts
  packages/frontend/src/features/sqlRunner/transformers/useTableDataTransformer.ts
Labels: 🖥 frontend, ⚙️ backend

#10836 fix: viewers can see saved SQL chart
  packages/backend/src/controllers/sqlRunnerController.ts
  packages/backend/src/services/ProjectService/ProjectService.ts
  packages/backend/src/services/SavedSqlService/SavedSqlService.ts
  packages/backend/src/services/ServiceRepository.ts
  packages/e2e/cypress/e2e/api/sqlRunner.cy.ts
Labels: 🐛 bug, ⚙️ backend

#10824 docs: slack permission update
  docs/docs/self-host/customize-deployment/configure-a-slack-app-for-lightdash.mdx
Labels: 📖 documentation

#10849 feat: parse postgres numerics & int8s to JS numbers
  packages/warehouses/src/warehouseClients/PostgresWarehouseClient.ts
Labels: ⚙️ backend

#10837 feat: use duckdb to query sql runner and improve bar chart config
  packages/backend/src/generated/routes.ts
  packages/backend/src/generated/swagger.json
  packages/backend/src/scheduler/SchedulerTask.ts
  packages/backend/src/services/ProjectService/ProjectService.ts
  packages/common/.eslintrc.js
  packages/common/src/index.ts
  packages/common/src/transformers/BarChartDataTransformer.ts
  packages/common/src/transformers/ResultTransformers/index.ts
  packages/common/src/transformers/index.ts
  packages/common/src/types/sqlRunner.ts
  packages/common/src/visualizations/BarChartDataTransformer.ts
  packages/common/src/visualizations/ResultsTransformerBase.ts
  packages/common/src/visualizations/SqlRunnerResultsTableTransformer.ts
  packages/common/src/visualizations/SqlRunnerResultsTransformer.ts
  packages/frontend/package.json
  packages/frontend/src/components/DashboardTiles/DashboardSqlChartTile.tsx
  packages/frontend/src/features/sqlRunner/components/ContentPanel.tsx
  packages/frontend/src/features/sqlRunner/components/RightSidebar.tsx
  packages/frontend/src/features/sqlRunner/components/SaveSqlChartModal.tsx
  packages/frontend/src/features/sqlRunner/components/TableFields.tsx
  packages/frontend/src/features/sqlRunner/components/visualizations/BarChart.tsx
  packages/frontend/src/features/sqlRunner/components/visualizations/BarChartAggregationConfig.tsx
  packages/frontend/src/features/sqlRunner/components/visualizations/BarChartConfiguration.tsx
  packages/frontend/src/features/sqlRunner/duckDBQuery.ts
  packages/frontend/src/features/sqlRunner/hooks/useSqlQueryRun.tsx
  packages/frontend/src/features/sqlRunner/store/barChartSlice.ts
  packages/frontend/src/features/sqlRunner/store/sqlRunnerSlice.ts
  packages/frontend/src/features/sqlRunner/transformers/TableDataTransformer.ts
  packages/frontend/src/features/sqlRunner/transformers/useBarChart.ts
  packages/frontend/src/features/sqlRunner/transformers/useBarChartDataTransformer.ts
  yarn.lock
Labels: 🖥 frontend, ⚙️ backend

#10871 feat: introduce new visualization switcher
  packages/frontend/src/features/sqlRunner/components/RightSidebar.tsx
  packages/frontend/src/features/sqlRunner/components/VisualizationSwitcher.tsx
Labels: 🖥 frontend

#10857 docs: update tables doc indentation
  docs/docs/references/tables.mdx
Labels: 📖 documentation

#10909 style: reduce content panel headers padding
  packages/frontend/src/features/sqlRunner/components/ContentPanel.tsx
  yarn.lock
Labels: 🖥 frontend

#10922 fix: group by clear bar chart sql
  packages/frontend/src/features/sqlRunner/components/BarChartFieldConfiguration.tsx
Labels: 🖥 frontend

#10928 style: add overflow auto to paper wrapper
  packages/frontend/src/features/sqlRunner/components/ContentPanel.tsx
Labels: 🖥 frontend
