Repository lightdash/lightdash, pull requests merged in 2024-11, with the labels that each got.

#12231 chore: wrap setCatalogChartUsagesJob with tryJobOrTimeout
  packages/backend/src/scheduler/SchedulerWorker.ts
Labels: ⚙️ backend

#12235 feat: change user 'isActive' definition
  packages/backend/src/database/migrations/20241104104713_reset_users_active_status.ts
  packages/backend/src/models/OrganizationMemberProfileModel.ts
  packages/backend/src/models/UserModel.ts
  packages/backend/src/services/UserService.mock.ts
  packages/backend/src/services/UserService.test.ts
  packages/backend/src/services/UserService.ts
  packages/common/src/types/organizationMemberProfile.ts
  packages/common/src/types/user.ts
  packages/frontend/src/components/UserSettings/UsersAndGroupsPanel/UsersView.tsx
  packages/frontend/src/features/comments/components/CommentForm.tsx
Labels: ✨ feature-request, ⚙️ backend

#12251 refactor: split metrics table components into multiple
  packages/frontend/src/features/metricsCatalog/components/ExploreMetricButton.tsx
  packages/frontend/src/features/metricsCatalog/components/MetricChartUsageButton.tsx
  packages/frontend/src/features/metricsCatalog/components/MetricChartUsageModal.tsx
  packages/frontend/src/features/metricsCatalog/components/MetricsCatalogColumns.tsx
  packages/frontend/src/features/metricsCatalog/components/MetricsCatalogPanel.tsx
  packages/frontend/src/features/metricsCatalog/components/MetricsTable.tsx
Labels: 🖥 frontend

#12255 fix: create preview permission
  packages/backend/src/services/ProjectService/ProjectService.ts
Labels: 🐛 bug, ⚙️ backend

#12266 feat: allow creating tag for project and get tags
  packages/backend/src/controllers/projectController.ts
  packages/backend/src/generated/routes.ts
  packages/backend/src/generated/swagger.json
  packages/backend/src/models/TagsModel.ts
  packages/backend/src/services/ProjectService/ProjectService.ts
  packages/common/src/index.ts
  packages/common/src/types/tags.ts
  packages/frontend/src/features/metricsCatalog/components/CatalogTag.tsx
  packages/frontend/src/features/metricsCatalog/components/MetricsCatalogColumns.tsx
  packages/frontend/src/features/metricsCatalog/components/MetricsCatalogTagForm.tsx
  packages/frontend/src/features/metricsCatalog/hooks/useCatalogTags.tsx
  packages/frontend/src/features/metricsCatalog/utils/getRandomTagColor.tsx
Labels: 🖥 frontend

#12276 feat: enable editing a tag/category's label or color
  packages/backend/src/controllers/projectController.ts
  packages/backend/src/generated/swagger.json
  packages/frontend/src/features/metricsCatalog/components/MetricCatalogTagFormItem.tsx
  packages/frontend/src/features/metricsCatalog/components/MetricsCatalogTagForm.tsx
  packages/frontend/src/features/metricsCatalog/hooks/useCatalogTags.tsx
Labels: 🖥 frontend

#12293 feat: enable catalog filtering by tag/category
  packages/frontend/src/features/metricsCatalog/components/MetricsTable.tsx
  packages/frontend/src/features/metricsCatalog/components/MetricsTableTopToolbar.tsx
  packages/frontend/src/features/metricsCatalog/hooks/useMetricsCatalog.tsx
  packages/frontend/src/features/metricsCatalog/store/metricsCatalogSlice.ts
Labels: 🖥 frontend

#12305 chore: export catalog args
  packages/backend/src/models/CatalogModel/CatalogModel.ts
Labels: ⚙️ backend

#12310 fix: hide add tag button if no permissions to manage
  packages/frontend/src/features/metricsCatalog/components/MetricsCatalogColumns.tsx
  packages/frontend/src/features/metricsCatalog/components/MetricsCatalogPanel.tsx
  packages/frontend/src/features/metricsCatalog/store/metricsCatalogSlice.ts
Labels: 🖥 frontend

#12338 refactor: use shared util to set queryData for metrics catalog
  packages/frontend/src/features/metricsCatalog/hooks/useCatalogCategories.tsx
  packages/frontend/src/features/metricsCatalog/hooks/useProjectTags.tsx
  packages/frontend/src/features/metricsCatalog/utils/updateMetricsCatalogQuery.ts
Labels: tech-debt

#12342 docs: adds preview project reference docs
  docs/docs/references/assets/create-preview.jpg
  docs/docs/references/assets/delete-preview.jpg
  docs/docs/references/preview-projects.mdx
  docs/docs/snippets/github-secrets.mdx
  docs/sidebars.js
Labels: 📖 documentation

#12370 chore: track when a metric icon is applied
  packages/frontend/src/features/metricsCatalog/components/MetricsCatalogColumnName.tsx
  packages/frontend/src/providers/TrackingProvider.tsx
  packages/frontend/src/types/Events.ts
Labels: 📈 analytics-events

#12445 style: apply more styling to categories
  packages/frontend/src/features/metricsCatalog/components/CatalogCategory.tsx
  packages/frontend/src/features/metricsCatalog/components/CatalogCategorySwatch.tsx
  packages/frontend/src/features/metricsCatalog/components/MetricCatalogCategoryFormItem.tsx
  packages/frontend/src/features/metricsCatalog/components/MetricsCatalogColumns.tsx
  packages/frontend/src/features/metricsCatalog/styles/useCategoryStyles.ts
  packages/frontend/src/features/metricsCatalog/utils/getRandomTagColor.tsx
Labels: 🖥 frontend

#12451 style: update chart usage button
  packages/frontend/src/features/metricsCatalog/components/MetricChartUsageButton.tsx
  packages/frontend/src/features/metricsCatalog/components/MetricsCatalogColumns.tsx
  packages/frontend/src/svgs/metricsCatalog/bar-chart.svg
  packages/frontend/src/svgs/metricsCatalog/index.ts
Labels: 🖥 frontend

#12452 style: apply changes to metric name label and emojipicker
  packages/frontend/src/features/metricsCatalog/components/MetricsCatalogColumnName.tsx
  packages/frontend/src/styles/emoji-picker-react.css
Labels: 🖥 frontend

#12411 feat: allow to rotate personal access token
  docs/docs/references/personal_tokens.mdx
  docs/sidebars.js
  packages/backend/src/analytics/LightdashAnalytics.ts
  packages/backend/src/controllers/userController.ts
  packages/backend/src/database/entities/personalAccessTokens.ts
  packages/backend/src/database/migrations/20241113154521_add-date-columns-to-personal-access-token-table.ts
  packages/backend/src/generated/routes.ts
  packages/backend/src/generated/swagger.json
  packages/backend/src/models/DashboardModel/PersonalAccessTokenModel.ts
  packages/backend/src/services/PersonalAccessTokenService.ts
  packages/backend/src/services/UserService.ts
  packages/common/src/types/personalAccessToken.ts
  packages/frontend/src/components/UserSettings/AccessTokensPanel/CreateTokenModal.tsx
  packages/frontend/src/components/UserSettings/AccessTokensPanel/TokensTable.tsx
  packages/frontend/src/hooks/useAccessToken.ts
Labels: ✨ feature-request

#12460 style: apply fw and lh to metric name & description
  packages/frontend/src/features/metricsCatalog/components/MetricsCatalogColumnName.tsx
  packages/frontend/src/features/metricsCatalog/components/MetricsCatalogColumns.tsx
Labels: 🖥 frontend

#12458 style: update category tags appearance
  packages/frontend/src/features/metricsCatalog/components/CatalogCategory.tsx
  packages/frontend/src/features/metricsCatalog/components/MetricCatalogCategoryFormItem.tsx
  packages/frontend/src/features/metricsCatalog/components/MetricChartUsageButton.tsx
  packages/frontend/src/features/metricsCatalog/components/MetricsCatalogCategoryForm.tsx
  packages/frontend/src/features/metricsCatalog/styles/useCategoryStyles.ts
  packages/frontend/src/features/metricsCatalog/utils/getRandomTagColor.tsx
Labels: 🖥 frontend

#12505 chore: allow default time dimension for tables
  examples/full-jaffle-shop-demo/dbt/models/schema.yml
  packages/common/src/compiler/translator.ts
  packages/common/src/schemas/json/lightdash-dbt-2.0.json
  packages/common/src/types/dbt.ts
  packages/common/src/types/table.ts
Labels: ✨ feature-request, ⚙️ backend

#12526 fix: project menu empty list
  packages/frontend/src/components/NavBar/ProjectSwitcher.tsx
Labels: 🐛 bug

#12531 fix: change ui feedback when no perms to manage catalog
  packages/frontend/src/features/metricsCatalog/components/MetricsCatalogColumnName.tsx
  packages/frontend/src/features/metricsCatalog/components/MetricsCatalogColumns.tsx
Labels: 🖥 frontend

#12517 feat: open big number if no default dim on metric explore
  packages/frontend/src/hooks/useExplorerRoute.ts
Labels: 🖥 frontend

#12536 fix: open dashboard filter popover within portal
  packages/e2e/cypress/e2e/app/dashboard.cy.ts
  packages/frontend/src/components/DashboardFilter/Filter.tsx
  packages/frontend/src/pages/Dashboard.tsx
Labels: 🖥 frontend

#12558 docs: add metrics catalog guide
  docs/docs/guides/metrics-catalog.mdx
  docs/sidebars.js
Labels: 📖 documentation

#12567 docs: add row level filtering to tables
  docs/docs/references/tables.mdx
Labels: 📖 documentation

#12629 chore: log http requests with and without response metadata
  packages/backend/src/App.ts
  packages/backend/src/logging/winston.ts
Labels: ⚙️ backend, 👩‍💻 devx

#12640 style: update metric modal peek styles
  packages/frontend/src/features/metricsCatalog/components/MetricPeekModal.tsx
  packages/frontend/src/features/metricsCatalog/components/MetricsVisualization.tsx
  packages/frontend/src/pages/MetricsCatalog.tsx
Labels: 🖥 frontend

#12649 style: apply border to selected comparison
  packages/frontend/src/features/metricsCatalog/components/MetricPeekModal.tsx
Labels: 🖥 frontend

#12646 style: update metric peek date picker styles
  packages/frontend/src/features/metricsCatalog/components/MetricPeekDatePicker.tsx
Labels: 🖥 frontend

#12651 style: amend spacing and colors in date picker
  packages/frontend/src/features/metricsCatalog/components/MetricPeekDatePicker.tsx
  packages/frontend/src/features/metricsCatalog/components/MetricPeekModal.tsx
Labels: 🖥 frontend

#12661 chore: fixes copy on pivoted tables
  packages/frontend/src/components/VisualizationConfigs/TableConfigPanel/ColumnConfiguration.tsx
Labels: 🖥 frontend

#12666 style: apply responsiveness to modal height | vis styling
  packages/frontend/src/features/metricsCatalog/components/MetricPeekModal.tsx
  packages/frontend/src/features/metricsCatalog/components/visualization/MetricsVisualization.tsx
Labels: 🖥 frontend
