Repository lightdash/lightdash, pull requests merged in 2024-12, with the labels that each got.

#12673 docs: adds formatting yaml example for metrics
  docs/docs/references/metrics.mdx
Labels: 📖 documentation

#12696 fix: saved chart with null timezone
  packages/backend/src/database/entities/savedCharts.ts
  packages/backend/src/models/SavedChartModel.ts
Labels: 🐛 bug, ⚙️ backend

#12688 fix(dashboards): autocomplete for joined tables using alias
  packages/backend/src/models/ProjectModel/ProjectModel.ts
  packages/backend/src/services/ProjectService/ProjectService.ts
Labels: 🐛 bug, ⚙️ backend, 💜 customer support

#12499 docs: update time intervals
  docs/docs/references/dimensions.mdx
  docs/docs/references/metrics.mdx
Labels: 📖 documentation

#12731 chore: upgrade prettier to 2.8.1
  package.json
  packages/frontend/src/components/DashboardTiles/DashboardChartTile.tsx
  packages/frontend/src/components/Explorer/ExplorePanel/index.tsx
  packages/frontend/src/components/Explorer/SavedChartsHeader/index.tsx
  packages/frontend/src/features/sqlRunner/components/ContentPanel.tsx
  packages/frontend/src/pages/CreateProject.tsx
  yarn.lock
Labels: 👩‍💻 devx

#12732 fix: only enable metric query on click of explore
  packages/frontend/src/features/metricsCatalog/components/ExploreMetricButton.tsx
  packages/frontend/src/features/metricsCatalog/hooks/useMetricsCatalog.tsx
Labels: 🐛 bug, 🖥 frontend

#12750 fix: dont open url if shouldFetch is false
  packages/frontend/src/features/metricsCatalog/components/ExploreMetricButton.tsx
Labels: 🐛 bug, 🖥 frontend

#12765 fix: address time interval overrride on comparison of metrics
  packages/backend/src/services/CatalogService/CatalogService.ts
  packages/backend/src/services/MetricsExplorerService/MetricsExplorerService.ts
  packages/common/src/utils/metricsExplorer.ts
  packages/frontend/src/features/metricsCatalog/components/MetricPeekModal.tsx
  packages/frontend/src/features/metricsCatalog/components/visualization/MetricsVisualization.tsx
  packages/frontend/src/features/metricsCatalog/hooks/useRunMetricExplorerQuery.ts
Labels: 🖥 frontend, ⚙️ backend

#12769 style: amend pickers' styles
  packages/frontend/src/features/metricsCatalog/components/MetricPeekDatePicker.tsx
  packages/frontend/src/features/metricsCatalog/hooks/useDateRangePicker.tsx
Labels: 🖥 frontend

#12767 style: move time dimension picker to below viz
  packages/frontend/src/features/metricsCatalog/components/MetricPeekDatePicker.tsx
  packages/frontend/src/features/metricsCatalog/components/MetricPeekModal.tsx
  packages/frontend/src/features/metricsCatalog/components/MetricsCatalogPanel.tsx
  packages/frontend/src/features/metricsCatalog/components/visualization/MetricsVisualization.tsx
  packages/frontend/src/features/metricsCatalog/components/visualization/TimeDimensionPicker.tsx
Labels: 🖥 frontend

#12792 perf: get metrics with batched attribute-filter
  packages/backend/src/services/CatalogService/CatalogService.ts
Labels: ⚙️ backend

#12805 fix: get year forward on PoP comparison
  packages/common/src/utils/metricsExplorer.ts
Labels: 🐛 bug, ⚙️ backend

#12819 fix: chart page showing charts from all projects the user has access to
  packages/frontend/src/components/Explorer/SpaceBrowser/AddResourceToSpaceModal.tsx
  packages/frontend/src/components/common/ResourceView/InfiniteResourceTable.tsx
  packages/frontend/src/hooks/useContent.ts
  packages/frontend/src/pages/Space.tsx
Labels: 🐛 bug, 🖥 frontend

#12823 fix: listen to project uuid changes and reset on refresh
  packages/frontend/src/features/metricsCatalog/components/MetricsCatalogPanel.tsx
  packages/frontend/src/hooks/useRefreshServer.tsx
Labels: 🐛 bug, 🖥 frontend

#12818 feat: revise metrics catalog tooltips
  packages/frontend/src/features/metricsCatalog/components/ExploreMetricButton.tsx
  packages/frontend/src/features/metricsCatalog/components/MetricsCatalogColumns.tsx
  packages/frontend/src/features/metricsCatalog/components/MetricsCatalogPanel.tsx
  packages/frontend/src/features/metricsCatalog/components/MetricsTableTopToolbar.tsx
Labels: 🖥 frontend

#12816 style: show labels on chart tooltip
  packages/backend/src/generated/routes.ts
  packages/backend/src/generated/swagger.json
  packages/backend/src/services/MetricsExplorerService/MetricsExplorerService.ts
  packages/common/src/types/metricsExplorer.ts
  packages/common/src/utils/metricsExplorer.ts
  packages/frontend/src/features/metricsCatalog/components/MetricPeekModal.tsx
  packages/frontend/src/features/metricsCatalog/components/visualization/MetricsVisualization.tsx
Labels: 🖥 frontend, ⚙️ backend

#12838 fix: generate jobs starting at midnight, even when scheduler is delayed
  packages/backend/src/scheduler/SchedulerClient.ts
  packages/backend/src/scheduler/SchedulerWorker.test.ts
  packages/backend/src/scheduler/SchedulerWorker.ts
Labels: ⚙️ backend, 💜 customer support

#12905 chore: track when searching metrics catalog
  packages/frontend/src/features/metricsCatalog/components/MetricsTable.tsx
  packages/frontend/src/features/metricsCatalog/hooks/useMetricsCatalog.tsx
  packages/frontend/src/providers/TrackingProvider.tsx
  packages/frontend/src/types/Events.ts
Labels: 📈 analytics-events

#12907 style: add transition animations to metrics explorer clickables
  packages/frontend/src/features/metricsCatalog/components/MetricPeekComparison.tsx
  packages/frontend/src/features/metricsCatalog/components/visualization/MetricsVisualization.tsx
  packages/frontend/src/features/metricsCatalog/styles/useSelectStyles.ts
Labels: 🖥 frontend

#12922 chore: track change of date filter only on user action
  packages/frontend/src/features/metricsCatalog/components/MetricPeekDatePicker.tsx
  packages/frontend/src/features/metricsCatalog/components/MetricPeekModal.tsx
  packages/frontend/src/providers/TrackingProvider.tsx
Labels: 📈 analytics-events

#12898 feat: space and dashboard page new table
  packages/e2e/cypress/e2e/app/space.cy.ts
  packages/frontend/src/components/common/ResourceIcon/index.tsx
  packages/frontend/src/components/common/ResourceView/ContentTypeMultiSelect.tsx
  packages/frontend/src/components/common/ResourceView/InfiniteResourceTable.tsx
  packages/frontend/src/pages/SavedDashboards.tsx
  packages/frontend/src/pages/SavedQueries.tsx
  packages/frontend/src/pages/Space.tsx
Labels: 🖥 frontend

#12931 chore: content type multiselect color typo
  packages/frontend/src/components/common/ResourceView/ContentTypeMultiSelect.tsx
Labels: 🖥 frontend

#12941 feat: allow keyboard shortcuts to navigate to other metrics
  packages/frontend/src/features/metricsCatalog/components/MetricPeekModal.tsx
Labels: 🖥 frontend

#12954 refactor: metric explorer tooltip component
  packages/frontend/src/features/metricsCatalog/components/visualization/MetricExploreLegend.tsx
  packages/frontend/src/features/metricsCatalog/components/visualization/MetricExploreTooltip.tsx
  packages/frontend/src/features/metricsCatalog/components/visualization/MetricsVisualization.tsx
Labels: 🖥 frontend

#12957 fix: content type filter input
  packages/e2e/cypress/e2e/app/space.cy.ts
  packages/frontend/src/components/common/ResourceView/ContentTypeFilter.tsx
  packages/frontend/src/components/common/ResourceView/ContentTypeMultiSelect.tsx
  packages/frontend/src/components/common/ResourceView/InfiniteResourceTable.tsx
  packages/frontend/src/pages/Space.tsx
Labels: 🖥 frontend, 💜 customer support

#12956 refactor: move peek-related components to vis folder
  packages/frontend/src/features/metricsCatalog/components/MetricPeekModal.tsx
  packages/frontend/src/features/metricsCatalog/components/visualization/MetricPeekComparison.tsx
  packages/frontend/src/features/metricsCatalog/components/visualization/MetricPeekDatePicker.tsx
  packages/frontend/src/features/metricsCatalog/components/visualization/MetricPeekSegmentationPicker.tsx
  packages/frontend/src/features/metricsCatalog/components/visualization/MetricsVisualization.tsx
Labels: 🖥 frontend

#12973 chore: log and measure operations for metrics explorer/trees
  packages/backend/src/logging/measureTime.ts
  packages/backend/src/services/MetricsExplorerService/MetricsExplorerService.ts
  packages/backend/src/services/ProjectService/ProjectService.ts
Labels: ⚙️ backend

#12985 fix: reset grain dropdown picker width
  packages/frontend/src/features/metricsCatalog/components/visualization/TimeDimensionIntervalPicker.tsx
Labels: 🖥 frontend

#12986 fix: get correct key on previous period
  packages/frontend/src/features/metricsCatalog/components/visualization/MetricExploreTooltip.tsx
Labels: 🐛 bug, 🖥 frontend

#13028 fix: optimistically set time dimension interval picker
  packages/frontend/src/features/metricsCatalog/components/visualization/MetricPeekDatePicker.tsx
  packages/frontend/src/features/metricsCatalog/components/visualization/MetricsVisualization.tsx
  packages/frontend/src/features/metricsCatalog/components/visualization/TimeDimensionIntervalPicker.tsx
Labels: 🖥 frontend

#13031 fix: show loading spinner in between empty states
  packages/frontend/src/features/metricsCatalog/components/visualization/MetricsVisualization.tsx
Labels: 🐛 bug, 🖥 frontend

#13032 fix: refetch when tree to list view and style changes
  packages/frontend/src/features/metricsCatalog/components/MetricTree/MetricTreeConnectedNode.tsx
  packages/frontend/src/features/metricsCatalog/components/MetricTree/MetricTreeUnconnectedNode.tsx
  packages/frontend/src/features/metricsCatalog/components/MetricTree/index.tsx
  packages/frontend/src/features/metricsCatalog/components/MetricsTable.tsx
  packages/frontend/src/features/metricsCatalog/components/MetricsTableTopToolbar.tsx
  packages/frontend/src/features/metricsCatalog/store/metricsCatalogSlice.ts
Labels: 🐛 bug, 🖥 frontend
