Repository lightdash/lightdash, pull requests merged in 2024-05, with the labels that each got.

#9996 fix: init sentry before express handlers
  packages/backend/src/App.ts
Labels: 🐛 bug, ⚙️ backend

#10036 docs: Update metrics.mdx
  docs/docs/references/metrics.mdx
Labels: 📖 documentation

#10050 fix: custom sql dimension alias
  packages/backend/src/queryBuilder.mock.ts
  packages/backend/src/queryBuilder.test.ts
  packages/backend/src/queryBuilder.ts
Labels: 🐛 bug

#10059 feat: enable sentry backend profiling
  packages/backend/package.json
  packages/backend/src/App.ts
  yarn.lock
Labels: ✨ feature-request, ⚙️ backend

#10071 fix: clear dashboard storage before explore from here
  packages/frontend/src/components/ExploreFromHereButton/index.tsx
Labels: 🐛 bug, 🖥 frontend

#10098 chore: custom sql dimension e2e
  packages/e2e/cypress/e2e/app/customDimensions.cy.ts
Labels: ⚡️ LightSmash Day

#10109 chore: combine all id methods into one
  packages/backend/src/models/SavedChartModel.ts
  packages/backend/src/queryBuilder.ts
  packages/backend/src/services/ProjectService/ProjectService.ts
  packages/backend/src/services/ValidationService/ValidationService.ts
  packages/common/src/compiler/filtersCompiler.ts
  packages/common/src/index.ts
  packages/common/src/types/dbt.ts
  packages/common/src/types/field.test.ts
  packages/common/src/types/field.ts
  packages/common/src/types/metricQuery.ts
  packages/common/src/utils/fields.ts
  packages/common/src/utils/filters.ts
  packages/common/src/utils/item.ts
  packages/frontend/src/components/DashboardFilter/FilterConfiguration/TileFilterConfiguration.tsx
  packages/frontend/src/components/DashboardFilter/FilterConfiguration/index.tsx
  packages/frontend/src/components/DashboardTiles/DashboardChartTile.tsx
  packages/frontend/src/components/Explorer/CustomDimensionModal/CustomBinDimensionModel.tsx
  packages/frontend/src/components/Explorer/CustomMetricModal/index.tsx
  packages/frontend/src/components/Explorer/ExploreTree/TableTree/TableTreeSections.tsx
  packages/frontend/src/components/Explorer/ExploreTree/TableTree/Tree/TreeProvider.tsx
  packages/frontend/src/components/Explorer/ExploreTree/TableTree/Tree/TreeSingleNodeActions.tsx
  packages/frontend/src/components/Explorer/FiltersCard/FiltersCard.tsx
  packages/frontend/src/components/Explorer/ResultsCard/ColumnHeaderContextMenu.tsx
  packages/frontend/src/components/MetricQueryData/DrillDownMenuItem.tsx
  packages/frontend/src/components/MetricQueryData/DrillDownModal.tsx
  packages/frontend/src/components/MetricQueryData/UnderlyingDataModalContent.tsx
  packages/frontend/src/components/VisualizationConfigs/ChartConfigPanel/Legend/ReferenceLine.tsx
  packages/frontend/src/components/VisualizationConfigs/ChartConfigPanel/Legend/ReferenceLines.tsx
  packages/frontend/src/components/VisualizationConfigs/PieChartConfig/PieChartLayoutConfig.tsx
  packages/frontend/src/components/common/PivotTable/index.tsx
  packages/frontend/src/features/metricFlow/utils/convertMetricFlowFieldsToExplore.ts
  packages/frontend/src/features/omnibar/utils/getSearchItemMap.ts
  packages/frontend/src/hooks/useCalculateTotal.ts
  packages/frontend/src/hooks/useDefaultSortField.tsx
  packages/frontend/src/hooks/useExplorerAceEditorCompleter.tsx
  packages/frontend/src/hooks/useFilters.ts
  packages/frontend/src/hooks/useSqlQueryVisualization.ts
  packages/frontend/src/hooks/useSqlRunnerColumns.ts
  packages/frontend/src/hooks/useUnderlyingDataColumns.ts
  packages/frontend/src/providers/DashboardProvider.tsx
  packages/frontend/src/providers/ExplorerProvider.tsx
Labels: tech-debt, ⚡️ LightSmash Day

#10102 chore: remove lazy loading from dashboard tiles
  packages/common/src/types/featureFlags.ts
  packages/frontend/src/components/DashboardTabs/index.tsx
  packages/frontend/src/pages/Dashboard.tsx
  packages/frontend/src/providers/ThirdPartyServicesProvider.tsx
Labels: 🖥 frontend

#10100 chore: add table calculation e2e
  packages/e2e/cypress/e2e/app/tableCalculation.cy.ts
Labels: ⚡️ LightSmash Day

#10147 docs: removes dbt semantic layer from self-hosted docs
  docs/docs/guides/dbt-semantic-layer.mdx
Labels: 📖 documentation

#10093 fix: save temp dashboard tabs to session storage when creating new chart
  packages/frontend/src/components/DashboardTabs/index.tsx
  packages/frontend/src/components/DashboardTiles/AddTileButton.tsx
  packages/frontend/src/components/DashboardTiles/EmptyStateNoTiles/index.tsx
  packages/frontend/src/components/common/Dashboard/DashboardHeader.tsx
  packages/frontend/src/hooks/dashboard/useDashboardStorage.tsx
  packages/frontend/src/pages/Dashboard.tsx
Labels: 🐛 bug, 🖥 frontend

#10190 docs: split out `how to create custom dimensions`
  docs/docs/guides/how-to-create-custom-fields.mdx
Labels: 📖 documentation

#10171 docs: update Trino connection docs
  docs/docs/get-started/setup-lightdash/connect-project.mdx
Labels: 📖 documentation

#10191 docs: adds info about user access level.
  docs/docs/guides/how-to-create-custom-fields.mdx
Labels: 📖 documentation

#10208 docs: adds space permissions info
  docs/docs/references/assets/add-users-space.png
  docs/docs/references/roles.mdx
Labels: 📖 documentation

#10162 fix: allow setting offset to avoid bars overlapping/falling outside of range
  packages/common/src/index.ts
  packages/common/src/types/savedCharts.ts
  packages/frontend/src/components/Explorer/FiltersCard/useFieldsWithSuggestions.ts
  packages/frontend/src/components/VisualizationConfigs/ChartConfigPanel/Axes/AxisMinMax.tsx
  packages/frontend/src/components/VisualizationConfigs/ChartConfigPanel/Axes/index.tsx
  packages/frontend/src/hooks/cartesianChartConfig/useCartesianChartConfig.ts
  packages/frontend/src/hooks/echarts/useEchartsCartesianConfig.ts
Labels: 🐛 bug, ✨ feature-request, 🖥 frontend

#10212 feat: add right sidebar to page component
  packages/frontend/src/components/common/Page/Page.tsx
  packages/frontend/src/components/common/Page/Sidebar.tsx
  packages/frontend/src/hooks/useSidebarResize.ts
Labels: 🖥 frontend

#10220 feat: add catalog chart kind to analytics
  packages/backend/src/generated/routes.ts
  packages/backend/src/generated/swagger.json
  packages/backend/src/services/CatalogService/CatalogService.ts
  packages/common/src/types/catalog.ts
  packages/frontend/src/features/catalog/components/CatalogAnalyticCharts.tsx
Labels: released

#10143 fix: invite user without org
  packages/backend/src/services/UserService.mock.ts
  packages/backend/src/services/UserService.test.ts
  packages/backend/src/services/UserService.ts
Labels: 🐛 bug, ⚙️ backend

#10174 fix: add search params when switching tab
  packages/frontend/src/components/DashboardTabs/index.tsx
Labels: 🐛 bug, 🖥 frontend

#10246 style: update catalog header styles
  packages/frontend/src/features/catalog/components/CatalogPanel.tsx
Labels: 🖥 frontend

#10248 docs: max groups in sidebar
  docs/docs/guides/formatting-your-fields.mdx
Labels: 📖 documentation

#10249 style: improve right sidebar resize and fit page
  packages/frontend/src/components/common/Page/Page.tsx
  packages/frontend/src/components/common/Page/Sidebar.tsx
  packages/frontend/src/hooks/useSidebarResize.ts
  packages/frontend/src/pages/Catalog.tsx
Labels: 🖥 frontend

#10252 fix: merge charts in analytics and display breadcrumb if within dashboard
  packages/frontend/src/features/catalog/components/CatalogAnalyticCharts.tsx
Labels: 🖥 frontend

#10225 feat: add joined tables to metadata sidebar
  packages/backend/src/generated/routes.ts
  packages/backend/src/generated/swagger.json
  packages/backend/src/services/CatalogService/CatalogService.ts
  packages/common/src/types/catalog.ts
  packages/frontend/src/features/catalog/components/CatalogMetadata.tsx
Labels: 🖥 frontend, ⚙️ backend

#10262 docs: Update dimensions.mdx to include `groups` instead of `group_label`
  docs/docs/references/dimensions.mdx
Labels: 📖 documentation

#10255 style: initial catalog field styling
  packages/frontend/src/features/catalog/components/CatalogFieldListItem.tsx
  packages/frontend/src/features/catalog/components/CatalogTableListItem.tsx
  packages/frontend/src/features/catalog/components/CatalogTree.tsx
Labels: 🖥 frontend

#10261 style: address styling catalog feedback
  packages/frontend/src/features/catalog/components/CatalogGroup.tsx
  packages/frontend/src/features/catalog/components/CatalogMetadata.tsx
  packages/frontend/src/features/catalog/components/CatalogPanel.tsx
  packages/frontend/src/features/catalog/components/CatalogTableListItem.tsx
  packages/frontend/src/features/catalog/hooks/useCatalogMetadata.ts
  packages/frontend/src/pages/Catalog.tsx
Labels: 🖥 frontend

#10265 fix: defer state when opening metadata sidebar
  packages/frontend/src/features/catalog/components/CatalogMetadata.tsx
  packages/frontend/src/features/catalog/components/CatalogPanel.tsx
Labels: 🖥 frontend

#10254 fix: reduce amount of queries necessary to validate dashboards
  packages/backend/src/models/DashboardModel/DashboardModel.ts
  packages/backend/src/services/ValidationService/ValidationService.mock.ts
  packages/backend/src/services/ValidationService/ValidationService.test.ts
  packages/backend/src/services/ValidationService/ValidationService.ts
Labels: 🐛 bug, ⚙️ backend
