Repository lightdash/lightdash, pull requests merged in 2024-06, with the labels that each got.

#10273 feat: add loading state when catalog is loading
  packages/frontend/src/features/catalog/components/CatalogPanel.tsx
  packages/frontend/src/features/catalog/components/CatalogTree.tsx
Labels: 🖥 frontend

#10286 fix: enable overflowY scroll if sidebar open
  packages/frontend/src/features/catalog/components/CatalogTree.tsx
  packages/frontend/src/pages/Catalog.tsx
Labels: 🐛 bug, 🖥 frontend

#10289 style: fix search/filter button alignment
  packages/frontend/src/features/catalog/components/CatalogPanel.tsx
Labels: 🐛 bug, 🖥 frontend

#10288 feat: display error message on metadata panel if open
  packages/frontend/src/features/catalog/components/CatalogMetadata.tsx
  packages/frontend/src/features/catalog/components/CatalogPanel.tsx
  packages/frontend/src/features/catalog/context/CatalogProvider.tsx
Labels: 🖥 frontend

#10322 fix: pass correct org uuid to underlying data query tag
  packages/backend/src/services/ProjectService/ProjectService.ts
Labels: 🐛 bug, ⚙️ backend

#10308 fix: remove analytics views subqueries from dashboard and chart queries
  packages/backend/src/database/entities/dashboards.ts
  packages/backend/src/database/entities/savedCharts.ts
  packages/backend/src/database/migrations/20240604094543_add_views_columns_to_chart_and_dashboards_tables.ts
  packages/backend/src/models/AnalyticsModel.ts
  packages/backend/src/models/DashboardModel/DashboardModel.mock.ts
  packages/backend/src/models/DashboardModel/DashboardModel.test.ts
  packages/backend/src/models/DashboardModel/DashboardModel.ts
  packages/backend/src/models/ResourceViewItemModel.ts
  packages/backend/src/models/SpaceModel.ts
  packages/backend/src/models/ValidationModel/ValidationModel.ts
Labels: 🐛 bug, ⚙️ backend

#10310 fix: add missing index in cached explore table
  packages/backend/src/database/migrations/20240604135815_add_missing_key_in_cached_explore_table.ts
Labels: 🐛 bug, ⚙️ backend

#10313 feat: increase max retries for dashboard image schedulers
  packages/backend/package.json
  packages/backend/src/scheduler/SchedulerClient.ts
  yarn.lock
Labels: ⚙️ backend

#10314 fix: add missing indexes for dashboards query
  packages/backend/src/database/migrations/20240604140542_add_missing_indexes_for_dashboards_query.ts
  packages/backend/src/models/DashboardModel/DashboardModel.ts
Labels: 🐛 bug, ⚙️ backend

#10340 chore: upgrade tsx to 4.11.0 and use tsx for `common`
  package.json
  packages/common/package.json
  yarn.lock
Labels: 👩‍💻 devx

#10349 fix: wait for all charts to settle with playwright screenshot
  packages/backend/src/services/UnfurlService/UnfurlService.ts
Labels: ⚙️ backend

#10351 chore: upgrade sentry react to v8 on frontend
  packages/frontend/package.json
  packages/frontend/src/api.ts
  packages/frontend/src/features/errorBoundary/components/ErrorBoundary.tsx
  packages/frontend/src/hooks/thirdPartyServices/useSentry.ts
  yarn.lock
Labels: 🖥 frontend

#10368 fix: get body selector for playwright chart screenshots
  packages/backend/src/services/UnfurlService/UnfurlService.ts
Labels: 🐛 bug, ⚙️ backend

#10375 fix: increase timeout to wait for charts to 60s (playwright)
  packages/backend/src/services/UnfurlService/UnfurlService.ts
Labels: ⚙️ backend

#10379 fix: more playwright improvements
  packages/backend/src/services/UnfurlService/UnfurlService.ts
  packages/frontend/src/hooks/echarts/useEchartsCartesianConfig.ts
  packages/frontend/src/hooks/echarts/useEchartsPieConfig.ts
Labels: 🖥 frontend, ⚙️ backend

#10364 fix: remove n+1 queries when creating and updating a dashboard
  packages/backend/src/database/entities/dashboards.ts
  packages/backend/src/models/DashboardModel/DashboardModel.test.ts
  packages/backend/src/models/DashboardModel/DashboardModel.ts
  packages/common/src/types/dashboard.ts
Labels: 🐛 bug, ⚙️ backend

#10383 fix: get all explores in one query for dashboard available filters
  packages/backend/src/models/ProjectModel/ProjectModel.ts
  packages/backend/src/services/ProjectService/ProjectService.test.ts
  packages/backend/src/services/ProjectService/ProjectService.ts
Labels: 🐛 bug

#10433 fix: undefined error when threshold doesnt have enough results
  packages/backend/src/scheduler/SchedulerTask.mock.ts
  packages/backend/src/scheduler/SchedulerTask.test.ts
  packages/backend/src/scheduler/SchedulerTask.ts
Labels: 🐛 bug, ⚙️ backend

#10452 chore: update sentry config to ignore more errors
  packages/backend/src/sentry.ts
Labels: ⚙️ backend

#10451 fix: wait for all chart spinners before playwright screenshot
  packages/backend/src/services/UnfurlService/UnfurlService.ts
Labels: 🐛 bug, ⚙️ backend

#10518 fix: get correct table label and label on metadata
  packages/backend/src/services/CatalogService/CatalogService.ts
  packages/common/src/types/catalog.ts
  packages/frontend/src/features/catalog/components/CatalogMetadata.tsx
Labels: 🖥 frontend

#10512 docs: adds groups example to docs
  docs/docs/guides/assets/slack-settings.png
  docs/docs/guides/sharing-in-slack.mdx
  docs/docs/references/assets/groups.png
  docs/docs/references/dimensions.mdx
  docs/docs/references/metrics.mdx
Labels: 📖 documentation
