Repository lightdash/lightdash, pull requests merged in 2024-09, with the labels that each got.

#11324 fix: display error message if failed
  packages/common/src/index.ts
  packages/frontend/src/components/DataViz/transformers/useChart.ts
  packages/frontend/src/components/DataViz/visualizations/ChartView.tsx
Labels: 🐛 bug, 🖥 frontend

#11332 chore: remove first aggregation option
  packages/backend/src/generated/routes.ts
  packages/backend/src/generated/swagger.json
  packages/common/src/visualizations/types/index.ts
  packages/frontend/src/components/DataViz/config/DataVizAggregationConfig.tsx
Labels: tech-debt

#11352 fix: only push if not included
  packages/frontend/src/features/sqlRunner/store/sqlRunnerSlice.ts
Labels: 🐛 bug, 🖥 frontend

#11360 fix: allow clicking whole schema name to toggle
  packages/frontend/src/features/sqlRunner/components/Tables.tsx
Labels: 🖥 frontend

#11386 fix: pass limit to saved chart & tile
  packages/frontend/src/components/DashboardTiles/DashboardSqlChartTile.tsx
  packages/frontend/src/pages/ViewSqlChart.tsx
Labels: 🐛 bug, 🖥 frontend

#11387 fix: check for results and columns length
  packages/frontend/src/features/sqlRunner/store/sqlRunnerSlice.ts
Labels: 🐛 bug

#11398 fix: wait for sql before viewing sql chart
  packages/frontend/src/pages/ViewSqlChart.tsx
Labels: 🐛 bug, 🖥 frontend

#11402 chore: add loading state when saving chart changes
  packages/frontend/src/features/sqlRunner/components/Header/HeaderEdit.tsx
Labels: 🖥 frontend

#11416 chore: use `react-resizable-panels` in sql runner sidebar
  packages/frontend/package.json
  packages/frontend/src/components/common/Page/Sidebar.tsx
  packages/frontend/src/features/sqlRunner/components/TablesPanel.tsx
  yarn.lock
Labels: 🖥 frontend, tech-debt

#11412 chore: [Snyk] Upgrade: react, react-dom
  docs/package.json
  docs/yarn.lock
  packages/frontend/package.json
  packages/frontend/src/components/common/LightTable/index.tsx
  yarn.lock
Labels: 🖥 frontend

#11431 chore: update copy on empty state
  packages/frontend/src/features/semanticViewer/components/Content.tsx
Labels: 🖥 frontend

#11432 fix: open results table on query
  packages/frontend/src/features/sqlRunner/components/ContentPanel.tsx
Labels: 🐛 bug, 🖥 frontend

#11439 fix: sql runner loop by removing unnecessary hook
  packages/frontend/src/components/DataViz/hooks/useChartViz.ts
  packages/frontend/src/components/DataViz/visualizations/ChartView.tsx
  packages/frontend/src/features/sqlRunner/components/ContentPanel.tsx
  packages/frontend/src/features/sqlRunner/hooks/useChartResultsTableConfig.tsx
  packages/frontend/src/pages/ViewSqlChart.tsx
Labels: 🖥 frontend

#11492 perf: use web workers to get results from stream
  packages/frontend/src/components/DashboardTiles/DashboardSqlChartTile.tsx
  packages/frontend/src/features/sqlRunner/hooks/useDashboardSqlChart.tsx
  packages/frontend/src/features/sqlRunner/hooks/useResultsFromStreamWorker.tsx
  packages/frontend/src/features/sqlRunner/hooks/useSqlChartResults.ts
  packages/frontend/src/features/sqlRunner/hooks/useSqlQueryRun.tsx
Labels: 🖥 frontend

#11512 chore: track error stack on project creation
  packages/backend/src/services/ProjectService/ProjectService.ts
Labels: 👩‍💻 devx

#11536 chore: upgrade @tanstack/react-virtual
  packages/frontend/package.json
  yarn.lock
Labels: tech-debt

#11564 feat: allow for two levels of filter groups
  packages/frontend/src/components/common/Filters/FilterGroupForm.tsx
  packages/frontend/src/components/common/Filters/index.tsx
Labels: ✨ feature-request, 🖥 frontend

#11580 fix: use isFetching to display loading state
  packages/frontend/src/components/DashboardTiles/DashboardSqlChartTile.tsx
  packages/frontend/src/features/sqlRunner/components/ContentPanel.tsx
  packages/frontend/src/pages/ViewSqlChart.tsx
Labels: 🐛 bug, 🖥 frontend

#11596 fix: reset chart configs on unmount of create and view
  packages/frontend/src/components/DataViz/store/actions/commonChartActions.ts
  packages/frontend/src/components/DataViz/store/barChartSlice.ts
  packages/frontend/src/components/DataViz/store/lineChartSlice.ts
  packages/frontend/src/components/DataViz/store/pieChartSlice.ts
  packages/frontend/src/components/DataViz/store/tableVisSlice.ts
  packages/frontend/src/features/sqlRunner/store/sqlRunnerSlice.ts
  packages/frontend/src/pages/SqlRunnerNew.tsx
  packages/frontend/src/pages/ViewSqlChart.tsx
Labels: 🐛 bug, 🖥 frontend

#11600 feat: display chart errors on save/edit if invalid
  packages/common/src/visualizations/CartesianChartDataModel.ts
  packages/common/src/visualizations/PieChartDataModel.ts
  packages/common/src/visualizations/types/IResultsRunner.ts
  packages/common/src/visualizations/types/index.ts
  packages/frontend/src/components/DataViz/config/CartesianChartFieldConfiguration.tsx
  packages/frontend/src/components/DataViz/config/PieChartConfiguration.tsx
  packages/frontend/src/components/DataViz/store/actions/commonChartActions.ts
  packages/frontend/src/components/DataViz/store/barChartSlice.ts
  packages/frontend/src/components/DataViz/store/cartesianChartBaseSlice.ts
  packages/frontend/src/components/DataViz/store/lineChartSlice.ts
  packages/frontend/src/components/DataViz/store/pieChartSlice.ts
  packages/frontend/src/components/DataViz/store/selectors.ts
  packages/frontend/src/components/DataViz/transformers/ResultsRunner.ts
  packages/frontend/src/components/DataViz/transformers/getChartConfigAndOptions.ts
  packages/frontend/src/features/sqlRunner/components/ChartErrorsAlert.tsx
  packages/frontend/src/features/sqlRunner/components/ContentPanel.tsx
  packages/frontend/src/features/sqlRunner/components/Header/HeaderCreate.tsx
  packages/frontend/src/features/sqlRunner/components/Header/HeaderEdit.tsx
  packages/frontend/src/features/sqlRunner/components/Header/HeaderView.tsx
  packages/frontend/src/features/sqlRunner/components/SaveSqlChartModal.tsx
  packages/frontend/src/features/sqlRunner/store/sqlRunnerSlice.ts
Labels: 🖥 frontend

#11605 feat: store last successful sql queries
  packages/frontend/src/components/DataViz/hooks/useChartViz.ts
  packages/frontend/src/features/sqlRunner/components/ContentPanel.tsx
  packages/frontend/src/features/sqlRunner/components/SaveSqlChartModal.tsx
  packages/frontend/src/features/sqlRunner/components/SqlQueryHistory.tsx
  packages/frontend/src/features/sqlRunner/store/history.ts
  packages/frontend/src/features/sqlRunner/store/sqlRunnerSlice.ts
Labels: 🖥 frontend

#11666 feat: allow setting custom sql on results download
  packages/frontend/src/features/sqlRunner/components/ContentPanel.tsx
  packages/frontend/src/features/sqlRunner/components/Download/ResultsDownload.tsx
  packages/frontend/src/features/sqlRunner/hooks/useDownloadResults.tsx
Labels: 🖥 frontend

#11676 fix: remove query key sql from useChartViz
  packages/frontend/src/features/sqlRunner/components/ContentPanel.tsx
Labels: 🐛 bug, 🖥 frontend

#11704 fix: get correct uuid column for resource actions
  packages/backend/src/models/SpaceModel.ts
Labels: 🐛 bug, ⚙️ backend
