Repository lightdash/lightdash, pull requests merged in 2025-07, with the labels that each got.

#15649 fix: do not invalidate on human score change
  packages/frontend/src/ee/features/aiCopilot/hooks/useOrganizationAiAgents.ts
Labels: 🐛 bug, 🖥 frontend

#15724 style: remove backdrop if not disabled
  packages/frontend/src/ee/features/aiCopilot/components/ChatElements/AgentChatInput.module.css
  packages/frontend/src/ee/features/aiCopilot/components/ChatElements/AgentChatInput.tsx
Labels: 🖥 frontend

#15765 chore: Split AI Copilot chat bubbles into separate components
  packages/frontend/src/ee/features/aiCopilot/components/ChatElements/AgentChatAssistantBubble.tsx
  packages/frontend/src/ee/features/aiCopilot/components/ChatElements/AgentChatDisplay.tsx
  packages/frontend/src/ee/features/aiCopilot/components/ChatElements/AgentChatUserBubble.tsx
Labels: tech-debt

#15706 feat: add group access to ai agents
  packages/backend/src/ee/index.ts
  packages/backend/src/ee/models/AiAgentModel.ts
  packages/backend/src/ee/services/AiAgentService.ts
  packages/backend/src/generated/routes.ts
  packages/backend/src/generated/swagger.json
  packages/backend/src/models/GroupsModel.ts
  packages/common/src/ee/AiAgent/index.ts
  packages/frontend/src/components/NavBar/AiAgentsButton.tsx
  packages/frontend/src/ee/features/aiCopilot/hooks/useOrganizationAiAgents.ts
  packages/frontend/src/ee/features/aiCopilot/hooks/useProjectAiAgents.ts
  packages/frontend/src/ee/pages/AiAgents/ProjectAiAgentEditPage.tsx
Labels: 🖥 frontend, ⚙️ backend

#15980 fix: make spotlight required and merge with default config
  packages/backend/src/projectAdapters/dbtBaseProjectAdapter.test.ts
  packages/cli/src/lightdash-config/lightdash-config.test.ts
  packages/common/src/schemas/json/lightdash-project-config-1.0.json
  packages/common/src/utils/loadLightdashProjectConfig.ts
Labels: 🐛 bug, 🎮 CLI

#15985 test: add ai agent integration test
  package.json
  packages/backend/INTEGRATION_TESTS.md
  packages/backend/jest.config.js
  packages/backend/package.json
  packages/backend/src/ee/services/AiAgentService.ts
  packages/backend/src/ee/services/ai/agents/tests/agent.integration.test.ts
  packages/backend/src/vitest.setup.integration.ts
  packages/backend/vitest.config.integration.ts
  pnpm-lock.yaml
Labels: ⚙️ backend

#15989 test: score find explores response with llm-as-a-judge
  packages/backend/package.json
  packages/backend/src/ee/services/ai/agents/tests/agent.integration.test.ts
  packages/backend/src/ee/services/ai/agents/tests/utils/llmAsAJudge.ts
  pnpm-lock.yaml
Labels: ⚙️ backend

#16047 test: add relevancy test for time series
  packages/backend/package.json
  packages/backend/src/@types/mastra-evals.d.ts
  packages/backend/src/ee/services/ai/agents/tests/agent.integration.test.ts
  packages/backend/src/ee/services/ai/agents/tests/utils/llmAsAJudge.ts
  packages/backend/src/vitest.setup.integration.ts
  pnpm-lock.yaml
Labels: ⚙️ backend
