Repository lightdash/lightdash, pull requests merged in 2025-10, with the labels that each got.

#17131 chore: add db types for changes and changesets
  packages/backend/src/@types/knex-tables.d.ts
  packages/backend/src/controllers/ChangesetController.ts
  packages/backend/src/database/entities/changesets.ts
  packages/backend/src/generated/routes.ts
  packages/backend/src/generated/swagger.json
  packages/backend/src/models/ChangesetModel.ts
  packages/backend/src/models/ModelRepository.ts
  packages/backend/src/services/ChangesetService.ts
  packages/backend/src/services/ServiceRepository.ts
  packages/common/src/index.ts
  packages/common/src/types/changeset.ts
Labels: ⚙️ backend

#17146 test: add cases for applyChange in ProjectModel.test.ts
  packages/backend/src/models/ProjectModel/ProjectModel.test.ts
  packages/backend/src/models/ProjectModel/ProjectModel.ts
Labels: ⚙️ backend

#17138 chore: add createChange method in model
  packages/backend/src/models/ChangesetModel.ts
Labels: ⚙️ backend

#17180 feat: add initial project changesets table in settings
  packages/common/src/types/changeset.ts
  packages/frontend/src/features/changesets/components/ProjectChangesets.tsx
  packages/frontend/src/features/changesets/hooks/index.ts
  packages/frontend/src/features/changesets/hooks/useActiveChangesets.ts
  packages/frontend/src/pages/ProjectSettings.tsx
  packages/frontend/src/pages/Settings.tsx
Labels: 🖥 frontend

#17208 style: keep create action sublabel empty
  packages/frontend/src/features/changesets/components/ProjectChangesets.tsx
Labels: 🖥 frontend

#17203 feat: handle table label & description updates
  packages/backend/src/models/CatalogModel/CatalogModel.ts
Labels: ⚙️ backend

#17214 feat: handle ai metric creation on catalog_search index
  packages/backend/src/models/CatalogModel/CatalogModel.ts
  packages/backend/src/services/CatalogService/CatalogService.ts
  packages/common/src/types/changeset.ts
Labels: ⚙️ backend

#17221 feat: ask user to create metric from custom metric after ai artifact
  packages/backend/src/ee/services/ai/agents/agent.ts
  packages/backend/src/ee/services/ai/tools/generateBarVizConfig.ts
  packages/backend/src/ee/services/ai/tools/generateTableVizConfig.ts
  packages/backend/src/ee/services/ai/tools/generateTimeSeriesVizConfig.ts
Labels: ⚙️ backend, 🤖 AI Agents

#17041 feat: add filters to project switcher
  packages/frontend/src/components/NavBar/ProjectSwitcher.tsx
Labels: 🖥 frontend

#17169 fix: slack app in socket mode
  packages/backend/package.json
  packages/backend/src/clients/Slack/SlackClient.ts
  pnpm-lock.yaml
Labels: 💜 customer support

#17274 feat: send email notification when schedule fails
  packages/backend/src/clients/EmailClient/EmailClient.ts
  packages/backend/src/scheduler/SchedulerTask.ts
Labels: ⚙️ backend

#17287 fix: check if registered user when user creds required
  packages/backend/src/services/AsyncQueryService/AsyncQueryService.test.ts
  packages/backend/src/services/AsyncQueryService/AsyncQueryService.ts
  packages/backend/src/services/AsyncQueryService/types.ts
  packages/backend/src/services/ProjectService/ProjectService.ts
Labels: ⚙️ backend

#17295 fix: wrap in config and do not duplicate meta
  packages/cli/src/dbt/models.ts
Labels: 🐛 bug, 🎮 CLI

#17260 feat: improve schedulers table&logs ux
  packages/backend/src/controllers/schedulerController.ts
  packages/backend/src/generated/routes.ts
  packages/backend/src/generated/swagger.json
  packages/backend/src/models/SchedulerModel/index.ts
  packages/backend/src/services/SchedulerService/SchedulerService.ts
  packages/common/src/types/schedulerLog.ts
  packages/frontend/src/components/SchedulersView/LogsTable.tsx
  packages/frontend/src/components/SchedulersView/LogsTopToolbar.tsx
  packages/frontend/src/components/SchedulersView/LogsView.tsx
  packages/frontend/src/components/SchedulersView/SchedulerTopToolbar.tsx
  packages/frontend/src/components/SchedulersView/SchedulersTable.tsx
  packages/frontend/src/components/SchedulersView/SchedulersView.module.css
  packages/frontend/src/components/SchedulersView/SchedulersView.tsx
  packages/frontend/src/components/SchedulersView/SchedulersViewActionMenu.tsx
  packages/frontend/src/components/SchedulersView/SchedulersViewUtils.tsx
  packages/frontend/src/components/SchedulersView/filters/CreatedByFilter.tsx
  packages/frontend/src/components/SchedulersView/filters/DestinationFilter.tsx
  packages/frontend/src/components/SchedulersView/filters/FormatFilter.module.css
  packages/frontend/src/components/SchedulersView/filters/FormatFilter.tsx
  packages/frontend/src/components/SchedulersView/filters/ResourceTypeFilter.module.css
  packages/frontend/src/components/SchedulersView/filters/ResourceTypeFilter.tsx
  packages/frontend/src/components/SchedulersView/filters/SearchFilter.module.css
  packages/frontend/src/components/SchedulersView/filters/SearchFilter.tsx
  packages/frontend/src/components/SchedulersView/filters/StatusFilter.tsx
  packages/frontend/src/components/SchedulersView/index.tsx
  packages/frontend/src/components/SettingsScheduler/SchedulerSettingsForm.tsx
  packages/frontend/src/components/SettingsScheduler/index.tsx
  packages/frontend/src/features/scheduler/components/SchedulersList.tsx
  packages/frontend/src/features/scheduler/hooks/useLogsFilters.ts
  packages/frontend/src/features/scheduler/hooks/useScheduler.ts
  packages/frontend/src/features/scheduler/hooks/useSchedulerFilters.ts
  packages/frontend/src/pages/Settings.tsx
Labels: 🖥 frontend, ⚙️ backend

#17310 fix: get correct breadcrumb & prompt list is scrollable
  packages/frontend/src/ee/features/aiCopilot/components/Evals/EvalDetail.tsx
  packages/frontend/src/ee/features/aiCopilot/components/Evals/EvalSectionLayout.tsx
Labels: 🖥 frontend
