Repository lightdash/lightdash, pull requests merged in 2025-02, with the labels that each got.

#13507 fix: disable emphasis on echarts mouseout
  packages/frontend/src/components/SimpleChart/index.tsx
Labels: 🐛 bug, 🖥 frontend

#13528 fix: check if scim flag is on via posthog or env
  packages/backend/src/ee/index.ts
  packages/backend/src/ee/services/ScimService/ScimService.mock.ts
  packages/backend/src/ee/services/ScimService/ScimService.ts
Labels: ⚙️ backend, 💜 customer support

#13547 chore: improve messaging on user attribute default value
  packages/frontend/src/components/UserSettings/UserAttributesPanel/UserAttributeModal.tsx
Labels: 🖥 frontend

#13567 fix: handle hidden column if conditional format
  packages/common/src/utils/conditionalFormatting.ts
Labels: 🐛 bug, 🖥 frontend

#13533 style: add padding between searchbar and title in 'Tables' sidebar
  packages/frontend/src/components/Explorer/ExploreSideBar/index.tsx
Labels: 🖥 frontend

#13340 fix: resize edit tab to match Add New tab width
  packages/frontend/src/components/DashboardTabs/EditTabModal.tsx
Labels: 🖥 frontend

#13610 test: update expected snowflake e2e value
  packages/e2e/cypress/e2e/app/createProjects.cy.ts
Labels: tech-debt

#13692 fix: batch insert when running validator
  packages/backend/src/models/ValidationModel/ValidationModel.ts
Labels: 🐛 bug, ⚙️ backend

#13695 feat: remove legacy sql runner page
  packages/backend/src/controllers/projectController.ts
  packages/backend/src/routers/projectRouter.ts
  packages/backend/src/services/CsvService/CsvService.ts
  packages/e2e/cypress/e2e/app/downloadCsv.cy.ts
  packages/e2e/cypress/e2e/app/sqlRunner.cy.ts
  packages/e2e/cypress/e2e/app/sqlrunner.cy.ts
  packages/frontend/src/MobileRoutes.tsx
  packages/frontend/src/Routes.tsx
  packages/frontend/src/api/csv.ts
  packages/frontend/src/components/DownloadSqlCsvButton/index.tsx
  packages/frontend/src/components/Explorer/VisualizationCard/VisualizationConfigPanel.tsx
  packages/frontend/src/components/LightdashVisualization/VisualizationProvider.tsx
  packages/frontend/src/components/LightdashVisualization/context.ts
  packages/frontend/src/components/SimpleStatistic/index.tsx
  packages/frontend/src/components/SimpleTable/index.tsx
  packages/frontend/src/components/SqlRunner/SqlRunerLoadingSkeleton.tsx
  packages/frontend/src/components/SqlRunner/SqlRunnerInput.tsx
  packages/frontend/src/components/SqlRunner/SqlRunnerResultsTable.tsx
  packages/frontend/src/components/VisualizationConfigs/BigNumberConfig/index.tsx
  packages/frontend/src/components/VisualizationConfigs/ChartConfigPanel/index.tsx
  packages/frontend/src/components/VisualizationConfigs/FunnelChartConfig/index.tsx
  packages/frontend/src/components/VisualizationConfigs/PieChartConfig/index.tsx
  packages/frontend/src/components/VisualizationConfigs/TableConfigPanel/index.tsx
  packages/frontend/src/components/common/SqlRunner/CatalogTree.tsx
  packages/frontend/src/features/virtualView/components/EditVirtualViewModal.tsx
  packages/frontend/src/hooks/useColumns.tsx
  packages/frontend/src/hooks/useExplorerRoute.ts
  packages/frontend/src/hooks/useProjectCatalog.ts
  packages/frontend/src/hooks/useProjectCatalogAceEditorCompleter.ts
  packages/frontend/src/hooks/useProjectCatalogTree.tsx
  packages/frontend/src/hooks/useSqlQuery.ts
  packages/frontend/src/hooks/useSqlQueryVisualization.ts
  packages/frontend/src/hooks/useSqlRunnerColumns.ts
  packages/frontend/src/hooks/useSqlRunnerRoute.ts
  packages/frontend/src/pages/SqlRunner.tsx
  packages/frontend/src/pages/SqlRunnerNew.tsx
Labels: 🖥 frontend, ⚙️ backend, tech-debt

#13767 fix: editor project access
  packages/common/src/authorization/organizationMemberAbility.ts
  packages/common/src/authorization/projectMemberAbility.ts
Labels: 🐛 bug

#13863 chore: share errors to ignore in sentry on BE and worker
  packages/backend/src/SchedulerApp.ts
  packages/backend/src/sentry.ts
Labels: 👩‍💻 devx
