Repository lightdash/lightdash, pull requests merged in 2025-01, with the labels that each got.

#13146 fix: google sheets sync timezone empty string
  packages/frontend/src/features/sync/components/SyncModalForm.tsx
Labels: 🐛 bug, 💜 customer support

#13155 feat: allow filtering by boolean dim in metrics explorer
  packages/backend/src/services/MetricsExplorerService/MetricsExplorerService.ts
  packages/frontend/src/features/metricsCatalog/components/MetricPeekModal.tsx
  packages/frontend/src/features/metricsCatalog/components/visualization/MetricExploreFilter.tsx
  packages/frontend/src/features/metricsCatalog/styles/useFilterStyles.ts
  packages/frontend/src/features/metricsCatalog/utils/metricExploreFilter.tsx
Labels: 🖥 frontend

#13175 refactor: replace peek references with explore
  packages/frontend/src/features/metricsCatalog/components/ExploreMetricButton.tsx
  packages/frontend/src/features/metricsCatalog/components/MetricExploreModal.tsx
  packages/frontend/src/features/metricsCatalog/components/MetricsCatalogPanel.tsx
  packages/frontend/src/features/metricsCatalog/components/MetricsTable.tsx
  packages/frontend/src/features/metricsCatalog/components/visualization/MetricExploreComparison.tsx
  packages/frontend/src/features/metricsCatalog/components/visualization/MetricExploreDatePicker.tsx
  packages/frontend/src/features/metricsCatalog/components/visualization/MetricExploreSegmentationPicker.tsx
  packages/frontend/src/features/metricsCatalog/components/visualization/MetricExploreTooltip.tsx
  packages/frontend/src/features/metricsCatalog/components/visualization/MetricsVisualization.tsx
  packages/frontend/src/features/metricsCatalog/hooks/useDateRangePicker.tsx
  packages/frontend/src/features/metricsCatalog/store/metricsCatalogSlice.ts
  packages/frontend/src/features/metricsCatalog/utils/metricExploreDate.tsx
Labels: tech-debt

#13240 fix: create project with compile
  packages/backend/src/App.ts
  packages/backend/src/SchedulerApp.ts
  packages/backend/src/database/migrations/20250113135824_redact-graphile-job-data.ts
  packages/backend/src/scheduler/SchedulerTask.ts
  packages/backend/src/services/CsvService/CsvService.test.ts
  packages/backend/src/services/ProjectService/ProjectService.test.ts
  packages/backend/src/services/ProjectService/ProjectService.ts
  packages/backend/src/services/ServiceRepository.ts
  packages/common/src/types/scheduler.ts
Labels: 🐛 bug, ⚙️ backend

#13272 style: apply same padding to comparison box
  packages/frontend/src/features/metricsCatalog/components/visualization/MetricExploreComparison.tsx
Labels: 🖥 frontend

#13271 fix: only disable date range selection when fetching
  packages/frontend/src/features/metricsCatalog/components/visualization/MetricExploreDatePicker.tsx
Labels: 🐛 bug, 🖥 frontend

#13321 chore: unauthorize metric tree changes in demo
  packages/backend/src/controllers/catalogController.ts
Labels: ⚙️ backend

#13322 chore: store just the userUuid in catalog slice
  packages/frontend/src/features/metricsCatalog/components/MetricsCatalogPanel.tsx
  packages/frontend/src/features/metricsCatalog/store/metricsCatalogSlice.ts
Labels: 🖥 frontend

#13338 fix: email with pdf attachments
  packages/backend/src/clients/Aws/s3.ts
  packages/backend/src/services/UnfurlService/UnfurlService.ts
Labels: 🐛 bug, 💜 customer support

#13344 fix: support dbt selectors * and @
  packages/backend/src/dbt/dbtCliClient.test.ts
  packages/backend/src/dbt/dbtCliClient.ts
Labels: 🐛 bug, ⚙️ backend, 💜 customer support

#13347 fix: show error when no models are found
  packages/backend/src/models/ProjectModel/ProjectModel.ts
  packages/backend/src/projectAdapters/dbtBaseProjectAdapter.ts
  packages/backend/src/services/ProjectService/ProjectService.ts
Labels: 🐛 bug, ⚙️ backend, 💜 customer support

#13352 fix: prevent canvas infinite loop when calling setLayout on useEffect
  packages/frontend/src/features/metricsCatalog/components/Canvas/index.tsx
Labels: 🐛 bug

#13408 feat: handle yml-vs-ui catagories on spotlight
  packages/frontend/src/features/metricsCatalog/components/CatalogCategory.tsx
  packages/frontend/src/features/metricsCatalog/components/MetricCatalogCategoryFormItem.tsx
  packages/frontend/src/features/metricsCatalog/components/MetricsCatalogCategoryForm.tsx
Labels: 🖥 frontend

#13433 chore: log errored sql when pivotting fails in runner
  packages/backend/src/services/ProjectService/ProjectService.ts
Labels: ⚙️ backend

#13446 feat: add script to fix duplicate slugs for charts
  packages/backend/src/ee/repl/index.ts
  packages/backend/src/ee/repl/scripts/fixDuplicateSlugs.test.ts
  packages/backend/src/ee/repl/scripts/fixDuplicateSlugs.ts
  packages/backend/src/ee/repl/scripts/listProjects.test.ts
  packages/backend/src/ee/repl/scripts/listProjects.ts
  packages/backend/src/ee/repl/scripts/testUtils/index.ts
  packages/backend/src/utils/SlugUtils.ts
Labels: 💜 customer support
