Repository lightdash/lightdash, pull requests merged in 2025-09, with the labels that each got.

#16608 feat: allow creating custom metrics on table and viz tool calls
  packages/backend/src/ee/controllers/aiAgentController.ts
  packages/backend/src/ee/services/AiAgentService.ts
  packages/backend/src/ee/services/McpService/McpService.ts
  packages/backend/src/ee/services/ai/prompts/system.ts
  packages/backend/src/ee/services/ai/tools/generateBarVizConfig.ts
  packages/backend/src/ee/services/ai/tools/generateTableVizConfig.ts
  packages/backend/src/ee/services/ai/tools/generateTimeSeriesVizConfig.ts
  packages/backend/src/ee/services/ai/tools/runMetricQuery.ts
  packages/backend/src/ee/services/ai/utils/populateCustomMetricsSQL.ts
  packages/backend/src/ee/services/ai/utils/validators.ts
  packages/backend/src/ee/services/ai/visualizations/vizTable.ts
  packages/backend/src/ee/services/ai/visualizations/vizTimeSeries.ts
  packages/backend/src/ee/services/ai/visualizations/vizVerticalBar.ts
  packages/backend/src/generated/routes.ts
  packages/backend/src/generated/swagger.json
  packages/common/src/ee/AiAgent/schemas/customMetrics.ts
  packages/common/src/ee/AiAgent/schemas/index.ts
  packages/common/src/ee/AiAgent/schemas/tools/toolTableVizArgs.ts
  packages/common/src/ee/AiAgent/schemas/tools/toolTimeSeriesArgs.ts
  packages/common/src/ee/AiAgent/schemas/tools/toolVerticalBarArgs.ts
  packages/common/src/ee/AiAgent/schemas/visualizations/tableViz.ts
  packages/common/src/ee/AiAgent/schemas/visualizations/timeSeriesViz.ts
  packages/common/src/ee/AiAgent/schemas/visualizations/verticalBarViz.ts
  packages/common/src/ee/AiAgent/types.ts
  packages/common/src/ee/AiAgent/utils.ts
  packages/common/src/utils/additionalMetrics.ts
  packages/frontend/src/components/Explorer/ExploreTree/TableTree/Tree/TreeSingleNodeActions.tsx
  packages/frontend/src/ee/features/aiCopilot/utils/echarts.ts
Labels: ⚙️ backend

#16674 feat: add ai agents mobile view
  packages/frontend/src/MobileRoutes.tsx
  packages/frontend/src/components/NavBar/AiAgentsButton.tsx
  packages/frontend/src/ee/CommercialRoutes.tsx
  packages/frontend/src/ee/features/aiCopilot/components/AiAgentPageLayout/AiAgentPageLayout.tsx
  packages/frontend/src/ee/features/aiCopilot/components/ChatElements/AiChartVisualization.tsx
  packages/frontend/src/ee/features/aiCopilot/hooks/useAiAgentsButtonVisibility.ts
  packages/frontend/src/ee/pages/AiAgents/AiAgentsRootLayout.tsx
Labels: 🖥 frontend

#16691 chore: add ai agent admin controller
  examples/api/ai-agents.http
  packages/backend/src/ee/controllers/AiAgentAdminController.ts
  packages/backend/src/ee/index.ts
  packages/backend/src/ee/models/AiAgentModel.ts
  packages/backend/src/ee/services/AiAgentAdminService.ts
  packages/backend/src/generated/routes.ts
  packages/backend/src/generated/swagger.json
  packages/backend/src/services/ServiceRepository.ts
  packages/common/src/ee/AiAgent/adminTypes.ts
  packages/common/src/ee/AiAgent/index.ts
Labels: ⚙️ backend

#16705 feat: display ai agent admin panel for all threads
  packages/backend/src/ee/controllers/AiAgentAdminController.ts
  packages/backend/src/ee/models/AiAgentModel.ts
  packages/backend/src/generated/routes.ts
  packages/backend/src/generated/swagger.json
  packages/common/src/ee/AiAgent/adminTypes.ts
  packages/common/src/index.ts
  packages/frontend/src/ee/CommercialRoutes.tsx
  packages/frontend/src/ee/features/aiCopilot/components/Admin/AiAgentAdminThreadsTable.tsx
  packages/frontend/src/ee/features/aiCopilot/components/Admin/AiAgentsAdminLayout.tsx
  packages/frontend/src/ee/features/aiCopilot/hooks/useAiAgentAdmin.ts
  packages/frontend/src/ee/pages/AiAgents/Admin/AiAgentsAdminPage.tsx
Labels: 🖥 frontend

#16721 feat: show thread preview on click of row
  packages/frontend/src/ee/features/aiCopilot/components/Admin/AiAgentAdminThreadsTable.tsx
  packages/frontend/src/ee/features/aiCopilot/components/Admin/AiAgentsAdminLayout.module.css
  packages/frontend/src/ee/features/aiCopilot/components/Admin/AiAgentsAdminLayout.tsx
  packages/frontend/src/ee/features/aiCopilot/components/Admin/ThreadPreviewSidebar.tsx
  packages/frontend/src/ee/features/aiCopilot/components/ChatElements/AgentChatAssistantBubble.tsx
  packages/frontend/src/ee/features/aiCopilot/providers/AiLayoutProvider.tsx
  packages/frontend/src/ee/pages/AiAgents/Admin/AiAgentsAdminPage.tsx
Labels: 🖥 frontend

#16744 refactor: move artifacts to store and simplify layout changes
  packages/frontend/src/ee/features/aiCopilot/components/Admin/ThreadPreviewSidebar.tsx
  packages/frontend/src/ee/features/aiCopilot/components/AiAgentPageLayout/AiAgentPageLayout.tsx
  packages/frontend/src/ee/features/aiCopilot/components/ChatElements/AgentChatAssistantBubble.tsx
  packages/frontend/src/ee/features/aiCopilot/components/ChatElements/AgentChatDisplay.tsx
  packages/frontend/src/ee/features/aiCopilot/components/ChatElements/AiArtifactPanel.tsx
  packages/frontend/src/ee/features/aiCopilot/components/ChatElements/AiChartVisualization.tsx
  packages/frontend/src/ee/features/aiCopilot/providers/AiLayoutProvider.tsx
  packages/frontend/src/ee/features/aiCopilot/store/aiAgentThreadStreamSlice.ts
  packages/frontend/src/ee/features/aiCopilot/store/aiArtifactSlice.ts
  packages/frontend/src/ee/features/aiCopilot/store/hooks.ts
  packages/frontend/src/ee/features/aiCopilot/store/index.ts
  packages/frontend/src/ee/features/aiCopilot/streaming/AiAgentThreadStreamStoreProvider.tsx
  packages/frontend/src/ee/features/aiCopilot/streaming/useAiAgentThreadStreamMutation.ts
  packages/frontend/src/ee/features/aiCopilot/streaming/useAiAgentThreadStreamQuery.ts
  packages/frontend/src/ee/pages/AiAgents/Admin/AiAgentsAdminPage.tsx
  packages/frontend/src/ee/pages/AiAgents/AgentPage.tsx
  packages/frontend/src/ee/pages/AiAgents/AgentThreadPage.tsx
  packages/frontend/src/ee/pages/AiAgents/AiAgentsRootLayout.tsx
Labels: tech-debt

#16769 chore: lazy load @monaco-editor/react imports in explore
  packages/frontend/src/components/Explorer/SqlCard/SqlCard.tsx
  packages/frontend/src/components/Explorer/VisualizationCard/VisualizationConfig.tsx
  packages/frontend/src/components/VisualizationConfigs/ChartConfigPanel/Legend/index.tsx
Labels: 🖥 frontend, tech-debt

#16784 style: improve job drawer error logs
  packages/frontend/src/components/JobDetailsDrawer/index.tsx
Labels: 🖥 frontend

#16805 fix: filter invalid references in pivot configuration and validate value columns
  packages/common/src/pivot/derivePivotConfigFromChart.ts
Labels: 🐛 bug

#16738 feat: set filters in url when interacting with ai admin threads
  packages/frontend/src/ee/features/aiCopilot/components/Admin/AgentsFilter.tsx
  packages/frontend/src/ee/features/aiCopilot/components/Admin/AiAgentAdminThreadsTable.tsx
  packages/frontend/src/ee/features/aiCopilot/components/Admin/AiAgentAdminTopToolbar.tsx
  packages/frontend/src/ee/features/aiCopilot/components/Admin/FeedbackFilter.tsx
  packages/frontend/src/ee/features/aiCopilot/components/Admin/ProjectsFilter.tsx
  packages/frontend/src/ee/features/aiCopilot/components/Admin/SearchFilter.tsx
  packages/frontend/src/ee/features/aiCopilot/components/Admin/SourceFilter.tsx
  packages/frontend/src/ee/features/aiCopilot/hooks/useAiAgentAdminFilters.ts
Labels: 🖥 frontend

#16899 fix: hidding values columns
  packages/common/src/pivot/pivotQueryResults.ts
Labels: 🐛 bug

#16963 feat: enable sentry&mcp monitoring
  packages/backend/package.json
  packages/backend/src/ee/services/McpService/McpService.ts
  packages/backend/src/sentry.ts
  pnpm-lock.yaml
Labels: 👩‍💻 devx

#16962 chore: add todo to address OPENAI_RESPONSES_API
  packages/backend/src/ee/services/ai/models/openai-gpt.ts
Labels: tech-debt

#16987 fix: only render insights if set up in ai agent admin
  packages/backend/src/generated/routes.ts
  packages/backend/src/generated/swagger.json
  packages/backend/src/services/HealthService/HealthService.mock.ts
  packages/backend/src/services/HealthService/HealthService.ts
  packages/common/src/index.ts
  packages/frontend/src/ee/features/aiCopilot/components/Admin/AiAgentsAdminLayout.tsx
  packages/frontend/src/testing/__mocks__/api/healthResponse.mock.ts
Labels: 🖥 frontend, ⚙️ backend

#17023 chore: reorganise ai agent edit page & evals
  packages/frontend/src/ee/CommercialRoutes.tsx
  packages/frontend/src/ee/features/aiCopilot/components/AiAgentEditPageLayout/AiAgentEditPageLayout.module.css
  packages/frontend/src/ee/features/aiCopilot/components/AiAgentEditPageLayout/AiAgentEditPageLayout.tsx
  packages/frontend/src/ee/features/aiCopilot/components/AiAgentFormSetup.tsx
  packages/frontend/src/ee/features/aiCopilot/components/Evals/EvalDetail.tsx
  packages/frontend/src/ee/features/aiCopilot/components/Evals/EvalFormModal.tsx
  packages/frontend/src/ee/features/aiCopilot/components/Evals/EvalPromptThreadReference.tsx
  packages/frontend/src/ee/features/aiCopilot/components/Evals/EvalRunDetails.tsx
  packages/frontend/src/ee/features/aiCopilot/components/Evals/EvalRuns.tsx
  packages/frontend/src/ee/features/aiCopilot/components/Evals/EvalSectionLayout.module.css
  packages/frontend/src/ee/features/aiCopilot/components/Evals/EvalSectionLayout.tsx
  packages/frontend/src/ee/features/aiCopilot/components/Evals/EvalTabLayout.tsx
  packages/frontend/src/ee/features/aiCopilot/hooks/useEvalSectionContext.ts
  packages/frontend/src/ee/pages/AiAgents/EvalsSetup.tsx
  packages/frontend/src/ee/pages/AiAgents/ProjectAiAgentEditPage.tsx
Labels: 🖥 frontend

#17108 chore: track ai agent tool calling
  packages/backend/src/analytics/LightdashAnalytics.ts
  packages/backend/src/ee/services/AiAgentService.ts
  packages/backend/src/ee/services/ai/agents/agent.ts
  packages/backend/src/ee/services/ai/types/aiAgentDependencies.ts
Labels: 📈 analytics-events
