Repository lightdash/lightdash, pull requests merged in 2025-04, with the labels that each got.

#14285 feat: nested spaces (backend)
  examples/api/nested-spaces.http
  packages/backend/src/database/entities/spaces.ts
  packages/backend/src/database/migrations/20250404110407_nested_spaces.ts
  packages/backend/src/database/seeds/development/01_initial_user.ts
  packages/backend/src/database/seeds/development/05_nested_spaces.ts
  packages/backend/src/generated/routes.ts
  packages/backend/src/generated/swagger.json
  packages/backend/src/models/DashboardModel/DashboardModel.mock.ts
  packages/backend/src/models/ProjectModel/ProjectModel.ts
  packages/backend/src/models/ResourceViewItemModel.ts
  packages/backend/src/models/SpaceModel.ts
  packages/backend/src/services/CoderService/CoderService.ts
  packages/backend/src/services/DashboardService/DashboardService.mock.ts
  packages/backend/src/services/PromoteService/PromoteService.mock.ts
  packages/backend/src/services/PromoteService/PromoteService.test.ts
  packages/backend/src/services/PromoteService/PromoteService.ts
  packages/backend/src/services/SpaceService/SpaceService.test.ts
  packages/backend/src/services/SpaceService/SpaceService.ts
  packages/common/src/index.ts
  packages/common/src/types/promotion.ts
  packages/common/src/types/space.ts
  packages/common/src/utils/slug.test.ts
  packages/common/src/utils/slugs.ts
  packages/frontend/src/components/common/ShareSpaceModal/index.tsx
Labels: ⚙️ backend

#14378 chore: remove add-existing-content from Space view
  packages/frontend/src/hooks/useContent.ts
  packages/frontend/src/pages/Space.tsx
Labels: 🖥 frontend

#14459 style: improve explore error hovercard
  packages/frontend/src/components/Explorer/ExploreSideBar/ExploreNavLink.tsx
Labels: 🐛 bug, 🖥 frontend

#14477 chore: expose storybook port on dev docker-compose
  docker/docker-compose.dev.yml
  packages/frontend/package.json
Labels: 👩‍💻 devx

#14478 chore: add MantineModal to storybook
  packages/frontend/src/stories/Modal.stories.tsx
Labels: 👩‍💻 devx

#14533 feat: order content by rank
  packages/backend/src/generated/routes.ts
  packages/backend/src/generated/swagger.json
  packages/backend/src/models/ContentModel/ContentConfigurations/DashboardContentConfiguration.ts
  packages/backend/src/models/ContentModel/ContentConfigurations/DbtExploreChartContentConfiguration.ts
  packages/backend/src/models/ContentModel/ContentConfigurations/SemanticViewerChartContentConfiguration.ts
  packages/backend/src/models/ContentModel/ContentConfigurations/SpaceContentConfiguration.ts
  packages/backend/src/models/ContentModel/ContentConfigurations/SqlChartContentConfiguration.ts
  packages/backend/src/models/ContentModel/ContentModel.ts
  packages/backend/src/models/ContentModel/ContentModelTypes.ts
  packages/frontend/src/components/common/ResourceView/InfiniteResourceTable.tsx
Labels: 🖥 frontend, ⚙️ backend

#14526 style: apply some changes to Space UI
  packages/frontend/src/components/DashboardFilter/FilterConfiguration/TileFilterConfiguration.tsx
  packages/frontend/src/components/DashboardTiles/TileForms/AddChartTilesModal.tsx
  packages/frontend/src/components/DashboardTiles/TileForms/TileAddModal.tsx
  packages/frontend/src/components/common/ResourceIcon/index.tsx
  packages/frontend/src/components/common/ResourceView/ContentTypeFilter.tsx
  packages/frontend/src/components/common/ResourceView/InfiniteResourceTable.tsx
  packages/frontend/src/features/omnibar/components/OmnibarItemIcon.tsx
  packages/frontend/src/features/omnibar/components/utils.ts
  packages/frontend/src/pages/Space.tsx
  packages/frontend/src/pages/SpacesV2.tsx
Labels: 🖥 frontend

#14555 chore: apply copy updates to nested-spaces-related modals
  packages/frontend/src/components/common/MantineModal/index.tsx
  packages/frontend/src/components/common/ShareSpaceModal/index.tsx
  packages/frontend/src/components/common/SpaceActionModal/CreateSpaceModalContent.tsx
  packages/frontend/src/components/common/SpaceActionModal/DeleteSpaceModal.tsx
  packages/frontend/src/components/common/SpaceActionModal/DeleteSpaceModalContent.tsx
  packages/frontend/src/components/common/SpaceActionModal/index.tsx
  packages/frontend/src/components/common/SpaceSelector/SpaceCreationForm.tsx
  packages/frontend/src/pages/Space.tsx
Labels: 🖥 frontend

#14574 fix: add loading states/overlays when moving
  packages/frontend/src/components/Explorer/SavedChartsHeader/index.tsx
  packages/frontend/src/components/common/Dashboard/DashboardHeader.tsx
  packages/frontend/src/components/common/ResourceView/ResourceActionHandlers.tsx
  packages/frontend/src/components/common/TransferItemsModal/TransferItemsModal.tsx
  packages/frontend/src/components/common/modal/DashboardCreateModal.tsx
  packages/frontend/src/features/semanticViewer/components/Modals/SaveSemanticViewerChartModal.tsx
  packages/frontend/src/features/sqlRunner/components/SaveSqlChartModal.tsx
  packages/frontend/src/features/sqlRunner/components/UpdateSqlChartModal.tsx
  packages/frontend/src/pages/Dashboard.tsx
Labels: 🖥 frontend
